/* line 4, ../scss/components/_typography.scss */
h1 {
  font-size: 32px;
}

/* line 11, ../scss/components/_typography.scss */
ul.unstyled {
  list-style: none;
}

/* STP Table */
/* table styling */
/* line 3, ../scss/components/_table.scss */
table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

@media screen and (max-width: 640px) {
  /* line 10, ../scss/components/_table.scss */
  table {
    width: 100%;
  }
}
/* line 15, ../scss/components/_table.scss */
table thead {
  border: 1px solid #bfc1c3;
}

/* line 19, ../scss/components/_table.scss */
table tbody {
  border: 1px dotted #bfc1c3;
}

/* line 23, ../scss/components/_table.scss */
table tr {
  border-top: 1px dotted #bfc1c3;
  /*&:nth-child(odd) {
    background: #f8f8f8;
  }*/
}

/* line 30, ../scss/components/_table.scss */
table tr:first-child {
  border-top: 0;
}

/* line 34, ../scss/components/_table.scss */
table th {
  font-size: 1.6rem;
  font-weight: 600;
  background: #dee0e2;
  padding: .8em;
  vertical-align: middle;
  border-left: 1px solid #bfc1c3;
  line-height: 1.4em;
}

/* line 44, ../scss/components/_table.scss */
table th:first-child {
  width: 75%;
  border-left: 0;
  text-align: left;
}

@media screen and (max-width: 600px) {
  /* line 51, ../scss/components/_table.scss */
  table th:first-child {
    width: auto;
  }
}
/* line 56, ../scss/components/_table.scss */
.ie table th {
  font-size: 16px;
}

/* line 60, ../scss/components/_table.scss */
.ie7 table th {
  border-top: 1px solid #bfc1c3;
  border-bottom: 1px solid #bfc1c3;
  border-left: 0;
  border-right: 1px solid #bec0c2;
}

/* line 67, ../scss/components/_table.scss */
.ie7 table th:first-child {
  border-left: 1px solid #bec0c2;
}

/* line 71, ../scss/components/_table.scss */
table td {
  font-size: 1.6rem;
  padding: 1.0em .8em;
  border-left: 1px dotted #bfc1c3;
  line-height: 1em;
}

/* line 78, ../scss/components/_table.scss */
table td span {
  display: block;
  padding: .35em 0;
}

/* line 83, ../scss/components/_table.scss */
table td span.amount-breakdown {
  color: #8d8d8d;
}

/* line 87, ../scss/components/_table.scss */
table td:first-child {
  border-left: 0;
  text-align: left;
  font-weight: bold;
}

/* line 93, ../scss/components/_table.scss */
table td:last-child {
  font-size: 2.4rem;
  font-weight: bold;
}

/* line 98, ../scss/components/_table.scss */
.ie table td {
  font-size: 16px;
}

/* line 102, ../scss/components/_table.scss */
.ie7 table td {
  border-left: 0;
  border-bottom: 1px dotted #bfc1c3;
  border-right: 1px dotted #bfc1c3;
}

/* line 108, ../scss/components/_table.scss */
.ie7 table td:first-child {
  border-left: 1px dotted #bfc1c3;
}

/* line 112, ../scss/components/_table.scss */
table td a.info {
  float: right;
  font-weight: normal;
}

/* line 117, ../scss/components/_table.scss */
table td p.sp-info {
  padding: 0 2em 2em  0;
}

@media screen and (max-width: 660px) {
  /* line 122, ../scss/components/_table.scss */
  table .desc {
    display: none;
  }
}
/* line 127, ../scss/components/_table.scss */
table caption {
  text-indent: -9999px;
  font-size: 0;
}

/* line 132, ../scss/components/_table.scss */
table.employment th, table.employment td {
  text-align: left;
}

/* line 136, ../scss/components/_table.scss */
table.employment th:first-child, table.employment td:first-child {
  width: 65%;
}

/* line 140, ../scss/components/_table.scss */
table.employment th.desc, table.employment td.desc {
  width: 40%;
}

/* line 144, ../scss/components/_table.scss */
table.additional-sp {
  margin: 20px 0;
}

/* line 148, ../scss/components/_table.scss */
table.additional-sp td {
  font-weight: normal;
}

/* line 152, ../scss/components/_table.scss */
table.additional-sp td:last-child {
  font-size: 2.4rem;
  font-weight: bold;
}
