@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

/* line 5, ../scss/components/_buttons.scss */
.button {
  background-color: #b10e1e;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #6a0812;
  -moz-box-shadow: 0 2px 0 #6a0812;
  box-shadow: 0 2px 0 #6a0812;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white;
}
/* line 48, ../scss/base/mixins/_buttons.scss */
.button:visited {
  background-color: #b10e1e;
}
/* line 52, ../scss/base/mixins/_buttons.scss */
.button:hover, .button:focus {
  background-color: #990c1a;
}
/* line 55, ../scss/base/mixins/_buttons.scss */
.button:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #b10e1e;
  -moz-box-shadow: 0 0 0 #b10e1e;
  box-shadow: 0 0 0 #b10e1e;
}
/* line 63, ../scss/base/mixins/_buttons.scss */
.button.disabled, .button[disabled="disabled"], .button[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 65, ../scss/base/mixins/_buttons.scss */
.button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
  cursor: default;
  background-color: #b10e1e;
}
/* line 69, ../scss/base/mixins/_buttons.scss */
.button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #6a0812;
  -moz-box-shadow: 0 2px 0 #6a0812;
  box-shadow: 0 2px 0 #6a0812;
}
/* line 84, ../scss/base/mixins/_buttons.scss */
.button:link, .button:hover, .button:focus, .button:visited {
  color: white;
}
/* line 99, ../scss/base/mixins/_buttons.scss */
.button:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 109, ../scss/base/mixins/_buttons.scss */
.button:active:before {
  top: -10%;
  height: 120%;
}
/* line 122, ../scss/base/mixins/_buttons.scss */
.button[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}
