@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

/* line 348, ../scss/base/mixins/_forms.scss */
.option.group label input[type="text"] {
  margin-left: 0;
  width: 14em;
  margin-top: -0.3em;
  position: absolute;
}

/* line 356, ../scss/base/mixins/_forms.scss */
::-webkit-input-placeholder {
  padding-top: 0.15em;
  color: #6f777b;
}

/* line 357, ../scss/base/mixins/_forms.scss */
::-moz-placeholder {
  padding-top: 0.15em;
  color: #6f777b;
}

/* firefox 19+ */
/* line 358, ../scss/base/mixins/_forms.scss */
:-ms-input-placeholder {
  padding-top: 0.15em;
  color: #6f777b;
}

/* ie */
/* line 359, ../scss/base/mixins/_forms.scss */
input:-moz-placeholder {
  padding-top: 0.15em;
  color: #6f777b;
}

/* line 130, ../scss/base/mixins/_buttons.scss */
.button {
  background-color: #006435;
  position: relative;
  top: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 2px 0 #00180c;
  -moz-box-shadow: 0 2px 0 #00180c;
  box-shadow: 0 2px 0 #00180c;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white;
}
/* line 35, ../scss/base/mixins/_buttons.scss */
.button:visited {
  background-color: #006435;
}
/* line 39, ../scss/base/mixins/_buttons.scss */
.button:hover, .button:focus {
  background: #004b27;
}
/* line 42, ../scss/base/mixins/_buttons.scss */
.button:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #006435;
  -moz-box-shadow: 0 0 0 #006435;
  box-shadow: 0 0 0 #006435;
}
/* line 50, ../scss/base/mixins/_buttons.scss */
.button.disabled, .button[disabled="disabled"], .button[disabled] {
  opacity: 0.5;
}
/* line 52, ../scss/base/mixins/_buttons.scss */
.button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
  cursor: default;
  background-color: #006435;
}
/* line 56, ../scss/base/mixins/_buttons.scss */
.button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #00180c;
  -moz-box-shadow: 0 2px 0 #00180c;
  box-shadow: 0 2px 0 #00180c;
}
/* line 69, ../scss/base/mixins/_buttons.scss */
.button:hover, .button:focus, .button:visited {
  color: white;
}
/* line 83, ../scss/base/mixins/_buttons.scss */
.button:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 93, ../scss/base/mixins/_buttons.scss */
.button:active:before {
  top: -10%;
  height: 120%;
}
/* line 106, ../scss/base/mixins/_buttons.scss */
.button[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

/* line 134, ../scss/base/mixins/_buttons.scss */
.button-secondary {
  background-color: #dee0e2;
  position: relative;
  top: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c;
}
/* line 35, ../scss/base/mixins/_buttons.scss */
.button-secondary:visited {
  background-color: #dee0e2;
}
/* line 39, ../scss/base/mixins/_buttons.scss */
.button-secondary:hover, .button-secondary:focus {
  background: #d0d3d6;
}
/* line 42, ../scss/base/mixins/_buttons.scss */
.button-secondary:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #dee0e2;
  -moz-box-shadow: 0 0 0 #dee0e2;
  box-shadow: 0 0 0 #dee0e2;
}
/* line 50, ../scss/base/mixins/_buttons.scss */
.button-secondary.disabled, .button-secondary[disabled="disabled"], .button-secondary[disabled] {
  opacity: 0.5;
}
/* line 52, ../scss/base/mixins/_buttons.scss */
.button-secondary.disabled:hover, .button-secondary[disabled="disabled"]:hover, .button-secondary[disabled]:hover {
  cursor: default;
  background-color: #dee0e2;
}
/* line 56, ../scss/base/mixins/_buttons.scss */
.button-secondary.disabled:active, .button-secondary[disabled="disabled"]:active, .button-secondary[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
}
/* line 76, ../scss/base/mixins/_buttons.scss */
.button-secondary:hover, .button-secondary:focus, .button-secondary:visited {
  color: #0b0c0c;
}
/* line 83, ../scss/base/mixins/_buttons.scss */
.button-secondary:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 93, ../scss/base/mixins/_buttons.scss */
.button-secondary:active:before {
  top: -10%;
  height: 120%;
}
/* line 106, ../scss/base/mixins/_buttons.scss */
.button-secondary[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

/* line 138, ../scss/base/mixins/_buttons.scss */
.button-warning {
  background-color: #b10e1e;
  position: relative;
  top: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 2px 0 #6a0812;
  -moz-box-shadow: 0 2px 0 #6a0812;
  box-shadow: 0 2px 0 #6a0812;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white;
}
/* line 35, ../scss/base/mixins/_buttons.scss */
.button-warning:visited {
  background-color: #b10e1e;
}
/* line 39, ../scss/base/mixins/_buttons.scss */
.button-warning:hover, .button-warning:focus {
  background: #990c1a;
}
/* line 42, ../scss/base/mixins/_buttons.scss */
.button-warning:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #b10e1e;
  -moz-box-shadow: 0 0 0 #b10e1e;
  box-shadow: 0 0 0 #b10e1e;
}
/* line 50, ../scss/base/mixins/_buttons.scss */
.button-warning.disabled, .button-warning[disabled="disabled"], .button-warning[disabled] {
  opacity: 0.5;
}
/* line 52, ../scss/base/mixins/_buttons.scss */
.button-warning.disabled:hover, .button-warning[disabled="disabled"]:hover, .button-warning[disabled]:hover {
  cursor: default;
  background-color: #b10e1e;
}
/* line 56, ../scss/base/mixins/_buttons.scss */
.button-warning.disabled:active, .button-warning[disabled="disabled"]:active, .button-warning[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #6a0812;
  -moz-box-shadow: 0 2px 0 #6a0812;
  box-shadow: 0 2px 0 #6a0812;
}
/* line 69, ../scss/base/mixins/_buttons.scss */
.button-warning:hover, .button-warning:focus, .button-warning:visited {
  color: white;
}
/* line 83, ../scss/base/mixins/_buttons.scss */
.button-warning:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 93, ../scss/base/mixins/_buttons.scss */
.button-warning:active:before {
  top: -10%;
  height: 120%;
}
/* line 106, ../scss/base/mixins/_buttons.scss */
.button-warning[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

/* line 5, ../scss/components/_buttons.scss */
.button {
  background-color: #006435;
  position: relative;
  top: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 2px 0 #00180c;
  -moz-box-shadow: 0 2px 0 #00180c;
  box-shadow: 0 2px 0 #00180c;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: white;
}
/* line 35, ../scss/base/mixins/_buttons.scss */
.button:visited {
  background-color: #006435;
}
/* line 39, ../scss/base/mixins/_buttons.scss */
.button:hover, .button:focus {
  background: #004b27;
}
/* line 42, ../scss/base/mixins/_buttons.scss */
.button:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #006435;
  -moz-box-shadow: 0 0 0 #006435;
  box-shadow: 0 0 0 #006435;
}
/* line 50, ../scss/base/mixins/_buttons.scss */
.button.disabled, .button[disabled="disabled"], .button[disabled] {
  opacity: 0.5;
}
/* line 52, ../scss/base/mixins/_buttons.scss */
.button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
  cursor: default;
  background-color: #006435;
}
/* line 56, ../scss/base/mixins/_buttons.scss */
.button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #00180c;
  -moz-box-shadow: 0 2px 0 #00180c;
  box-shadow: 0 2px 0 #00180c;
}
/* line 69, ../scss/base/mixins/_buttons.scss */
.button:hover, .button:focus, .button:visited {
  color: white;
}
/* line 83, ../scss/base/mixins/_buttons.scss */
.button:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 93, ../scss/base/mixins/_buttons.scss */
.button:active:before {
  top: -10%;
  height: 120%;
}
/* line 106, ../scss/base/mixins/_buttons.scss */
.button[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

/* line 9, ../scss/components/_buttons.scss */
.button-back {
  background-color: #dee0e2;
  position: relative;
  top: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c;
}
/* line 35, ../scss/base/mixins/_buttons.scss */
.button-back:visited {
  background-color: #dee0e2;
}
/* line 39, ../scss/base/mixins/_buttons.scss */
.button-back:hover, .button-back:focus {
  background: #d0d3d6;
}
/* line 42, ../scss/base/mixins/_buttons.scss */
.button-back:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #dee0e2;
  -moz-box-shadow: 0 0 0 #dee0e2;
  box-shadow: 0 0 0 #dee0e2;
}
/* line 50, ../scss/base/mixins/_buttons.scss */
.button-back.disabled, .button-back[disabled="disabled"], .button-back[disabled] {
  opacity: 0.5;
}
/* line 52, ../scss/base/mixins/_buttons.scss */
.button-back.disabled:hover, .button-back[disabled="disabled"]:hover, .button-back[disabled]:hover {
  cursor: default;
  background-color: #dee0e2;
}
/* line 56, ../scss/base/mixins/_buttons.scss */
.button-back.disabled:active, .button-back[disabled="disabled"]:active, .button-back[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
}
/* line 76, ../scss/base/mixins/_buttons.scss */
.button-back:hover, .button-back:focus, .button-back:visited {
  color: #0b0c0c;
}
/* line 83, ../scss/base/mixins/_buttons.scss */
.button-back:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 93, ../scss/base/mixins/_buttons.scss */
.button-back:active:before {
  top: -10%;
  height: 120%;
}
/* line 106, ../scss/base/mixins/_buttons.scss */
.button-back[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

/* line 29, ../scss/base/mixins/_forms.scss */
input[type="text"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
select[size],
textarea {
  background-color: #f9f9f9;
  border: 2px inset;
  font-size: 1em;
  padding: 0.1em 0 0.1em 0.4em;
}

/* line 39, ../scss/base/mixins/_forms.scss */
textarea {
  min-height: 10em;
  height: auto;
}

/* line 44, ../scss/base/mixins/_forms.scss */
details {
  padding: 0 1em 0 1em;
}

/* line 49, ../scss/base/mixins/_forms.scss */
label {
  color: #0b0c0c;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  vertical-align: top;
  padding: 0.25em 0;
}
@media (max-width: 640px) {
  /* line 49, ../scss/base/mixins/_forms.scss */
  label {
    font-size: 16px;
    line-height: 1.25;
  }
}

/* line 56, ../scss/base/mixins/_forms.scss */
.option.group {
  padding-bottom: 0.5em;
  padding-left: 1em;
  margin-left: -1em;
}
/* line 60, ../scss/base/mixins/_forms.scss */
.option.group label {
  width: auto;
  float: none;
  text-align: left;
}
/* line 66, ../scss/base/mixins/_forms.scss */
.option.group li {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0.25em 0;
}
/* line 72, ../scss/base/mixins/_forms.scss */
.option.group li label {
  display: inline;
}

/* line 80, ../scss/base/mixins/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.25em;
  vertical-align: 2px;
}

/* line 86, ../scss/base/mixins/_forms.scss */
.hint {
  clear: left;
  display: block;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
}
@media (max-width: 640px) {
  /* line 86, ../scss/base/mixins/_forms.scss */
  .hint {
    font-size: 14px;
    line-height: 1.14286;
  }
}
/* line 91, ../scss/base/mixins/_forms.scss */
.hint:last-child {
  padding-top: 0.25em;
}
/* line 92, ../scss/base/mixins/_forms.scss */
.hint:first-child {
  padding-bottom: 0.25em;
}

/* line 95, ../scss/base/mixins/_forms.scss */
.inline.hint {
  display: inline-block;
}

/* line 100, ../scss/base/mixins/_forms.scss */
label abbr {
  border-bottom: none;
  color: #0b0c0c;
}

/* line 107, ../scss/base/mixins/_forms.scss */
.action.group .button,
.action.group .btn {
  margin-right: 0.5em;
}

/* line 111, ../scss/base/mixins/_forms.scss */
.inline.option label {
  float: left;
  margin-right: 1em;
}

/* line 117, ../scss/base/mixins/_forms.scss */
.inline .group {
  float: left;
  margin-top: 0;
  width: auto;
}

/* line 124, ../scss/base/mixins/_forms.scss */
legend {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 0.5em;
  color: #0b0c0c;
}
@media (max-width: 640px) {
  /* line 124, ../scss/base/mixins/_forms.scss */
  legend {
    font-size: 20px;
    line-height: 1.2;
  }
}

/* line 129, ../scss/base/mixins/_forms.scss */
fieldset {
  margin: 0;
  margin-top: 2em;
}
/* line 133, ../scss/base/mixins/_forms.scss */
fieldset fieldset {
  margin-top: 0;
}
/* line 135, ../scss/base/mixins/_forms.scss */
fieldset fieldset legend {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  color: #0b0c0c;
}
@media (max-width: 640px) {
  /* line 135, ../scss/base/mixins/_forms.scss */
  fieldset fieldset legend {
    font-size: 16px;
    line-height: 1.25;
  }
}

/* line 148, ../scss/base/mixins/_forms.scss */
.validation-summary {
  border: 3px solid #df3034;
  box-sizing: border-box;
  padding: 1em 1em 0.25em 1em;
  margin: 1em -1em 1.5em -1em;
  background-color: #fef7f7;
}
/* line 66, ../scss/base/mixins/_panels.scss */
.validation-summary *:first-child {
  margin-top: 0em;
}
/* line 71, ../scss/base/mixins/_panels.scss */
.validation-summary ul, .validation-summary ol {
  padding-left: 1em;
}
/* line 78, ../scss/base/mixins/_panels.scss */
.validation-summary input[type="text"],
.validation-summary textarea {
  background-color: white;
}
/* line 84, ../scss/base/mixins/_panels.scss */
.validation-summary .inner {
  background-color: white;
  border: 1px solid #bfc1c3;
  padding: 2em;
  margin-bottom: 0.75em;
}
/* line 90, ../scss/base/mixins/_panels.scss */
.validation-summary .inner input[type="text"],
.validation-summary .inner textarea {
  background-color: #f8f8f8;
}
/* line 151, ../scss/base/mixins/_forms.scss */
.validation-summary h1 {
  margin-bottom: 0;
}
/* line 154, ../scss/base/mixins/_forms.scss */
.validation-summary a {
  color: #df3034;
  text-decoration: none;
}
/* line 157, ../scss/base/mixins/_forms.scss */
.validation-summary a:hover {
  text-decoration: underline;
}
/* line 161, ../scss/base/mixins/_forms.scss */
.validation-summary ul, .validation-summary ol {
  color: #df3034;
}
/* line 164, ../scss/base/mixins/_forms.scss */
.validation-summary ul {
  padding-left: 2.2em;
}
/* line 166, ../scss/base/mixins/_forms.scss */
.validation-summary ul li {
  list-style-type: none;
  list-style-image: none;
}
/* line 171, ../scss/base/mixins/_forms.scss */
.validation-summary li {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
}
@media (max-width: 640px) {
  /* line 171, ../scss/base/mixins/_forms.scss */
  .validation-summary li {
    font-size: 14px;
    line-height: 1.14286;
  }
}

/* line 177, ../scss/base/mixins/_forms.scss */
.validation {
  background-color: #fef7f7;
  border-left: 3px solid #df3034;
  margin: 0 -1em 0.5em -1em;
  padding: 0.75em 1em 1em 1em;
}
/* line 182, ../scss/base/mixins/_forms.scss */
.validation .validation-message {
  color: #df3034;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  display: block;
  padding-bottom: 0.5em;
}
@media (max-width: 640px) {
  /* line 182, ../scss/base/mixins/_forms.scss */
  .validation .validation-message {
    font-size: 14px;
    line-height: 1.14286;
  }
}

/* line 198, ../scss/base/mixins/_forms.scss */
input[type="text"] {
  min-width: 2em;
}

/* line 199, ../scss/base/mixins/_forms.scss */
input[type="email"] {
  width: 20em;
}

/* line 200, ../scss/base/mixins/_forms.scss */
input[type="url"] {
  width: 99%;
}

/* line 202, ../scss/base/mixins/_forms.scss */
input.search {
  width: 15em;
}

/* line 203, ../scss/base/mixins/_forms.scss */
input.password {
  width: 15em;
}

/* line 204, ../scss/base/mixins/_forms.scss */
input.email {
  width: 20em;
}

/* line 205, ../scss/base/mixins/_forms.scss */
input.name {
  width: 15em;
}

/* line 206, ../scss/base/mixins/_forms.scss */
input.url {
  width: 99%;
}

/* line 207, ../scss/base/mixins/_forms.scss */
input.full-name {
  width: 20em;
}

/* line 208, ../scss/base/mixins/_forms.scss */
input.street {
  width: 15em;
}

/* line 209, ../scss/base/mixins/_forms.scss */
input.town {
  width: 15em;
}

/* line 210, ../scss/base/mixins/_forms.scss */
input.small {
  width: 5em;
}

/* line 211, ../scss/base/mixins/_forms.scss */
input.postcode {
  width: 5em;
}

/* line 212, ../scss/base/mixins/_forms.scss */
textarea.big {
  width: 20em;
  height: 8em;
}

/* line 214, ../scss/base/mixins/_forms.scss */
textarea.full-size {
  width: 99%;
  height: 15em;
}

/* line 331, ../scss/base/mixins/_forms.scss */
label {
  display: block;
}

/* line 332, ../scss/base/mixins/_forms.scss */
input {
  margin-left: 0;
}

/* line 333, ../scss/base/mixins/_forms.scss */
legend span {
  padding-bottom: 0.3em;
  display: block;
}

/* line 340, ../scss/base/mixins/_forms.scss */
.inline input[type=text],
.inline select,
.inline textarea {
  margin-right: 0.5em;
}
