---
headerTitle: Find an Apprenticeship
---
<div class="hgroup">
  <h1 class="heading-48">Overview</h1>
  <h2 class="subtitle">About apprenticeships</h2>
</div>
<div class="text">
  <p>Apprenticeships combine a job with practical training and study. An apprentice:</p>
  <ul>
    <li>works alongside experienced staff</li>
    <li>gains job-specific skills</li>
    <li>earns a wage</li>
    <li>studies towards a related qualification (usually 1 day a week)</li>
  </ul>
  <p>An apprenticeship takes between 1 and 4 years to complete, depending on the level and prior skills of the candidate.</p>
  <h2 class="heading-36">Levels of apprenticeship</h2>
  <p>There are 3 levels in England:</p>
  <ul>
    <li>Intermediate – equivalent to 5 GCSE passes</li>
    <li>Advanced – equivalent to 2 A level passes</li>
    <li>Higher – lead to NVQ Level 4 and above or a Foundation Degree</li>
  </ul>
  <h2 class="heading-36">Qualifications</h2>
  <p>Apprenticeships can lead to:</p>
  <ul>
    <li>National Vocational Qualifications (NVQs) at Level 2,3,4 or 5</li>
    <li>Functional Skills qualifications, eg in maths or English</li>
    <li>a technical certificate, such as a BTEC or City &amp; Guilds Progression Award</li>
    <li>knowledge-based qualifications, such as a Higher National Certificate (HNC), a Higher National Diploma (HND) or a Foundation degree</li>
  </ul>
  <h2 class="heading-36">Traineeships</h2>
  <p>A traineeship is a course designed to prepare someone for an apprenticeship or get them ready for work.</p>
  <p>A traineeship includes:</p>
  <ul>
    <li>help with English and maths (if needed)</li>
    <li>a work experience placement (lasting at least 6 weeks)</li>
  </ul>
  <p>Traineeships are unpaid. They can take up to 6 months.</p>
  <h2 class="heading-36">How to apply</h2>
  <p>In England, anyone can [apply for an apprenticeship or traineeship](/apply-apprenticeship) if they’re:</p>
  <ul>
    <li>16 or over</li>
    <li>eligible to work in England</li>
    <li>not in full-time education</li>
  </ul>
  <p>Find out about apprenticeships in Scotland and Wales.</p>
  <h2 class="heading-36">Get advice</h2>
  <p>
    If you’re thinking of applying, the [National Careers Service website has information on the [qualifications and careers apprenticeships can lead to](https://nationalcareersservice.direct.gov.uk/advice/courses/typesoflearning/Pages/apprenticeships.aspx).
  </p>
</div>