---
headerTitle: Find an Apprenticeship
---
<main role="main" id="main">
  <section>
      <div id="content-wrapper" class="ad-details">
          <h1 class="heading-48">Apprenticeship details</h1>
          <div class="ad-details__image">
            <figure class="imgwrap imgwrap--square">
              <img src="{{assets}}/img/biz-logo-1.jpg">
            </figure>
            <a class="button secondary" href="apprenticeship-results.html">Back to results</a>
            <a class="button" href="apprenticeship-apply.html">Apply</a>
          </div>
          <h2>Apprentice Mechanical Engineer – Precision Toolmaker with R G Engineering</h2>
          <ul class="search-results__meta">
            <li><b>Number of vacancies:</b> 1</li>
            <li><b>Distance:</b> 5.2 miles</li>
            <li><b>Closing date:</b> 23 May 14</li>
          </ul>

          <div id="ctl00_ContentBody_VacancyPreviewControl1_VacancyPreviewLayout" class="">
    <div id="ctl00_ContentBody_VacancyPreviewControl1_VacancyInfoLayout" class="">
        <div id="ctl00_ContentBody_VacancyPreviewControl1_EmployerNameHeadContainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_EmployerLabel" class="InputLabel">
        Employer
            </span>
            <span id="ctl00_ContentBody_VacancyPreviewControl1_EmployerHyperLink" class="InputLabelVacancyView">R G Engineering</span>
            <div id="ctl00_ContentBody_VacancyPreviewControl1_EmployerVacancyViewImageButtonContainer" style="float: left;">

                <div style="float: right;">

                </div>
            </div>
        </div>
        <div id="ctl00_ContentBody_VacancyPreviewControl1_ProviderNameHeadContainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_ProviderLabel" class="InputLabel">
        Learning Provider
            </span>
            <span id="ctl00_ContentBody_VacancyPreviewControl1_LearningProviderHyperLink" class="InputLabelVacancyView">Delivered by Valkyrie Support Services Ltd.</span>

            <div class="clear1">
            </div>
        </div>






        <div class="UptoDate" visible="false">


        </div>
    </div>
    <br>
    <div id="ctl00_ContentBody_VacancyPreviewControl1_VacancyDescriptionLayout" class="PreviewInputPrintPreview">
        <div class="ApprenticeshipsOrangeBold">
            Vacancy Description &nbsp;&nbsp;
        </div>
        <div id="ctl00_ContentBody_VacancyPreviewControl1_VacancyDescriptionContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_VacancyDescriptionLabel">This apprenticeship will have&nbsp;many different aspects to it including,&nbsp;learning to operate a variety of machinery and equipment to include Milling machines, Centre Lathes, Surface Grinders, Universal Grinder, Pillar Drills, Bandsaws, Bench Tools.<br>
<br>
The successful candidate&nbsp;will be required to manufacture parts using raw materials such as a variety of Steels, Brass, Bronze, Copper, Aluminium, Plastics and composites from Engineering drawings, sketches or verbal instructions. <br>
<br>
The successful candidate will also be:<br>
<br>
• Quality checking parts using appropriate measuring equipment. <br>
• Recording process times. <br>
• Reporting defects found. <br>
• Plan process methods <br>
• Ensuring work area is maintained to acceptable cleanliness level after use. <br>
• Ensuring Health and Safety requirements are adhered to and where issues found reported immediately. <br></span>
        </div>
    </div>
    <br>
    <div id="ctl00_ContentBody_VacancyPreviewControl1_KeyDetailsLayout" class="">
        <div class="ApprenticeshipsOrangeBold">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_Label1" class="ApprenticeshipsOrange">Key Details</span>
        </div>
        <div id="ctl00_ContentBody_VacancyPreviewControl1_VacancyTitleContainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_VacancyTitleLabel" class="InputLabel">
        Vacancy Title
            </span>
            <span id="ctl00_ContentBody_VacancyPreviewControl1_VacancyTitleValue" class="InputLabelVacancyView">Apprentice Mechanical Engineer – Precision Toolmaker</span>

        </div>
        <div id="ctl00_ContentBody_VacancyPreviewControl1_EmployerNameContainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_EmployerNameLabel" class="InputLabel">
        Employer
            </span>
            <span id="ctl00_ContentBody_VacancyPreviewControl1_EmployerNameValue" class="InputLabelVacancyView">R G Engineering</span>

        </div>
        <div id="ctl00_ContentBody_VacancyPreviewControl1_EmployerDescriptionContiner" class="LowestContainer">
            <div class="LowestContainer">
                <span id="ctl00_ContentBody_VacancyPreviewControl1_EmployerDescriptionLabel" class="InputLabel">
        Employer Description
                </span>

            </div>
            <div class="FieldContainer">
                <span id="ctl00_ContentBody_VacancyPreviewControl1_EmployerDescriptionValue">Established in 1978, R G Engineering (Coventry) Ltd is proud to have developed partnerships working with leading companies that include Rolls-Royce Aero Engines, Fanuc Robotics, Denso, Atlas Copco, GKN Aerospace, Pilkington, Lawrence Automotive, Maher, RTC Electronics, Unipart Eberspacher to name just a few. Supplying design and manufacture products that include Prototypes, Gauges, Fixtures, Tooling and onsite customer support to the Aerospace, Automotive, Robotic, Medical, Power Generation and Machine Tool markets. <br>
<br>
We are now looking to grow our business by strengthening our team and to pass on over 125 years of combined experience by offering an approved Apprenticeship scheme to a suitable candidate. <br>
<br>
Being a small company we are able to dedicate ourselves to 100% customer focus, delivering high quality parts in short lead-time’s without compromise. <br></span>
            </div>
        </div>
        <div id="ctl00_ContentBody_VacancyPreviewControl1_WebsiteContainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_WebsiteLabel" class="InputLabel">
        Web Site
            </span>
            <span id="ctl00_ContentBody_VacancyPreviewControl1_WebsiteValue" title="Select to view this employer's website" class="InputLabelVacancyView"><a href="http://www.rgeng.co.uk " target="_blank">http://www.rgeng.co.uk </a></span>

        </div>
        <div id="VacancyLocationContainer" class="FieldContainer">
            <div id="ctl00_ContentBody_VacancyPreviewControl1_DivAddressLbl1Caption" class="EmployerAddressContainer">
                <span id="ctl00_ContentBody_VacancyPreviewControl1_AddressLabel" class="InputLabel">Vacancy Location</span>
            </div>
            <div id="ctl00_ContentBody_VacancyPreviewControl1_DivAddressLbl1" class="InputLabelVacancyView">
                <div id="ctl00_ContentBody_VacancyPreviewControl1_AddressValueDiv1">
                    <span id="ctl00_ContentBody_VacancyPreviewControl1_AddressValueLabel1">Hotchkiss Way</span>
                </div>
                <div id="ctl00_ContentBody_VacancyPreviewControl1_AddressValueDiv2">
                    <span id="ctl00_ContentBody_VacancyPreviewControl1_AddressValueLabel2">Binley Industrial Estate</span>
                </div>

                <div id="ctl00_ContentBody_VacancyPreviewControl1_AddressValueDiv4">
                    <span id="ctl00_ContentBody_VacancyPreviewControl1_AddressValueLabel4">Coventry</span>
                </div>
                <div id="ctl00_ContentBody_VacancyPreviewControl1_AddressValueDiv5">
                    <span id="ctl00_ContentBody_VacancyPreviewControl1_AddressValueLabel5">West Midlands</span>
                </div>
                <div id="ctl00_ContentBody_VacancyPreviewControl1_AddressValueDiv6">
                    <span id="ctl00_ContentBody_VacancyPreviewControl1_AddressValueLabel6">CV3 2RL</span>
                </div>
            </div>

        </div>
        <div id="ctl00_ContentBody_VacancyPreviewControl1_WorkingWeekContainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_WorkingWeekLabel" class="InputLabel">
        Working Week
            </span>
            <span id="ctl00_ContentBody_VacancyPreviewControl1_WorkingWeekValue" class="InputLabelVacancyView">Mon-Thurs 07.30-16.30 Fri 07.30-12.30 38hpw</span>

        </div>
        <div id="ctl00_ContentBody_VacancyPreviewControl1_WeeklyWagescontainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_WeeklyWagesLabel" class="InputLabel">
        Weekly Wage
            </span>
            <span id="ctl00_ContentBody_VacancyPreviewControl1_WeeklyWagesValue" class="InputLabelVacancyView">£ 107.20</span>

        </div>
        <div id="ctl00_ContentBody_VacancyPreviewControl1_NoofPositionsContainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_NoofPositionsLabel" class="InputLabel">
        Number of Vacancies
            </span>
            <span id="ctl00_ContentBody_VacancyPreviewControl1_NoofPositionsValue" class="InputLabelVacancyView">1</span>
        </div>

        <div id="ctl00_ContentBody_VacancyPreviewControl1_VacRefNumberContainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_VacRefNumberLabel" class="InputLabel">
        Vacancy Reference Number
            </span>
            <span id="ctl00_ContentBody_VacancyPreviewControl1_VacRefNumberValue" class="InputLabelVacancyView">VAC000409315</span>
        </div>
    </div>
    <br>
    <div id="ctl00_ContentBody_VacancyPreviewControl1_KeyDatesLayout" class="">
        <div class="ApprenticeshipsOrangeBold">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_KeyDatesLabel" class="ApprenticeshipsOrange">Key Dates</span>
        </div>
        <div id="ctl00_ContentBody_VacancyPreviewControl1_ClosingDateContainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_ClosingDateLabel" class="InputLabel">
        Closing Date For Applications
            </span>
            <span id="ctl00_ContentBody_VacancyPreviewControl1_ClosingDateValue" class="InputLabelVacancyView">23/05/2014</span>

        </div>
        <div id="ctl00_ContentBody_VacancyPreviewControl1_InterviewBegContainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_InterviewBegLabel" class="InputLabel">
        Interview Begin From
            </span>
            <span id="ctl00_ContentBody_VacancyPreviewControl1_InterviewBegValue" class="InputLabelVacancyView">19/05/2014</span>

        </div>
        <div id="ctl00_ContentBody_VacancyPreviewControl1_PossibleStartContainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_PossibleStartLabel" class="InputLabel">
        Possible Start Date
            </span>
            <span id="ctl00_ContentBody_VacancyPreviewControl1_PossibleStartValue" class="InputLabelVacancyView">26/05/2014</span>

        </div>
    </div>
    <br>
    <div id="ctl00_ContentBody_VacancyPreviewControl1_TrainingLayout" class="">
        <div class="ApprenticeshipsOrangeBold">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_TrainingHeadLabel" class="ApprenticeshipsOrange">Training</span>
        </div>
        <div id="ctl00_ContentBody_VacancyPreviewControl1_TrainingProvidedContainer" class="LowestContainer">
            <div class="LowestContainer">
                <span id="ctl00_ContentBody_VacancyPreviewControl1_TrainingProvidedLabel" class="InputLabel">
        Training to be Provided
                </span>

            </div>
            <div class="FieldContainer">
                <span id="ctl00_ContentBody_VacancyPreviewControl1_TrainingProvidedValue">The successful candidate will be trained onsite and be supported by a Valkyrie tutor to achieve the Engineering qualification and functional skills. (where applicable)</span>
            </div>
        </div>
        <div id="ctl00_ContentBody_VacancyPreviewControl1_LearningProviderContainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_LearningProviderLabel" class="InputLabel">
        Learning Provider
            </span>
            <span id="ctl00_ContentBody_VacancyPreviewControl1_LearningProviderValue" class="InputLabelVacancyView">Valkyrie Support Services Ltd</span>

        </div>
        <div id="ctl00_ContentBody_VacancyPreviewControl1_LearningProviderDescContainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_LearningProviderDescLabel" class="InputLabel">
        Learning Provider Description
            </span>
            <span id="ctl00_ContentBody_VacancyPreviewControl1_LearningProviderDescValue" class="InputLabelVacancyView">At Valkyrie Support Services we are all about linking the best possible candidates to the best possible employers. One thing which we will promise to you is that if you undertake an apprenticeship with us, you will find that you are moving forwards your career - not just getting a job for a year. <br>
<br>
All apprenticeships frameworks can lead to fantastic careers and wonderful opportunities. Give us a quick call for a no obligation chat and we'll answer any questions which you might have about apprenticeships.</span>


        </div>
        <div id="ctl00_ContentBody_VacancyPreviewControl1_ContactDetailsForCandidateContainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_ContactDetailsForCandidateLabel" class="InputLabel">
        Contact Details
            </span>
            <span id="ctl00_ContentBody_VacancyPreviewControl1_ContactDetailsForCandidateValue" class="InputLabelVacancyView">Contact Hannah Durber
01889 566263

School House Farm
Beamhurst
Uttoxeter
ST14 5EA

hannahdurber@vsslearning.co.uk</span>
        </div>
        <div id="ctl00_ContentBody_VacancyPreviewControl1_VacancyTypeContainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_VacancyTypeLabel" class="InputLabel">
        Vacancy Type
            </span>
            <span id="ctl00_ContentBody_VacancyPreviewControl1_VacancyTypeValue" class="InputLabelVacancyView">Intermediate Level Apprenticeship</span>

        </div>
        <div id="ctl00_ContentBody_VacancyPreviewControl1_AppFrameworkContainer" class="FieldContainer">
            <div>
                <span id="ctl00_ContentBody_VacancyPreviewControl1_AppFrameworkLabel" class="InputLabel">
        Apprenticeship Framework
                </span>
                <span id="ctl00_ContentBody_VacancyPreviewControl1_AppFrameworkValue" class="InputLabelVacancyView">Engineering Manufacture (Operator &amp; Semi Skilled)</span>

            </div>
            <span id="ctl00_ContentBody_VacancyPreviewControl1_spacebreak" class="PrintGap">&nbsp;</span>
            <div id="ctl00_ContentBody_VacancyPreviewControl1_SuccessRateContainer">
                <span class="InputLabel">&nbsp;</span> <span class="InputLabelVacancyView"><span id="ctl00_ContentBody_VacancyPreviewControl1_SuccessRateLabel">This Learning Provider has achieved a sector success rate of 88% for this type of apprenticeship training.</span>&nbsp;<span id="ctl00_ContentBody_VacancyPreviewControl1_Span1" class="HelpText">
                        <a href="javascript:blank();" id="ctl00_ContentBody_VacancyPreviewControl1_HelpTextControlSuccessRate_aHelp" class="special" onkeypress="return toggleNoteKeyPress(this,event);" title="Select &lt;img src=&quot;../../img/HelpIcon.png&quot; alt=&quot;Help Button&quot; class=&quot;HelpIcon&quot; title=&quot;Select Help Button link&quot;/&gt; link">
    <img src="../../img/HelpIcon.png" alt="Help Button" class="HelpIcon" title="Select Help Button link">
</a>

<div id="ctl00_ContentBody_VacancyPreviewControl1_HelpTextControlSuccessRate_noteHelp" class="note" style="visibility: hidden;">This success rate relates to the formal Overall measure that learning provider organisations are measured against.  The success rate calculates the proportion of Apprenticeship frameworks that are successfully completed against the number that are enrolled upon.</div>

<noscript id="ctl00_ContentBody_VacancyPreviewControl1_HelpTextControlSuccessRate_noteHelpNoScriptTag" class="ApprenticeshipsOrange">
    &lt;br /&gt;&lt;br /&gt;
    &lt;div id="ctl00_ContentBody_VacancyPreviewControl1_HelpTextControlSuccessRate_noteHelpNoScript" class="noteNoScript"&gt;This success rate relates to the formal Overall measure that learning provider organisations are measured against.  The success rate calculates the proportion of Apprenticeship frameworks that are successfully completed against the number that are enrolled upon.&lt;/div&gt;
</noscript>
                    </span></span>
            </div>
        </div>
        <div id="ctl00_ContentBody_VacancyPreviewControl1_ExpectedDurationContainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_ExpectedDurationLabel" class="InputLabel">
        Expected Duration
            </span>
            <span id="ctl00_ContentBody_VacancyPreviewControl1_ExpectedDurationValue" class="InputLabelVacancyView">18 Months</span>
            <span id="ctl00_ContentBody_VacancyPreviewControl1_ExpectedDurationHelpTextContainer" class="HelpText">
                <a href="javascript:blank();" id="ctl00_ContentBody_VacancyPreviewControl1_ExpectedDurationHelpTextControl_aHelp" class="special" onkeypress="return toggleNoteKeyPress(this,event);" title="Select &lt;img src=&quot;../../img/HelpIcon.png&quot; alt=&quot;Help Button&quot; class=&quot;HelpIcon&quot; title=&quot;Select Help Button link&quot;/&gt; link">
    <img src="../../img/HelpIcon.png" alt="Help Button" class="HelpIcon" title="Select Help Button link">
</a>

<div id="ctl00_ContentBody_VacancyPreviewControl1_ExpectedDurationHelpTextControl_noteHelp" class="note" style="visibility: hidden;">This gives you an indication of the amount of time your training will last.</div>

<noscript id="ctl00_ContentBody_VacancyPreviewControl1_ExpectedDurationHelpTextControl_noteHelpNoScriptTag" class="ApprenticeshipsOrange">
    &lt;br /&gt;&lt;br /&gt;
    &lt;div id="ctl00_ContentBody_VacancyPreviewControl1_ExpectedDurationHelpTextControl_noteHelpNoScript" class="noteNoScript"&gt;This gives you an indication of the amount of time your training will last.&lt;/div&gt;
</noscript>
            </span>
        </div>

    </div>
    <div id="ctl00_ContentBody_VacancyPreviewControl1_SkillsRequiredContainer" class="PreviewInputPrintPreview">
        <div class="ApprenticeshipsOrangeBold">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_SkillsRequiredLabel" class="ApprenticeshipsOrange">Skills Required</span>
            &nbsp;&nbsp;
        </div>
        <div id="SkillsRequiredValueContainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_SkillsRequiredValue">The ideal candidate will have good command of English Language, a high standard of maths, basic IT skills and good communication skills. <br>
<br>
An interest in mechanical fields would be beneficial.<br>
<br></span>
            <br>
        </div>
    </div>
    <div id="ctl00_ContentBody_VacancyPreviewControl1_QualificationReqContainer" class="PreviewInputPrintPreview">
        <div class="ApprenticeshipsOrangeBold">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_QualificationReqLabel" class="ApprenticeshipsOrange">Qualifications Required</span>
            &nbsp;&nbsp;
        </div>
        <div id="QualificationReqValueContainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_QualificationReqValue">GSCE grade A-C in Mathematics and English. (or equivalent)<br></span>
            <br>
        </div>
    </div>
    <div id="ctl00_ContentBody_VacancyPreviewControl1_PerQualitiesContainer" class="PreviewInputPrintPreview">
        <div class="ApprenticeshipsOrangeBold">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_PerQualitiesLabel" class="ApprenticeshipsOrange">Personal Qualities</span>
            &nbsp;&nbsp;
        </div>
        <div id="PerQualitiesValContainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_PerQualitiesValue">Working on sensitive projects requires confidentiality of projects is essential. <br>
<br>
Reliability and punctuality required.<br>
&nbsp;<br>
Enthusiastic approach to learning <br>
<br>
You will need to work as part of a small team and at times under own initiative. <br>
<br>
You must be capable of standing during all working hours. <br>
<br>
A degree of physical work will be required. <br>
<br>
Comfortable with unclean working environments. <br>
<br></span>
            <br>
        </div>
    </div>
    <div id="ctl00_ContentBody_VacancyPreviewControl1_ImpOtherInfoContainer" class="PreviewInputPrintPreview">
        <div class="ApprenticeshipsOrangeBold">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_ImpOtherInfoLabel" class="ApprenticeshipsOrange">Important Other Information</span>
            &nbsp;&nbsp; <span id="ctl00_ContentBody_VacancyPreviewControl1_ImpOtherInfoPopUpNotesContainer" class="HelpText special">

            </span>
        </div>
        <div id="ImpOtherInfoValContainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_ImpOtherInfoValue">Free Onsite Car parking available. <br>
<br>
Bus service nearby. <br>
<br>
Morning Break 10.00 – 10.15&nbsp;&amp; Lunch 13.00 – 13.30 <br>
<br>
Overtime during busy periods <br>
<br>
Paid annual leave <br>
<br>
All Personal Protective Equipment will be provided – Safety Footwear, Safety Glasses, Overalls etc. <br>
<br>
Some time available during work hours to complete coursework.<br>
<br>
The National Minimum Wage (NMW) for apprentices is £2.68 per hour from 1st October 2013. This applies to 16-18 year old apprentices and those aged over 19 in the first year of their Apprenticeship. For all other apprentices the National Minimum wage appropriate to their age applies. <br>
The Minimum Wage for Apprentices applies to time spent on the job plus time spent training.<br></span>
            <br>
        </div>
    </div>
    <div id="ctl00_ContentBody_VacancyPreviewControl1_FutureProContainer" class="PreviewInputPrintPreview">
        <div class="ApprenticeshipsOrangeBold">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_FutureProLabel" class="ApprenticeshipsOrange">Future Prospects</span>
            &nbsp;&nbsp; <span id="ctl00_ContentBody_VacancyPreviewControl1_FutureProHelpTextContainer" class="HelpText">
                <a href="javascript:blank();" id="ctl00_ContentBody_VacancyPreviewControl1_FutureProHelpTextControl_aHelp" class="special" onkeypress="return toggleNoteKeyPress(this,event);" title="Select &lt;img src=&quot;../../img/HelpIcon.png&quot; alt=&quot;Help Button&quot; class=&quot;HelpIcon&quot; title=&quot;Select Help Button link&quot;/&gt; link">
    <img src="../../img/HelpIcon.png" alt="Help Button" class="HelpIcon" title="Select Help Button link">
</a>

<div id="ctl00_ContentBody_VacancyPreviewControl1_FutureProHelpTextControl_noteHelp" class="note" style="visibility: hidden;">Job prospects after completing this apprenticeship.</div>

<noscript id="ctl00_ContentBody_VacancyPreviewControl1_FutureProHelpTextControl_noteHelpNoScriptTag" class="ApprenticeshipsOrange">
    &lt;br /&gt;&lt;br /&gt;
    &lt;div id="ctl00_ContentBody_VacancyPreviewControl1_FutureProHelpTextControl_noteHelpNoScript" class="noteNoScript"&gt;Job prospects after completing this apprenticeship.&lt;/div&gt;
</noscript>
            </span>
        </div>
        <div id="FutureProValContainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_FutureProValue">Advancement to Level 3 qualification is encouraged and supported.<br>
<br>
On successful completion of Apprenticeship, there will be a Full Time position available leading to competitive salary in excess of £28k + benefits. <br>
<br>
Long term potential for career development to a more senior position. <br></span>
            <br>
        </div>
    </div>
    <div id="ctl00_ContentBody_VacancyPreviewControl1_RealityCheckContainer" class="PreviewInputPrintPreview">
        <div class="ApprenticeshipsOrangeBold">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_RealityCheckLabel" class="ApprenticeshipsOrange">Reality Check</span>
            &nbsp;&nbsp; <span id="ctl00_ContentBody_VacancyPreviewControl1_RealityCheckHelpTextContainer" class="HelpText">
                <a href="javascript:blank();" id="ctl00_ContentBody_VacancyPreviewControl1_RealityCheckHelpTextControl_aHelp" class="special" onkeypress="return toggleNoteKeyPress(this,event);" title="Select &lt;img src=&quot;../../img/HelpIcon.png&quot; alt=&quot;Help Button&quot; class=&quot;HelpIcon&quot; title=&quot;Select Help Button link&quot;/&gt; link">
    <img src="../../img/HelpIcon.png" alt="Help Button" class="HelpIcon" title="Select Help Button link">
</a>

<div id="ctl00_ContentBody_VacancyPreviewControl1_RealityCheckHelpTextControl_noteHelp" class="note" style="visibility: hidden;">For example the role may involve being on your feet for long hours or working outside.</div>

<noscript id="ctl00_ContentBody_VacancyPreviewControl1_RealityCheckHelpTextControl_noteHelpNoScriptTag" class="ApprenticeshipsOrange">
    &lt;br /&gt;&lt;br /&gt;
    &lt;div id="ctl00_ContentBody_VacancyPreviewControl1_RealityCheckHelpTextControl_noteHelpNoScript" class="noteNoScript"&gt;For example the role may involve being on your feet for long hours or working outside.&lt;/div&gt;
</noscript>
            </span>
        </div>
        <div id="RealityCheckValContainer" class="FieldContainer">
            <span id="ctl00_ContentBody_VacancyPreviewControl1_RealityCheckValue">This apprenticeship is subject to a 3 Month probationary period, which is mandatory. <br>
<br>
There will be a 1 day minimum Trial prior to offer of position. <br>
<br></span>
            <br>
        </div>
    </div>

    <br>


    <br>

</div>


          <a class="button secondary" href="apprenticeship-results.html">Back to results</a>
          <a class="button" href="apprenticeship-apply.html">Apply</a>




      </div>
  </section>
</main>

