---
headerTitle: Find an Apprenticeship
---
<main role="main" id="main">
        <section>
            <div id="content-wrapper">
                <div class="help-container">
                    <!--    <ul aria-label="The following links will open in a new browser window">
                            <li><a class="icon info" href="#" target="_blank" aria-label="" >i</a><span>Helpline: <a href="tel:0800 0150 400">0800 0150 400</a></span></li>
                            <li><a href="#" aria-label="">Application Notes</a></li>
                            <li><a href="#" aria-label="" onclick="">Your Feedback</a></li>
                        </ul>  -->
                </div>
                <h1 class="heading-48">Find an Apprenticeship</h1>
                <nav class="progress-indicator">

                    <ol aria-label="Progress Steps">
                        <li>

                            <span>Step 1</span>
                        </li>
                        <li>
                            <span>Step 2</span>
                        </li>
                        <li>
                            <span>Step 3</span>
                        </li>
                        <li>
                            <span>Step 4</span>
                        </li>

                        <li class="active">
                            <span>Preview &amp; Submit</span>
                        </li>


                    </ol>

                </nav>



                <h2>5. Preview before submitting</h2>


                <form action="../complete-application.html">



                    <p class="action group">
                        <a class="button secondary" href="apprenticeship-apply.html">Back</a>
                        <button class="button" type="submit" value="Continue">Submit application</button>
                    </p>
                </form>
            </div>




        </section>


    </main>
