---
headerTitle: Find an Apprenticeship
---
<main role="main" id="main">
        <section>
            <div id="content-wrapper">
                <div class="help-container">
                    <!--    <ul aria-label="The following links will open in a new browser window">
                            <li><a class="icon info" href="#" target="_blank" aria-label="" >i</a><span>Helpline: <a href="tel:0800 0150 400">0800 0150 400</a></span></li>
                            <li><a href="#" aria-label="">Application Notes</a></li>
                            <li><a href="#" aria-label="" onclick="">Your Feedback</a></li>
                        </ul>  -->
                </div>

                <h1 class="heading-48">Find an Apprenticeship</h1>
                <nav class="progress-indicator">

                    <ol aria-label="Progress Steps">
                        <li class="active">

                            <span>Personal attributes</span>
                        </li>
                        <li>
                            <span>Skills</span>
                        </li>
                        <li>
                            <span>Qualifications</span>
                        </li>
                        <li>
                            <span>Location</span>
                        </li>



                    </ol>

                </nav>





                <div style="margin-bottom:20px;background:#f9f9f9;padding:10px;clear:both;border:1px solid #ddd;">
                    <p>By answering the following questions, we hope to be able to match you to more suitable apprenticehips.</p>
                    <p>If you know what you're looking for already, then <a href="index.html">click here</a></p>
                </div>

                <form action="" class="left">
                    <fieldset class="separator">
                        <legend class="heading-36">1. Personal attributes</legend>


                        <ul class="group" style="list-style:none;">

                            <li>
                                <p>You like to work outside</p>
                                <ul class="option group inline" style="margin-bottom:20px;">
                                    <li>
                                        <label><input type="radio" checked="checked" name="show-logo">Strongly disagree</label>
                                    </li>
                                    <li>
                                        <label><input type="radio" checked="checked" name="show-logo">Disagree</label>
                                    </li>
                                    <li>
                                        <label><input type="radio" checked="checked" name="show-logo">Don't mind</label>
                                    </li>
                                    <li>
                                        <label><input type="radio" checked="checked" name="show-logo">Agree</label>
                                    </li>
                                    <li>
                                        <label><input type="radio" checked="checked" name="show-logo">Strongly agree</label>
                                    </li>
                                </ul>
                            </li>


                            <li>
                                <p>You like to work with your hands</p>
                                <ul class="option group inline" style="margin-bottom:20px;">
                                    <li>
                                        <label><input type="radio" checked="checked" name="show-logo">Strongly disagree</label>
                                    </li>
                                    <li>
                                        <label><input type="radio" checked="checked" name="show-logo">Disagree</label>
                                    </li>
                                    <li>
                                        <label><input type="radio" checked="checked" name="show-logo">Don't mind</label>
                                    </li>
                                    <li>
                                        <label><input type="radio" checked="checked" name="show-logo">Agree</label>
                                    </li>
                                    <li>
                                        <label><input type="radio" checked="checked" name="show-logo">Strongly agree</label>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <p>You like working with fruit and veg?</p>
                                <ul class="option group inline" style="margin-bottom:20px;">
                                    <li>
                                        <label><input type="radio" checked="checked" name="show-logo">Strongly disagree</label>
                                    </li>
                                    <li>
                                        <label><input type="radio" checked="checked" name="show-logo">Disagree</label>
                                    </li>
                                    <li>
                                        <label><input type="radio" checked="checked" name="show-logo">Don't mind</label>
                                    </li>
                                    <li>
                                        <label><input type="radio" checked="checked" name="show-logo">Agree</label>
                                    </li>
                                    <li>
                                        <label><input type="radio" checked="checked" name="show-logo">Strongly agree</label>
                                    </li>
                                </ul>
                            </li>

                        </ul>



                    </fieldset>
                </form>

                <p class="action group">
                    <a class="button" href="apprenticeship-results.html">Continue</a>
                    <a class="button-link" href="#">Clear</a>

                </p>
                </form>
            </div>
        </section>
    </main>
