---
headerTitle: Find an Apprenticeship
---

<h1 class="heading-48">Find an Apprenticeship</h1>
<!-- <nav class="progress-indicator">
  <ol aria-label="Progress Steps">
    <li class="active">
      <span>Personal attributes</span>
    </li>
    <li>
      <span>Skills</span>
    </li>
    <li>
      <span>Qualifications</span>
    </li>
    <li>
      <span>Location</span>
    </li>
  </ol>
</nav> -->

<div class="panel-indent">
  <p>By answering the following questions, we hope to be able to match you to more suitable apprenticehips.</p>
  <p>If you know what you're looking for already, then <a href="index.html">click here</a></p>
</div>
<fieldset>
  <legend class="heading-36">Personal attributes</legend>
  <ul class="group" style="list-style:none; padding-left: 0;">
    <li class="inline form-group">
      <h3 class="heading-24">You like to work outside</h3>
      <label class="block-label" for="outside1"><input id="outside1" type="radio" name="show-logo">Strongly disagree</label>
      <label class="block-label" for="outside2"><input id="outside2"  type="radio" name="show-logo">Disagree</label>
      <label class="block-label" for="outside3"><input  id="outside3" type="radio" name="show-logo">Don't mind</label>
      <label class="block-label" for="outside4"><input  id="outside4"  type="radio" name="show-logo">Agree</label>
      <label class="block-label" for="outside5"><input  id="outside5" type="radio" name="show-logo">Strongly agree</label>
    </li>
    <li class="inline form-group">
      <h3 class="heading-24">You like to work with your hands</h3>
      <label class="block-label" for="hands1"><input id="hands1" type="radio" name="hands-logo">Strongly disagree</label>
      <label class="block-label" for="hands2"><input id="hands2"  type="radio" name="hands-logo">Disagree</label>
      <label class="block-label" for="hands3"><input  id="hands3" type="radio" name="hands-logo">Don't mind</label>
      <label class="block-label" for="hands4"><input  id="hands4"  type="radio" name="hands-logo">Agree</label>
      <label class="block-label" for="hands5"><input  id="hands5" type="radio" name="hands-logo">Strongly agree</label>
    </li>
    <li class="inline form-group">
      <h3 class="heading-24">You like to work in a team</h3>
      <label class="block-label" for="team1"><input id="team1" type="radio" name="team-logo">Strongly disagree</label>
      <label class="block-label" for="team2"><input id="team2"  type="radio" name="team-logo">Disagree</label>
      <label class="block-label" for="team3"><input  id="team3" type="radio" name="team-logo">Don't mind</label>
      <label class="block-label" for="team4"><input  id="team4"  type="radio" name="team-logo">Agree</label>
      <label class="block-label" for="team5"><input  id="team5" type="radio" name="team-logo">Strongly agree</label>
    </li>
  </ul>
</fieldset>

<div class="form-group">
  <a class="button" href="apprenticeship-results.html">Continue</a>
  <a class="button-link" href="#">Clear</a>
</div>
