@import 'base/variables.scss';
@import 'base/mixins.scss';
@import 'base/utilities.scss';

.button {
  @include button($green);
  margin: 0 15px 15px 0;
  &.secondary {
    @include button($grey-3);
  }
  &.warning {
    @include button($red);
  }
  &.inline {
    margin-top: -4px;
    margin-left: 8px;
    @media (max-width: 450px) {
      margin: 8px 0 0;
    }
  }
}

.button-link {
  font-size: 1em;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  background: none;
  border: none;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  color: #005EA5;
  line-height: 1.25;
  text-decoration: underline;
  cursor: pointer;
  margin: 0 15px 15px 0;
  padding: 10px 10px 5px 10px;
  vertical-align: top;
  .inline-button & {
    margin-bottom: 0;
  }
}
