@include form;

fieldset {
  border: 0;
  padding: 0;
}

.form-group {
  clear: both;
  float: left;
  width: 100%;
  @include media(tablet){
    margin-bottom: 45px;
  }
}

.form-label {
  @include copy-19;
}

.form-hint {
  color: $grey-1;
  display: block;
  margin-top: 8px;
  margin-bottom: 5px;
}

.form-control {
  background: $white;
  border: 1px solid $grey-2;
  border-radius: 0;
  font-family: inherit;
  // font-size: 1em;
  padding: 4px;
  width: 100%;
  -webkit-appearance: none;
  @include media(tablet){
    width: 50%;
  }
}

.block-label {
  background: $grey-3;
  border: 1px solid $grey-3;
  clear: left;
  cursor: pointer;
  display: block;
  float: none;
  margin-bottom: 15px;
  padding: 18px 30px 15px 45px;
  position: relative;
  &:hover {
    border-color: $black;
  }
  &.selected {
    background: $white;
    border-color: $black;
  }
  .inline & {
    clear: none;
    margin-right: 15px;
  }
  @include media(tablet){
    float: left;
  }
  input {
    position: absolute;
    top: 18px; left: 15px;
  }
}

select {
  border: 1px solid #dadada;
  font-family: inherit;
  font-size: inherit;
  @media (max-width: 450px) {
    width: 100%;
  }
}



.logo-upload img {
  border: 1px solid $grey-2;
  width: 10em;
}

.check-to-show {
  display: none;
  .lt-ie9 & {
    display: block;
  }
}

.check-to-show-trigger:checked + .check-to-show{
  display: block;
}

.review-vacancy {
  fieldset {
    overflow: hidden;
  }
  .amend-answers {
    float: right;
    margin-top: -19px;
  }
}