// Forms
// ==========================================================================

// Form layout
fieldset,
legend {
  width: 100%;
  float: left;
  clear: both;
}

fieldset { /*Overriding normalize presets*/
  border: 0;
  padding: 0;
}

input[type="radio"],
input[type="checkbox"] { /*Overriding normalize presets*/
  margin: 3px 0;
}

.add-focus {
  outline: 3px solid #ffbf47;
  input[type="radio"], input[type="checkbox"] {
    outline: 0;
  }
}

.progress-indicator {
  font-size: 16px;
}

// Form group is used to wrap label and input pairs
.form-group {
  clear: both;
  float: left;
  margin-bottom: 20px;
  width: 100%;
  @include media(tablet) {
    margin-bottom: ($gutter*1.5);
    .inline-form-groups & {
      clear: none;
      margin-right: 30px;
      width: auto;
    }
  }
}

.form-group--compound {
  margin-bottom: 10px;
}

// Labels

// Form labels, or for legends styled to look like labels
.form-label {
  @include core-19;
  display: block;
  margin-bottom: 10px;
}

// Used for paragraphs i n-between forms
.form-block {
  float: left;
  width: 100%;
}

// Form controls

// By default, form controls are 50% width for desktop,
// and 100% width for mobile
.form-control {
  background: $white;
  border: 1px solid $border-color;
  font-family: inherit;
  font-size: 1em;
  padding: 4px;
  width: 100%;
  // Disable webkit appearance and remove rounded corners
  border-radius: 0;
  -webkit-appearance: none;
  @include media(tablet){
    width: 50%;
  }
}


// Form control widths
.form-control--3-4 {
  width: 100%;
  @include media(tablet) {
    width: 75%;
  }
}

.form-control--hours {
  width: 4em;
}

.form-control--wage {
  width: 8em;
}

.form-control--1-8 {
  width: 100%;
  @include media(tablet) {
    width: 12.5%;
  }
}

.form-control--1-4 {
  width: 100%;
  @include media(tablet){
    width: 25%;
  }
}

.form-control--1-3 {
  width: 100%;
  @include media(tablet){
    width: 33.33%;
  }
}

.form-control--1-2 {
  width: 100%;
  @include media(tablet){
    width: 50%;
  }
}

.form-hint {
  @include copy-19;
  color: $secondary-text-colour;
  display: block;
  margin-top: 8px;
  margin-bottom: 5px;
}

// Radio buttons
.form-radio {
  display: block;
  margin: 10px 0;
}
.form-radio input {
  vertical-align: middle;
  margin: -4px 5px 0 0;
}

// Checkboxes
.form-checkbox {
  display: block;
  margin: $gutter-half 0;
}
.form-checkbox input {
  vertical-align: middle;
  margin: -2px 5px 0 0;
}

// Form validation
@import "forms/form-validation";

// Form patterns
@import "forms/form-date-of-birth";

@import "forms/form-chunky-labels";


select {
  border: 1px solid #dadada;
  font-family: inherit;
  font-size: inherit;
  @media (max-width: 450px) {
    width: 100%;
  }
}

.logo-upload img {
  border: 1px solid $grey-2;
  width: 10em;
}

.review-vacancy {
  h2:first-child {
    margin-top: 0;
  }
  .vacancy-title {
    display: block;
    margin-bottom: 15px;
    @include media(tablet) {
      display: inline-block;
      margin-bottom: 0;
      margin-right: -4px;
      width: 70%;
    }
  }
}

.vacancy-answers {
  display: none;
  .no-js &, .expanded & {
    display: block;
  }
}

.amend-answers {
  display: block;
  font-size: 0.65em;
  font-weight: normal;
  @include media(tablet) {
    display: inline-block;
    font-size: 0.54em;
    margin-right: -4px;
    text-align: right;
    vertical-align: middle;
    width: 30%;
  }
  .expanded & {
    display: none;
  }
}