$square-width: 10;
$square-height: 10;

.imgwrap {
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  img {
    display: block;
    margin: auto;
    top: 0; right: 0; bottom: 0; left: 0;
    max-width: 100%; max-height: 100%;
    position: absolute;
  }
}

.imgwrap--square {
  padding-top: percentage($square-height / $square-width);
}

iframe, object, embed {
  max-width: 100%;
}

iframe {
  .no-js & {
    display: none !important;
  }
}

.icon-remove {
  background: url(../img/icon-remove.png) no-repeat;
  background-size: 19px 19px;
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  width: 19px; height: 19px;
  @include device-pixel-ratio(2) {
    background-image: url(../img/icon-remove-2x.png);
  }
}