$square-width: 10;
$square-height: 10;

.imgwrap {
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  img {
    display: block;
    margin: auto;
    top: 0; right: 0; bottom: 0; left: 0;
    max-width: 100%; max-height: 100%;
    position: absolute;
  }
}

img {
  max-width: 100%;
}

.imgwrap--square {
  padding-top: percentage($square-height / $square-width);
}

iframe, object, embed {
  max-width: 100%;
}

iframe {
  .no-js & {
    display: none !important;
  }
}

.icon-remove {
  background: url(../img/icon-remove.png) no-repeat;
  background-size: 16px 16px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 2px;
  vertical-align: bottom;
  width: 16px; height: 16px;
  @include device-pixel-ratio(2) {
    background-image: url(../img/icon-remove-2x.png);
  }
}

.icon-with-text {
  .the-icon {
    display: inline-block;
  }
  .the-text {
    display: none;
    @include media(tablet) {
      display: inline-block;
    }
  }
}

.icon-black {
  color: $black;
}