ul {
  padding-left: 20px;
  .text & {
    margin: 5px 0 20px;
  }
}

.list-text {
  list-style-type: none;
  margin-bottom: 20px;
  padding-left: 0;
  &.btm-align{
    margin-bottom: 0;
    li:last-child {
      margin-bottom: 0;
    }
  }
}

.list-bullet {
  margin-bottom: 20px;
}

.list-max-11 {
  @include core-16;
  max-height: 17.25em; /*276px*/
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

ol {
  margin-left: 25px;
}

.list-number {
  margin-bottom: 20px;
  @include media(tablet) {
    margin-bottom: 30px;
  }
}

.list-nav {
  margin-bottom: $gutter;
  padding: 0;
  li {
    list-style: none;
    margin-bottom: 10px;
    @include media(tablet) {
      display: inline-block;
      margin-right: $gutter;
    }
  }
}

.list-flowing {
  @extend %clearfix;
  @include media(tablet) {
    li {
      float: left;
      width: 50%;
    }
  }
}

.list-flowing-3cols {
  list-style-type: none;
  padding-left: 0;
  li {
    @include media(tablet){
      display: inline-block;
      margin-right: -4px;
      vertical-align: top;
      width: 33.3%;
    }
  }
}

ol, ul {
  li {
    margin-bottom: 5px;
  }
}