ul {
  padding-left: 20px;
  .text & {
    margin: 5px 0 20px;
  }
}

.list-text {
  list-style-type: none;
  margin-bottom: 20px;
  padding-left: 0;
}

ol {
  margin-left: 25px;
}

.list-number {
  margin-bottom: 20px;
  @include media(tablet) {
    margin-bottom: 30px;
  }
}

ol, ul {
  li {
    margin-bottom: 5px;
  }
}