// Border, background etc classes

.gov-border {
  border-top: 10px solid $govuk-blue;
}

.section-border {
  border-bottom: 1px solid $border-colour;
}

.float-right-wrap {
  clear: both;
  float: left;
  width: 100%;
}

.no-right-margin {
  margin-right: 0 !important;
}

.no-btm-margin {
  margin-bottom: 0 !important;
}

.small-btm-margin {
  margin-bottom: 5px;
}

.inl-block {
	display: inline-block;
}

.vert-align-top {
  vertical-align: top !important;
}

.has-error {
  color: $error-colour;
}

.fa {
  margin-right: .3em; /* Icon margin is relative to font size */
}

.disp-block {
  display: block;
}

.inline-float {
  clear: none;
  float: left;
}