.panel-indent {
  @extend %clearfix;
  border-left: 5px solid $grey-3;
  clear: both;
  margin: 0 0 $gutter;
  padding: 0 15px;
  @include media(tablet) {
    padding: 10px 15px 10px 30px;
  }
  p, ul {
    margin-bottom: 0;
  }
}

.scrolling-panel {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.max-height-15 {
  max-height: 19em; /* 304px */
}

// Show & hide links
details {
  margin-bottom: $gutter;
}

details,
summary {
  display: block;
  max-width: 30em;
}

details summary {
  @extend .fake-link;
  @include core-19;
  margin-bottom: $gutter-half;
}

details summary:focus {
  outline: 3px solid $yellow;
}

// Styles for browsers that don't yet natively support details/summary
.no-details details p {
  display: none;
}
.no-details details > summary:before {
  content: '► ';
  font-size: 16px;
  float: left;
  margin-top: 1px;
  margin-right: -1px;
  width: 20px;
}
.no-details details.open summary {
  outline: 3px solid $yellow;
}
.no-details details.open summary:before {
  content: '▼ ';
}
.no-details .open p,
.no-js details p {
  display: block;
}

.summary-box {
  background: $white;
  color: $black;
  font-size: 16px;
  margin-top: 10px;
  padding: 20px;
  @include media(tablet) {
    font-size: 19px;
  }
  .heading-medium {
    margin-top: 10px;
  }
}

.summary-close {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding: $gutter-half $gutter-half $gutter-half 0;
  &:before {
    content: "\00d7";
    display: inline-block;
    font-size: 26px;
    line-height: 22px;
    margin-right: 4px;
    vertical-align: top;
  }
}

.mob-collpanel-trigger {
  @media (max-width: 640px) {
    &:after {
      content: " \25BC";
      display: inline-block;
      font-size: 12px;
      height: 14px;
      padding-left: 10px;
      vertical-align: middle;
    }
    &.triggered {
      &:after {
        content: " \25B2";
      }
    }
  }
}

.mob-collpanel {
  @media (max-width: 640px) {
    &.panel-open {
      display: block;
    }
  }
}

.collpanel-trigger {
  cursor: pointer;
  &:after {
    content: " \25BC";
    display: inline-block;
    font-size: 12px;
    height: 14px;
    padding-left: 10px;
    vertical-align: middle;
  }
  &.triggered {
    &:after {
      content: " \25B2";
    }
  }
}

.collpanel {
  &.panel-open {
    display: block;
  }
}
