
.progress-indicator {
  margin-bottom: 30px;
  ol,
  ul {
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: $grey-2;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    &:after {
      clear: both;
      content: "";
      display: table;
    }
  }
  li {
    color: $grey-1;
    padding: 12px 0 5px 0;
    @media screen and (max-width: 640px) {
      margin-bottom: 0;
    }
  }
  a {
    text-decoration: none;
  }
  .active {
    border-bottom: 5px solid $black;
    color: $black;
    a {
      color: $black;
      text-decoration: none;
    }
  }
}

.progress-indicator-horizontal {
  li {
    display: none;
  }
  .active {
    display: block;
  }
  @include media(tablet) {
    li {
      display: block;
      float: left;
      margin-right: 30px;
    }
    .active {
      margin-bottom: -5px;
    }
  }
}

.progress-indicator-vertical {
  span {
    float: right;
  }
  @include media(tablet) {
    width: 50%;
  }
}

//NHS

// .progress-pie {
//   width: 130px; height: 130px;
//   circle {
//     fill: transparent;
//     stroke-width: 0;
//   }
// }

// .svg-pie path {
//   fill: rgba(black,0.5);
// }

.nhs-countdown-container {
  display: inline-block;
  margin-bottom: 2em;
  min-height: 130px; min-width: 130px;
  position: relative;
}

.nhs-countdown {
  background: $nhs-yellow;
  border-radius: 50%;
  color: $nhs-pink;
  display: table;
  padding-top: 5px;
  position: absolute;
  top: 50%; left: 50%;
  height: 4em;
  width: 4em;
  margin-left: -2em;
  margin-top: -2em;
  .nhs-the-count {
    display: table-cell;
    font-weight: bold;
    line-height: 0.8;
    vertical-align: middle;
  }
}

.progress-pie {
  background: url(../img/pie-pieces/pie-pieces-assets/pie-01.png) no-repeat;
  position: absolute;
  top: 50%; left: 50%;
  margin-top: -3.42em; margin-left: -3.42em;
  width: 130px; height: 130px;
  @include device-pixel-ratio(2) {
    background-size: 130px 130px;
  }
  @media screen and (max-width: 640px) {
    background-size: 109px 109px;
    width: 109px; height: 109px;
  }
}

.progress-pie-01 {
  background-image: url(../img/pie-pieces/pie-pieces-assets/pie-01.png);
  @include device-pixel-ratio(2) {
    background-image: url(../img/pie-pieces/pie-pieces-assets/pie-01-2x.png);
  }
}

.progress-pie-02 {
  background-image: url(../img/pie-pieces/pie-pieces-assets/pie-02.png);
  @include device-pixel-ratio(2) {
    background-image: url(../img/pie-pieces/pie-pieces-assets/pie-02-2x.png);
  }
}

.progress-pie-03 {
  background-image: url(../img/pie-pieces/pie-pieces-assets/pie-03.png);
  @include device-pixel-ratio(2) {
    background-image: url(../img/pie-pieces/pie-pieces-assets/pie-03-2x.png);
  }
}

.progress-pie-04 {
  background-image: url(../img/pie-pieces/pie-pieces-assets/pie-04.png);
  @include device-pixel-ratio(2) {
    background-image: url(../img/pie-pieces/pie-pieces-assets/pie-04-2x.png);
  }
}

.progress-pie-05 {
  background-image: url(../img/pie-pieces/pie-pieces-assets/pie-05.png);
  @include device-pixel-ratio(2) {
    background-image: url(../img/pie-pieces/pie-pieces-assets/pie-05-2x.png);
  }
}

.progress-pie-06 {
  background-image: url(../img/pie-pieces/pie-pieces-assets/pie-06.png);
  @include device-pixel-ratio(2) {
    background-image: url(../img/pie-pieces/pie-pieces-assets/pie-06-2x.png);
  }
}

.progress-pie-07 {
  background-image: url(../img/pie-pieces/pie-pieces-assets/pie-07.png);
  @include device-pixel-ratio(2) {
    background-image: url(../img/pie-pieces/pie-pieces-assets/pie-07-2x.png);
  }
}

.progress-pie-08 {
  background-image: url(../img/pie-pieces/pie-pieces-assets/pie-08.png);
  @include device-pixel-ratio(2) {
    background-image: url(../img/pie-pieces/pie-pieces-assets/pie-08-2x.png);
  }
}

.progress-pie-09 {
  background-image: url(../img/pie-pieces/pie-pieces-assets/pie-09.png);
  @include device-pixel-ratio(2) {
    background-image: url(../img/pie-pieces/pie-pieces-assets/pie-09-2x.png);
  }
}
