
.progress-indicator {
  margin-bottom: 30px;
  ol,
  ul {
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: $grey-2;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    &:after {
      clear: both;
      content: "";
      display: table;
    }
  }
  li {
    color: $grey-1;
    padding: 12px 0 5px 0;
    @media screen and (max-width: 640px) {
      margin-bottom: 0;
    }
  }
  a {
    text-decoration: none;
  }
  .active {
    border-bottom: 5px solid $black;
    color: $black;
    a {
      color: $black;
      text-decoration: none;
    }
  }
}

.progress-indicator-horizontal {
  li {
    display: none;
  }
  .active {
    display: block;
  }
  @include media(tablet) {
    li {
      display: block;
      float: left;
      margin-right: 30px;
    }
    .active {
      margin-bottom: -5px;
    }
  }
}

.progress-indicator-vertical {
  span {
    float: right;
  }
  @include media(tablet) {
    width: 50%;
  }
}

//NHS

.nhs-countdown-container {
  display: inline-block;
  margin-bottom: 2em;
}

.nhs-countdown {
  background: $nhs-yellow;
  border-radius: 50%;
  color: $nhs-pink;
  display: table;
  padding-top: 5px;
  height: 4em;
  width: 4em;
  .nhs-the-count {
    display: table-cell;
    font-weight: bold;
    line-height: 0.8;
    vertical-align: middle;
  }
}