// Tables
// ==========================================================================

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: $gutter-half;
  width: 100%;
  th, td {
    @include core-14;
    border-bottom: 1px solid $border-colour;
    color: #0b0c0c;
    padding: 10px 20px 10px 0;
    text-align: left;
  }
  th {
    font-weight: 700;
  }
  @include media(tablet) {
    margin-bottom: $gutter;
  }
}