html {
  font-size: 62.5%;
  /* 1 */
}

/*
 *    1. Font-size increased to compensate for change to html element font-size in
 *    order to support beta typography which was set in ems
 *    (62.5% * 160% = 100%)
 */

body {
  color: $text-colour;
  font-family: "nta", Arial, sans-serif;
  font-size: 160%;
  -webkit-font-smoothing: antialiased;
}

.heading-48 {
  @include heading-48;
}

.heading-36 {
  @include heading-36;
}

.heading-24 {
  @include heading-24;
}

.heading--with-border {
  border-top: 1px solid $grey-2;
  padding-top: 15px;
  @include media(tablet) {
    padding-top: 45px;
  }
}

.copy-19 {
  @include copy-19;
}

.copy-16 {
  @include copy-16;
}

p, pre {
  margin: 5px 0 20px;
  &.text {
    @include copy-19;
  }
}

b,
strong {
  font-weight: 600;
}

.highlight {
  color: $hm-government;
}

.text {
  max-width: 30em;
}

.panel-indent {
  border-left: 5px solid $grey-3;
  clear: both;
  margin: 30px 0;
  padding: 0 15px;
  @include media(tablet) {
    padding: 10px 15px 10px 30px;
  }
  p, ul {
    margin-bottom: 0;
  }
}