.heading-48 {
  @include heading-48;
}

.heading-36 {
  @include heading-36;
}

.heading-24 {
  @include heading-24;
}

.copy-19 {
  @include copy-19;
}

.copy-16 {
  @include copy-16;
}

p, pre {
  margin: 5px 0 20px;
}

.text {
  max-width: 30em;
}

.panel-indent {
  border-left: 5px solid $grey-3;
  clear: both;
  margin: 30px 0;
  @include media(tablet) {
    padding: 10px 15px 10px 30px;
  }
  p, ul {
    margin-bottom: 0;
  }
}