html {
  font-size: 62.5%;
  /* 1 */
}

/*
 *    1. Font-size increased to compensate for change to html element font-size in
 *    order to support beta typography which was set in ems
 *    (62.5% * 160% = 100%)
 */

body {
  color: $text-colour;
  font-family: $NTA-Light;
  -webkit-font-smoothing: antialiased;
}

// Typography
// ==========================================================================

// Increase default font size to 19px
.content-container {
  @include core-19;
}

// Headings

h1 {
  @include core-48;
}

h2 {
  @include core-36;
}

h3 {
  @include core-24;
}

h4, h5, h6 {
  @include core-19;
}

.hgroup {
  margin-bottom: $gutter;
  padding: 0;
  h1 {
    margin-bottom: 5px;
  }
  .subtitle {
    @include core-24;
    color: $secondary-text-colour;
    margin: 0;
  }
  @include media(tablet) {
    margin-bottom: $gutter * 2;
  }
}

.hgroup-medium {
  margin-bottom: $gutter-half;
  .heading-medium {
    margin-bottom: 5px;
  }
  .subtitle {
    @include core-19;
    color: $secondary-text-colour;
    margin: 0;
  }
}

.hgroup-small {
  margin-bottom: $gutter-half;
  .heading-small {
    margin-bottom: 5px;
  }
  .subtitle {
    @include core-16;
    color: $secondary-text-colour;
    margin: 0;
  }
}

// Common heading sizes
// Using the bold-xx mixins from the govuk_toolkit _typography.scss file
// Spacing is set in em, using the px to em function in the elements _helpers.scss file

// Headings
.heading-xlarge {
  @include bold-48();
  // margin-top: em(15, 32);
  margin-bottom: em(30, 32);
  @include media(tablet) {
    // margin-top: em(30, 48);
    margin-bottom: em(60, 48);
  }
  .heading-secondary {
    @include core-27();
    color: $secondary-text-colour;
    display: block;
  }
  &.inline {
    display: block;
    margin: 0 10px 10px 0;
    @include media(tablet) {
      display: inline-block;
      margin-bottom: 0;
    }
  }
}

.heading-large {
  @include bold-36();
  // margin-top: em(25, 24);
  margin-bottom: em(10, 24);
  @include media(tablet) {
    // margin-top: em(45, 36);
    margin-bottom: em(20, 36);
  }
  &.inline {
    display: block;
    margin: 0 10px 10px 0;
    @include media(tablet) {
      display: inline-block;
      margin-bottom: 0;
    }
  }
}

.heading-medium {
  @include bold-24();
  // margin-top: em(25, 20);
  margin-bottom: em(10, 20);
  @include media(tablet) {
    // margin-top: em(45, 24);
    margin-bottom: em(20, 24);
  }
  &.inline {
    display: block;
    margin: 0 10px 10px 0;
    @include media(tablet) {
      display: inline-block;
      margin-bottom: 0;
    }
  }
}

.heading-small {
  @include bold-19();
  margin-bottom: em(10, 16);
  @include media(tablet) {
    margin-bottom: em(10, 19);
  }
  &.inline {
    display: block;
    margin: 0 10px 10px 0;
    @include media(tablet) {
      display: inline-block;
      margin-bottom: 0;
    }
  }
}

// Core font sizes
.font-xxlarge {
  @include core-80;
}
.font-xlarge {
  @include core-48;
}
.font-large {
  @include core-36;
}
.font-medium {
  @include core-24;
}
.font-small {
  @include core-19;
}
.font-xsmall {
  @include core-16;
}

// Bold font sizes
.bold-xxlarge {
  @include bold-80();
}
.bold-xlarge {
  @include bold-48();
}
.bold-large {
  @include bold-36();
}
.bold-medium {
  @include bold-24();
}
.bold-small {
  @include bold-19();
}
.bold-xsmall {
  @include bold-14();
}


.lede,
.lead {
  @include core-24;
}

.copy-16 {
  @include core-16;
}

// Set a max-width for text blocks
// Fewer than 75 characters per line of text
.text {
  max-width: 30em;
}

// Data
.data-80 {
  @include bold-80;
}

.data-48 {
  @include bold-48;
  line-height: 0.9;
}

.data p {
  @include bold-16;
}

.heading-with-border {
  border-top: 1px solid $grey-2;
  padding-top: $gutter-half;
}

.copy-19 {
  @include copy-19;
  margin-bottom: 20px;
}

.copy-16, .subtext {
  @include copy-16;
}

.subtext {
  clear: both;
  font-style: italic;
}

p, pre {
  margin: 5px 0 20px;
  &.text {
    @include copy-19;
  }
}

article {
  h1, h2, h3, h4, h5 {
    &:first-of-type {

    }
  }
}

a, .fake-link {
  color: $link-colour;
  &:active {
    color: $link-active-colour;
  }
  &:hover {
    color: $link-hover-colour;
  }
}

.fake-link {
  cursor: pointer;
  text-decoration: underline;
}

a[rel="external"] {
  @include external-link-default;
  @include external-link-19;
}


b,
strong {
  font-weight: 600;
}

.highlight {
  color: $hm-government;
}

.text {
  max-width: 30em;
}

