.ad-details {
  h2 {
    margin-bottom: 10px;
  }
  .button {
    margin-right: 10px;
  }
  .search-results__meta {
    margin-bottom: 10px;
  }
}

.ad-details__image {
  float: left;
  margin: 0 15px 15px 0;
  text-align: center;
  width: 300px;
  .imgwrap {
    margin-bottom: 10px;
  }
}