
footer {
  background: #dee0e2;
  border-top: 10px solid $govuk-blue;
  color: #454A4C;
  font-size: 16px;
  overflow: hidden;
}

.footer__wrapper {
  border-top: 1px solid #a1acb2;
  a {
    color: #454A4C;
    &:hover {
      color: #171819;
    }
  }
}

.footer__meta {
  margin: 0 auto;
  max-width: 1000px;
  overflow: hidden;
  padding: 10px 15px 60px;
  @include media(tablet) {
    padding-top: 60px;
  }
}

.footer__nav {
  display: inline-block;
  list-style: none;
  margin-bottom: 30px;
  width: 100%;
  @include media(tablet) {
    margin-bottom: 0;
    width: 75%;
  }
}

.footer__link {
  padding-right: 20px;
  vertical-align: bottom;
  @include media(tablet) {
    display: inline-block;
    margin-bottom: 0;
  }
}

.footer__copyright {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  @include media(tablet) {
    width: 24%;
  }
  &:hover {
    text-decoration: underline;
  }
}
