
footer {
  background: #dee0e2;
  border-top: 10px solid $govuk-blue;
  color: #454A4C;
  font-size: 1em;
  overflow: hidden;
  a {
    color: #454A4C;
  }
}

.footer__wrapper {
  border-top: 1px solid #a1acb2;
}

.footer__meta {
  margin: 0 auto;
  max-width: 1000px;
  overflow: hidden;
  padding: 60px 15px;
  @media (max-width: 600px) {
    padding-top: 10px;
  }
}

.footer__nav {
  display: inline-block;
  list-style: none;
  width: 75%;
  @media (max-width: 600px) {
    margin-bottom: 30px;
    width: 100%;
  }
}

.footer__link {
  display: inline-block;
  padding-right: 20px;
  vertical-align: bottom;
  @media (max-width: 600px) {
    display: list-item;
  }
}

.footer__copyright {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 24%;
  @media (max-width: 600px) {
    width: 100%;
  }
  &:hover {
    text-decoration: underline;
  }
}
