
.footer-wrapper {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.footer-wrapper .footer-meta {
    border-top: none !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
}

.footer-wrapper .footer-meta .copyright {
    position: relative;
    top: 2px;
}

@media screen and (max-width: 640px) {
    #footer .footer-meta nav {
        text-align: center;
    }
}