.get-started {
  margin: 1.5em 0 0 0;
  .button {
    padding: 0.60em 1.7em 0.45em 0.67em;
    background-image: url(../img/icon-pointer.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    font-size: 24px;
    line-height: 0.66667;
    text-transform: none;
    font-weight: 700;
    display: inline-block;
  }
  .destination {
    font-size: 14px;
    line-height: 1.42857;
    font-weight: 400;
    text-transform: none;
    color: #2E3133;
    display: block;
    margin-top: 0.5em;
    max-width: 13em;
  }
}