.global-header {
  background: $black;
  color: $white;
}

.global-header__wrapper {
  margin: 0 auto;
  max-width: 1020px;
  overflow: hidden;
  padding: 15px 15px 0;
  @include media(tablet) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.global-header__logo {
  float: left;
  font-size: 0; /* Removes strange gap below img */
  margin: 0 20px 15px 0;
}

.global-header__title {
  float: left;
  font-size: 16px; /* 16px */
  line-height: 22px;
  margin: 0;
  padding: 0;
  @include media(tablet) {
    float: right;
    font-size: 20px; /* 20px */
  }
}

.alpha__label {
  background: $alpha-colour;
  display: inline-block;
  font-size: 0.7em;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin: 0 0 15px 8px;
  padding: 3px 10px 2px;
  text-transform: uppercase;
}

.phase-notice {
  background: $govuk-blue;
  color: $white;
  font-size: 16px; /*16px*/
  padding: 8px;
  strong {
    text-transform: uppercase;
  }
}
