.global-header {
  background: $colorBlack;
  color: $colorWhite;
}

.global-header__wrapper {
  font-size: 0;
  margin: 0 auto;
  max-width: 1000px;
  overflow: hidden;
  padding: 15px 10px 0;
}

.global-header__logo {
  float: left;
  margin: 2px 20px 15px 0;
}

.global-header__title {
  font-size: 22px;
  line-height: 24px;
  float: right;
  margin: 0;
  padding: 0;
}

.alpha__label {
  background: $colorPrimary;
  display: inline-block;
  font-size: 0.7em;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin: 0 0 15px 8px;
  padding: 3px 10px 2px;
  text-transform: uppercase;
}

#phase-notice {
  background: $govuk-blue;
  p {
    margin: 0;
    padding: 8px 8px;
    font-size: 1.5rem;
    line-height: 1.31579;
    color: $colorWhite;
  }
  a {
    color: #0B0C0C;
  }
  strong {
    text-transform: uppercase;
  }
}
