#main {
  background: $white;
  display: block;
  padding: 15px 0 30px;
  @extend %clearfix;
  @include media(tablet) {
    padding-top: 30px;
    padding-bottom: 90px;
  }
}

.content-container {
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 15px;
  @include media(tablet) {
    padding: 0 30px;
  }
  @media (max-width: 640px) {
    font-size: 16px;
    line-height: 1.25;
  }
}

aside {
  h2:first-child {
    margin-top: $gutter-half;
  }
}

.clearfix {
  clear: both;
  display: block;
}