#main {
  background: $white;
  display: block;
  padding: 15px 0 30px;
  &:after {
    clear: both;
    content: "";
    display: table;
  }
  @include media(tablet) {
    padding-top: 30px;
    padding-bottom: 90px;
  }
}

.content-container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1020px;
  @include media(tablet) {
    padding: 0 30px;
  }
  @media (max-width: 640px) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.clearfix {
  clear: both;
  display: block;
}