
.content-wrapper .progress-bar ol {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 1.8em 0 0.3em 0;
}




@media screen and (max-width: 760px) {
    .content-wrapper .progress-bar ol {
        padding-top: 2em;
    }
}

.ie6 .content-wrapper .progress-bar ol, .ie7 .content-wrapper .progress-bar ol, .ie8 .content-wrapper .progress-bar ol {
    padding-bottom: 0;
    background: url("images/nav-line.png") 0 56px repeat-x;
    margin-bottom: -12px;
    zoom: 1;
}

.ie7 .content-wrapper .progress-bar ol {
    background-position: 0 44px;
}

.ie8 .content-wrapper .progress-bar ol {
    background: none;
}

@media screen and (max-width: 760px) {
    .content-wrapper .progress-bar ol {
        padding-bottom: 0;
    }
}

.content-wrapper .progress-bar ol:after {
    content: "";
    display: block;
    height: 10px;
    border-bottom: 1px dotted #afafaf;
    margin-top: 6px;
}

@media screen and (max-width: 500px) {
    .content-wrapper .progress-bar ol:after {
        display: none;
    }
}

.content-wrapper .progress-bar ol li {
    float: left;
    width: 10%;
    position: relative;
    text-align: center;
    padding: 35px 0 0 0;
    line-height: 1em;
}

.ie6 .content-wrapper .progress-bar ol li, .ie7 .content-wrapper .progress-bar ol li, .ie8 .content-wrapper .progress-bar ol li {
    background: url("images/nav-default.png") center 0 no-repeat;
    padding-bottom: 5px;
}

.ie6 .content-wrapper .progress-bar ol li {
    padding-bottom: 20px;
}

@media screen and (max-width: 760px) {
    .content-wrapper .progress-bar ol li {
        text-indent: -9999px;
        padding: 15px 0 0 0;
    }
    .content-wrapper .progress-bar ol li span {
        text-indent: 0;
    }
}

@media screen and (max-width: 480px) {
    .content-wrapper .progress-bar ol li {
        width: 30px;
        margin-left: 4px;
    }
    .content-wrapper .progress-bar ol li:first-child {
        margin-left: 0;
    }
}

@media screen and (max-width: 330px) {
    .content-wrapper .progress-bar ol li {
        width: 26px;
    }
}

.content-wrapper .progress-bar ol li span {
    font-size: 1.3rem;
}

@media screen and (max-width: 770px) {
    .content-wrapper .progress-bar ol li span {
        font-size: 10px;
    }
}

.ie .content-wrapper .progress-bar ol li span {
    font-size: 13px;
}

.content-wrapper .progress-bar ol li span:before {
    position: absolute;
    content: "\203a";
    top: 0;
    left: 50%;
    width: 30px;
    height: 25px;
    border-radius: 100px;
    margin: 0 0 0 -15px;
    background: #afafaf;
    color: #fff;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    display: block;
    line-height: 1em;
    padding: 5px 0 0 0;
}

.ie .content-wrapper .progress-bar ol li span:before {
    font-size: 20px;
}

@media screen and (max-width: 330px) {
    .content-wrapper .progress-bar ol li span:before {
        width: 26px;
        height: 23px;
        margin-left: -13px;
        padding-top: 3px;
    }
}

.ie8 .content-wrapper .progress-bar ol li span:before {
    display: none;
}

.content-wrapper .progress-bar ol li.active {
    padding-top: 48px;
}

.ie6 .content-wrapper .progress-bar ol li.active, .ie7 .content-wrapper .progress-bar ol li.active, .ie8 .content-wrapper .progress-bar ol li.active {
    background: url("images/nav-active.png") center 0 no-repeat;
    top: -8px;
    padding-top: 55px;
}

@media screen and (max-width: 760px) {
    .content-wrapper .progress-bar ol li.active {
        padding: 0;
    }
}

.content-wrapper .progress-bar ol li.active span {
    font-weight: 700;
}

.content-wrapper .progress-bar ol li.active span:before {
    background: #000;
    padding: 0;
    height: 39px;
    width: 50px;
    margin: -8px 0 0 -25px;
    font-weight: 300;
    padding-top: 11px;
    font-size: 2.6rem;
}

.ie .content-wrapper .progress-bar ol li.active span:before {
    font-size: 26px;
}

@media screen and (max-width: 760px) {
    .content-wrapper .progress-bar ol li.active span:before {
        width: 30px;
        height: 29px;
        margin: 0 0 0 -15px;
        padding: 1px 0 0 0;
    }
}

@media screen and (max-width: 330px) {
    .content-wrapper .progress-bar ol li.active span:before {
        height: 26px;
        width: 26px;
        padding-top: 0;
        margin-left: -13px;
    }
}

.ie8 .content-wrapper .progress-bar ol li.active span:before {
    display: none;
}

.ie6 .content-wrapper .progress-bar ol li.complete, .ie7 .content-wrapper .progress-bar ol li.complete, .ie8 .content-wrapper .progress-bar ol li.complete {
    background: url("images/nav-complete.png") center 0 no-repeat;
}

.content-wrapper .progress-bar ol li.complete span:before {
    background: #006435;
    content: "\203a";
    padding-left: 0;
    width: 30px;
}

@media screen and (max-width: 330px) {
    .content-wrapper .progress-bar ol li.complete span:before {
        width: 26px;
    }
}

.ie8 .content-wrapper .progress-bar ol li.complete span:before {
    display: none;
}
