.search-filter {
  @include media(tablet) {
    padding-right: $gutter;
  }
  .form-control {
    width: 100%;
  }
}

.search-results-wrapper {
  fieldset {
    float: none;
  }
}

.search-results {
  list-style: none;
  padding-left: 0;
}

.search-shortdesc {
  margin-bottom: 5px;
}

.search-results__item {
  margin: 0;
  overflow: hidden;
  padding: 15px 0;
}

.search-save {
  padding: 0 10px;
  text-align: right;
}

.save-trigger {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}

.save-trigger + label {
  color: $govuk-blue;
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
  &:before {
    background: url(../img/icon-star-hollow.png) no-repeat;
    background-size: 19px 19px;
    content: '';
    display: inline-block;
    margin-right: 5px;
    margin-bottom: -2px;
    width: 19px; height: 19px;
    @include device-pixel-ratio(2) {
      background-image: url(../img/icon-star-hollow-2x.png);
    }
  }
}

.save-trigger:checked + label {
  &:after {
    content: 'd';
  }
  &:before {
    background-image: url(../img/icon-star-filled.png);
    @include device-pixel-ratio(2) {
      background-image: url(../img/icon-star-filled-2x.png);
    }
  }
}

.ad-details__map {
  background-color: $grey-3;
  height: 250px;
  margin-bottom: 20px;
  vertical-align: middle;
  .no-js & {
    display: table;
    .nojs-notice {
      padding: 0 $gutter-half;
      vertical-align: middle;
    }
  }
}

/* Application form stuff */

.edit-mode {
  .editable-work {
    display: inline-block;
    padding: 7px 4px;
  }
}

.editing-worksection {
  .toggle-content {
    display: inline-block;
    width: auto;
  }
  textarea.toggle-content {
    width: 100%;
    @include media(tablet) {
      width: 75%;
    }
  }
  .editable-work {
    display: none;
  }
}
