<!-- <div class="phase-notice gov-border">
  <div class="prototype-warning">
  	<strong class="beta__label">Beta</strong> <span>This is a prototype – your <a href="https://www.surveymonkey.com/s/MFNR7NZ" target="_blank" rel="external">feedback</a> will help to improve it.</span>
  </div>
  <div class="account-info sign-in" id="bannerSignedOut">
  	<a href="/apprentice/profile-signin.html?"><i class="fa fa-sign-in"></i>Sign in / Create account</a>
  </div>
  <div class="account-info sign-out" id="bannerSignedIn" style="display: none;">
  	<span class="your-name" id="bannerUserName">Your Name</span>
    <div>
      <a id="applicationsLink" href="/apprentice/dashboard.html">My applications</a>
      <a href="/apprentice/settings.html" id="settingsLink">Settings</a>
      <a href="/apprentice/profile-signin.html?Status=signout" id="btnSignOut"><i class="fa fa-sign-out"></i>Sign out</a>
    </div>
  </div>
</div> -->

<div class="fixed-container">
  <div class="banner-container">
    <div class="phase-notice gov-border grid-wrapper">
      <div class="grid grid-1-2">
        <div class="prototype-warning">
          <strong class="beta__label">Beta</strong> <span>This is a prototype – your <a href="https://www.surveymonkey.com/s/MFNR7NZ" target="_blank" rel="external">feedback</a> will help improve it.</span>
        </div>
      </div>
      <div class="grid grid-1-2">
        <div class="account-info sign-in" id="bannerSignedOut">
          <a href="/apprentice/profile-signin.html?"><i class="fa fa-sign-in"></i>Sign in / Create account</a>
        </div>
        <div class="account-info sign-out" id="bannerSignedIn" style="display: none;">
          <div class="small-btm-margin">
            <span class="your-name" id="bannerUserName">Henry Charge</span>
                <a href="/apprentice/profile-signin.html?Status=signout" id="btnSignOut"><i class="fa fa-sign-out"></i>Sign out</a>
          </div>
          <div>
            <a href="/apprentice/dashboard.html#dashDrafts" class="toggle-content" id="savedHeaderItem"><span id="savedCount"></span> Saved</a>
            <a id="applicationsLink" href="/apprentice/dashboard.html">My applications</a>
            <a href="/apprentice/settings.html" id="settingsLink">Settings</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>