<div class="phase-notice">
  <strong>BETA:</strong> This is a prototype
  <!-- <section class="summary-box toggle-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, suscipit, id, ad tempore deserunt fugit eaque placeat ducimus sequi similique maiores illum fugiat labore libero rem nemo at quos recusandae quasi cupiditate nobis! Fuga, incidunt doloribus magnam deserunt hic similique animi cumque ipsa debitis autem. Autem, ad, amet, commodi eos ratione vel sed necessitatibus accusantium cum facere sunt voluptatem error minima recusandae enim odit voluptatibus mollitia qui tempore veritatis dolorem quod praesentium impedit dignissimos animi officia nesciunt! Vitae, at, consequatur consectetur quo excepturi numquam libero tenetur assumenda molestias ducimus maxime suscipit aut corporis optio perspiciatis ea autem incidunt dolore nisi.</p>
    <p class="summary-close">Close</p>
  </section> -->
</div>