<div class="phase-notice gov-border">
  <strong class="beta__label">Beta</strong> <span>This is a prototype – your <a href="#">feedback</a> will help us to improve it.</span>
</div>
<!-- <section class="summary-box toggle-content">
    <h2 class="heading-medium">Help and feedback</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, eum inventore reiciendis consectetur ullam ad dolorem incidunt! Reprehenderit, modi, dolorem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, doloribus, nulla. Distinctio, explicabo, ut consectetur assumenda nam fugiat molestias quisquam architecto facere suscipit debitis!</p>
    <p>You can also <a href="mailto:test@test.com">email us feedback</a> to help us improve this service.</p>
    <p class="summary-close">Close</p>
  </section> -->