<div class="phase-notice gov-border">
  <div class="prototype-warning">
  	<strong class="beta__label">Beta</strong> <span>This is a prototype – your <a href="#">feedback</a> will help us to improve it.</span>
  </div>
  <!-- <ul class="account-info">
  	<li class="your-name">Henry Charge</li>
  	<li><a href="/apprentice/profile-signin.html">Dashboard</a></li>
  	<li><a href="/apprentice/profile-signin.html"><i class="fa fa-sign-in"></i>Sign in</a></li>
  </ul> -->
</div>