<nav role="navigation" class="breadcrumbs">
  <ul>
    <li class="breadcrumbs__item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumbs__item">
      <a href="{{ secondLink }}">{{ secondTitle }}</a>
    </li>
    <li class="breadcrumbs__item">
      <a href="#">{{ thirdTitle }}</a>
    </li>
    <li class="breadcrumbs__item">
      <a href="#">{{ fourthTitle }}</a>
    </li>
  </ul>
</nav>