<footer class="group js-footer" id="footer" role="contentinfo">
  <div class="footer-wrapper">
    <div class="footer-meta">
      <nav>
        <ul>
          <li><a href="/claim-notes#16" target="_blank">Helpdesk</a></li>
          <li><a href="http://www.dwp.gov.uk/privacy-policy/" target="_blank">Privacy &amp; Cookies</a></li>
          <li>Built by <a href="#" target="_blank">Skills Funding Agency</a></li>
        </ul>
      </nav>
      <div class="copyright">
        <a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm" target="_blank">&copy; Crown Copyright</a>
      </div>
    </div>
  </div>
</footer>