<footer role="contentinfo">
  <div class="footer__wrapper">
    <div class="footer__meta">
      <ul class="footer__nav" role="navigation">
        <li class="footer__link"><a href="/claim-notes#16" target="_blank">Helpdesk</a></li>
        <li class="footer__link"><a href="http://www.dwp.gov.uk/privacy-policy/" target="_blank">Privacy &amp; Cookies</a></li>
        <li class="footer__link">Built by <a href="#" target="_blank">Skills Funding Agency</a></li>
      </ul>
      <a class="footer__copyright" href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm" target="_blank">
        <img src="{{assets}}/img/logos/govuk-crest.png" width="125" height="102" alt="">
        <p>&copy; Crown Copyright</p>
      </a>
    </div>
  </div>
</footer>