<div class="skiplink-container">
  <div>
    <a href="#main" class="skiplink">Skip to main content</a>
  </div>
</div>
<header role="banner" class="global-header">
  <div class="global-header__wrapper">
    <div class="global-header__logo">
      <a href="/" title="Go to the GOV.UK homepage" class="govuk-logo">
        <img src="{{assets}}/img/gov.uk_logotype_crown.png" alt="Crown">GOV.UK
      </a>
    </div>
    <h1 class="global-header__title beta">{{ headerTitle }} <span class="beta__label">Beta</span></h1>
  </div>
</header>