<!-- <div id="global-cookie-message" class="cookie-banner">
  <div class="content-container">
      <span class="copy-16">GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></span>
  </div>
</div> -->
<div class="skiplink-container">
  <div>
    <a href="#main" class="skiplink">Skip to main content</a>
  </div>
</div>
<header role="banner" class="global-header">
  <div class="global-header__wrapper">
    <a href="/" title="Go to the GOV.UK homepage" class="logo">
      <img src="{{assets}}/img/med-logo.png" alt="MED">
    </a>
  </div>
</header>
<div class="nhs-page-navigation {{ showPreviousNav }}">
  <div class="nhs-pagenav-container">
    <h3 class="nhs-page-navigation__title">Previous question</h3>
    <a class="nhs-page-navigation__link nhs-nav-btn" href="{{ previousPageURL }}">{{ previousPage }}</a>
  </div>
</div>