---
headerTitle: Apprenticeship registration
---

<h1 class="heading-48">Register</h1>

<fieldset class="fieldset--with-border">
  <legend class="heading-36">Your details</legend>
  <div class="form-group">
    <label for="full-name" class="form-label">Full name</label>
    <input type="text" id="full-name" class="form-control">
  </div>
  <div class="form-group date-input">
    <p class="form-label">Date of birth</p>
    <div class="form-group form-group--compound">
      <label class="form-hint" for="date-day2">Day</label>
      <input type="tel" class="form-control" maxlength="2" pattern="[0-9*]" id="date-day2">
    </div>
    <div class="form-group form-group--compound">
      <label class="form-hint" for="date-month2">Month</label>
      <input type="tel" class="form-control" maxlength="2" id="date-month2">
    </div>
    <div class="form-group form-group--compound form-group--year">
      <label class="form-hint" for="date-year2">Year</label>
      <input type="tel" class="form-control" maxlength="4" id="date-year2">
    </div>
  </div>
  <div class="form-group toggle-content">
    <label for="understand-age" class="block-label">
      <input type="checkbox" id="understand-age">I understand that I may have to fund all or part of the training myself
    </label>
  </div>
</fieldset>

<fieldset class="fieldset--with-border">
  <legend class="heading-36">Contact details</legend>
  <div class="form-group">
    <label for="first-email" class="form-label">Email address</label>
    <span class="form-hint">This will be used to activate your account</span>
    <input type="email" class="form-control linked-input-master" id="first-email">
  </div>
  <div class="form-group">
    <label for="telephone-num1" class="form-label">Telephone number</label>
    <span class="form-hint">This can be mobile or landline</span>
    <input type="tel" class="form-control" id="telephone-num1">
  </div>
  <div class="form-group form-group--compound inline-button">
    <label class="form-label" for="role-short-desc">Postcode</label>
    <input id="role-short-desc" type="text" class="form-control form-control--1-4">
    <a class="button-link" href="#">Find address</a>
  </div>
  <div class="form-group">
    <label for="select-address" class="form-label">Select address</label>
    <select id="select-address">
        <option value="">Please select</option>
        <option value="">45 High Street, Reddich</option>
        <option value="">47 High Street, Reddich</option>
        <option value="">49 High Street, Reddich</option>
        <option value="">51 High Street, Reddich</option>
        <option value="">53 High Street, Reddich</option>
        <option value="">55 High Street, Reddich</option>
    </select>
  </div>
  <!-- <div class="form-group form-group--compound">
    <label class="form-label" for="address1">Address line 1</label>
    <input type="text" id="address1" class="form-control">
  </div>
  <div class="form-group form-group--compound">
    <label class="form-label" for="address2">Address line 2</label>
    <input type="text" id="address2" class="form-control">
  </div>
  <div class="form-group form-group">
    <label class="form-label" for="address3">Town or City</label>
    <input type="text" id="address3" class="form-control form-control--1-3">
  </div> -->
  <div class="form-group inline">
    <p class="form-label">How would you prefer to be contacted?</p>
    <label for="pref-tel" class="block-label">
      <input name="preference" type="radio" id="pref-tel">Telephone
    </label>
    <label for="pref-email" class="block-label">
      <input name="preference" type="radio" id="pref-email">Email
    </label>
    <label for="pref-post" class="block-label">
      <input name="preference" type="radio" id="pref-post">Post
    </label>
  </div>
  <div class="form-group">
    <p class="form-label">News and information</p>
    <label for="opt-in" class="block-label">
      <input type="checkbox" id="opt-in"> Opt in to receive relevant information on vacancies
    </label>
  </div>
</fieldset>
<fieldset>
  <legend class="heading-36">Create your sign in details</legend>
  <div class="form-group">
    <label for="username-input" class="form-label">Username</label>
    <span class="form-hint">You can change this to something of your choice</span>
    <input type="email" class="form-control linked-input-slave" id="username-input">
  </div>
  <div class="form-group">
    <label for="password-input" class="form-label">Password</label>
    <span class="form-hint">A minimum of 8 characters including at least one number</span>
    <div class="password-wrapper">
      <input type="password" class="form-control" id="password-input">
      <span class="pw-masktoggle button-link">Show</span>
    </div>
    <p class="form-hint strength-indicator">Password strength: <span id="pass_meter" class=""></span></p>
  </div>
</fieldset>
<div class="form-group">
  <a class="button" href="terms.html">Finish</a>
  <a class="button-link" href="../apprentice.html">Back</a>
</div>