---
headerTitle: Apprenticeship registration
---

<h1 class="heading-48">Sign in details</h1>

<fieldset class="fieldset--with-border">
  <legend class="heading-36">Username and password</legend>
  <div class="form-group">
    <label for="username-input" class="form-label">Username</label>
    <input type="email" class="form-control" id="username-input" value="email@email.com">
  </div>
</fieldset>