---
headerTitle: Apprenticeship registration
---

<h1 class="heading-48">Registration complete</h1>

<fieldset class="fieldset--with-border">
  <legend class="heading-36">Confirmation email sent</legend>
  <div class="form-group text">
    <p>Your confirmation email has been sent to <strong>name@email.com</strong></p>

  </div>
</fieldset>