---
headerTitle: Apprenticeship registration
---

<h1 class="heading-48">Registration complete</h1>

<fieldset>
  <legend class="heading-36">Confirmation email sent</legend>
  <div class="form-group text">
    <p>Your confirmation email has been sent to <strong>name@email.com</strong></p>
  </div>
  <div class="form-group">
    <a href="/" class="button">Return to dashboard</a>
    <a href="register.html" class="button-link">Back</a>
  </div>
</fieldset>