---
headerTitle: Apprenticeships
---

<div class="hgroup">
  <h1 class="heading-xlarge">Preview your application</h1>
</div>
<fieldset class="fieldset-with-border">
  <legend class="heading-large">Your details</legend>
  {{> application-details }}
</fieldset>

<fieldset class="fieldset-with-border">
  <legend class="heading-large">
    Education
    <a class="icon-with-text" href="apply-index.html#applyEducation"><i class="the-icon fa fa-pencil"></i><span class="the-text">Amend details</span></a>
  </legend>
  <div class="form-group">
    <label for="school-name" class="form-label">Name of most recent school/college</label>
    <span class="form-prepopped" id="schoolNamePre">St Bernards School</span>
  </div>
  <div class="inline-fixed">
    <p class="form-label">Years attended</p>
    <div class="form-group">
      <label for="school-from" class="form-label">From</label>
      <span class="form-prepopped" id="schoolFromPre">2008</span>
    </div>
    <div class="form-group">
      <label for="school-to" class="form-label">To</label>
      <span class="form-prepopped" id="schoolToPre">2011</span>
    </div>
  </div>
</fieldset>

<fieldset class="fieldset-with-border">
  <legend class="heading-large">
    Qualifications
    <a class="icon-with-text" href="apply-index.html#applyQualifications"><i class="the-icon fa fa-pencil"></i><span class="the-text">Amend details</span></a>
  </legend>
  <div class="qualifications-wrapper">
    <div class="qualification-table" id="gcse">
      <div class="hgroup-small">
        <h3 class="heading-small heading-qualType">GCSE</h3>
      </div>
      <table class="grid-3-4">
        <colgroup>
          <col class="t40">
          <col class="t25">
          <col class="t15">
          <col>
        </colgroup>
        <thead>
          <tr>
            <th class="th-qualSubject"><span class="heading-span">Subject</span></th>
            <th class="th-qualGrade"><span class="heading-span">Grade</span></th>
            <th class="th-qualYear"><span class="heading-span">Year</span></th>
          </tr>
        </thead>
        <tbody class="tbody-qual">
          <tr class="tr-qualRow">
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="Maths" readonly>
            </td>
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="A" readonly>
            </td>
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="2011" readonly>
            </td>
          </tr>
          <tr class="tr-qualRow">
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="English" readonly>
            </td>
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="B" readonly>
            </td>
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="2011" readonly>
            </td>
          </tr>
          <tr class="tr-qualRow">
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="Science" readonly>
            </td>
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="BB" readonly>
            </td>
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="2011" readonly>
            </td>
          </tr>
          <tr class="tr-qualRow">
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="Geography" readonly>
            </td>
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="C" readonly>
            </td>
            <td class="td-qualcell">
              <input class="form-control qual-input-edit form-prepopped" type="text" value="2011" readonly>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</fieldset>

<fieldset class="fieldset-with-border">
  <legend class="heading-large">
    Work experience
    <a class="icon-with-text" href="apply-index.html#applyWorkExperience"><i class="the-icon fa fa-pencil"></i><span class="the-text">Amend details</span></a>
  </legend>
  <div class="work-history-wrapper grid-3-4">
  <div class="grid-wrapper work-history-item">
      <div class="grid grid-1-2">
        <table class="table-no-btm-border table-compound">
          <colgroup>
            <col class="t100">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>
                <span class="heading-span">Work experience</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span class="form-prepopped cell-span editable-work">Superdrug</span>
                <span class="form-prepopped cell-span work-hyphen">-</span>
                <span class="form-prepopped cell-span editable-work">Customer service</span>
                <div></div>
                <span class="form-prepopped cell-span editable-work">Helping customers at the checkout</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="grid grid-1-2">
        <table class="table-no-btm-border table-compound">
          <colgroup>
            <col class="t30">
            <col class="t30">
            <col class="t25">
            <col class="t15">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>
                <span class="heading-span">From</span>
              </th>
              <th>
                <span class="heading-span">To</span>
              </th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span class="form-prepopped cell-span editable-work">Dec 2013</span>
              </td>
              <td>
                <span class="form-prepopped cell-span editable-work">Current</span>
              </td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="grid-wrapper work-history-item">
      <div class="grid grid-1-2">
        <table class="table-no-btm-border table-compound">
          <colgroup>
            <col class="t100">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>
                <span class="heading-span">Work experience</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span class="form-prepopped cell-span editable-work">Boots</span>
                <span class="form-prepopped cell-span work-hyphen">-</span>
                <span class="form-prepopped cell-span editable-work">Customer service</span>
                <div></div>
                <span class="form-prepopped cell-span editable-work">Helped customers at the checkout</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="grid grid-1-2">
        <table class="table-no-btm-border table-compound">
          <colgroup>
            <col class="t30">
            <col class="t30">
            <col class="t25">
            <col class="t15">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>
                <span class="heading-span">From</span>
              </th>
              <th>
                <span class="heading-span">To</span>
              </th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span class="form-prepopped cell-span editable-work">May 2012</span>
              </td>
              <td>
                <span class="form-prepopped cell-span editable-work">Sept 2013</span>
              </td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="fieldset-with-border">
  <legend class="heading-large">
    About you
    <a class="icon-with-text" href="apply-index.html#applyAboutYou"><i class="the-icon fa fa-pencil"></i><span class="the-text">Amend details</span></a>
  </legend>
  <div class="form-group">
    <label for="question1" class="form-label">Provide examples of your strengths</label>
    <span class="form-prepopped" id="question1Pre">My strengths are</span>
  </div>
  <div class="form-group">
    <label for="question2" class="form-label">What skills would you like to improve?</label>
    <span class="form-prepopped" id="question2Pre">I could improve</span>
  </div>
  <div class="form-group">
    <label for="question3" class="form-label">What are you hobbies and interests?</label>
    <span class="form-prepopped" id="question3Pre">My hobbies and interests are</span>
  </div>
  <div class="form-group">
    <label for="question4" class="form-label">Is there anything we can do to support your interview?</label>
    <span class="form-prepopped" id="question4Pre">I need a signer</span>
  </div>
</fieldset>

<fieldset class="fieldset-with-border">
  <legend class="heading-large">
    Additional questions
    <a class="icon-with-text" href="apply-index.html#applyAdditional"><i class="the-icon fa fa-pencil"></i><span class="the-text">Amend details</span></a>
  </legend>
  <div class="form-group">
    <label for="add-question1" class="form-label">Why would you like to become an Apprentice?</label>
    <span class="form-prepopped" id="add-question1Pre"></span>
  </div>
  <div class="form-group">
    <label for="add-question2" class="form-label">Where do you see yourself in three years?</label>
    <span class="form-prepopped" id="add-question2Pre"></span>
  </div>
</fieldset>

<h3 class="heading-large">Submit your application</h3>
<div class="form-group">
  <p>Before you submit your application make sure you’ve:</p>
  <ul>
    <li>asked someone to check your application for mistakes</li>
    <li>checked your answers are relevant to the apprenticeship</li>
    <li>checked the apprenticeship location</li>
  </ul>
</div>
<div class="form-group">
  <a href="apply-happens.html" class="button">Submit application</a>

</div>

