---
headerTitle: Find an Apprenticeship
---

<div class="hgroup">
  <h1 class="heading-xlarge">Apply for vacancy</h1>
  <span class="subtitle">Preview your application</span>
</div>
<fieldset class="fieldset-with-border">
  <legend class="heading-large">Your details</legend>
  <div class="form-group">
    <label for="first-name" class="form-label">Full name</label>
    <span class="form-prepopped" id="fullNamePre">John Michael Smith</span>
  </div>
  <div class="form-group date-input">
    <p class="form-label">Date of birth</p>
    <span class="form-prepopped" id="dobFullPre">12/06/1994</span>
  </div>

  <div class="form-group">
    <span class="form-label">Address</span>
    <ul class="list-text form-prepopped">
      <li id="address1Pre">37 Bolton road</li>
      <li id="address2Pre"></li>
      <li id="address3Pre">Slough</li>
      <li id="address3bPre">Berkshire</li>
      <li id="address4Pre">SL3 4BB</li>
    </ul>
  </div>

  <div class="form-group">
    <label for="email-address" class="form-label">Email address</label>
    <span class="form-prepopped" id="emailInputPre">john.smith@email.com</span>
  </div>

  <div class="form-group">
    <label for="tel-number" class="form-label">Phone</label>
    <span class="form-prepopped" id="phoneInputPre">07954 389421</span>
  </div>
</fieldset>

<fieldset class="fieldset-with-border">
  <legend class="heading-large">Education</legend>
  <div class="form-group form-group-compound">
    <label for="school-name" class="form-label">Name of most recent school/college</label>
    <!-- <input class="form-control" type="text"> -->
    <span class="form-prepopped" id="schoolNamePre">St Bernards School</span>
  </div>
  <div class="inline-fixed">
    <div class="form-group">
      <label for="school-from" class="form-label">From</label>
      <!-- <input type="text" class="form-control form-control-medium" id="school-from"> -->
      <span class="form-prepopped" id="schoolFromPre">2008</span>
    </div>
    <div class="form-group">
      <label for="school-to" class="form-label">To</label>
      <!-- <input type="text" class="form-control form-control-medium" id="school-to"> -->
      <span class="form-prepopped" id="schoolToPre">2011</span>
    </div>
  </div>
</fieldset>

<fieldset class="fieldset-with-border">
  <legend class="heading-large">Qualifications</legend>
  <div class="qualifications-wrapper">
    <div class="qualification-table" id="gcse">
      <div class="hgroup-small">
        <h3 class="heading-small heading-qualType">GCSE</h3>
      </div>
      <table class="grid-3-4">
        <colgroup>
          <col class="t40">
          <col class="t25">
          <col class="t15">
          <col>
        </colgroup>
        <thead>
          <tr>
            <th class="th-qualSubject"><span class="heading-span">Subject</span></th>
            <th class="th-qualGrade"><span class="heading-span">Grade</span></th>
            <th class="th-qualYear"><span class="heading-span">Year</span></th>
          </tr>
        </thead>
        <tbody class="tbody-qual">
          <tr class="tr-qualRow">
            <td class="td-qualcell">
              <input class="form-control qual-input-edit" type="text" value="Maths" readonly>
            </td>
            <td class="td-qualcell">
              <input class="form-control qual-input-edit" type="text" value="A" readonly>
            </td>
            <td class="td-qualcell">
              <input class="form-control qual-input-edit" type="text" value="2011" readonly>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</fieldset>

<fieldset class="fieldset-with-border">
  <legend class="heading-large">Work experience</legend>
  <div class="work-history-wrapper grid-3-4">
    <div class="grid-wrapper work-history-item">
      <div class="grid grid-1-2">
        <table class="table-no-btm-border table-compound">
          <colgroup>
            <col class="t100">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>
                <span class="heading-span">Work experience</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span class="cell-span editable-work">Boots</span>
                <span class="cell-span work-hyphen">-</span>
                <span class="cell-span editable-work">Customer service</span>
                <div></div>
                <span class="cell-span editable-work">Helped customers at the checkout</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="grid grid-1-2">
        <table class="table-no-btm-border table-compound">
          <colgroup>
            <col class="t30">
            <col class="t30">
            <col class="t25">
            <col class="t15">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>
                <span class="heading-span">From</span>
              </th>
              <th>
                <span class="heading-span">To</span>
              </th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span class="cell-span editable-work">May 2012</span>
              </td>
              <td>
                <span class="cell-span editable-work">Sep 2013</span>
              </td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</fieldset>

<fieldset class="fieldset-with-border">
  <legend class="heading-large">About you</legend>
  <div class="form-group">
    <label for="question1" class="form-label">What are your strengths?</label>
    <span class="form-prepopped" id="question1Pre">My strengths are</span>
  </div>
  <div class="form-group">
    <label for="question2" class="form-label">Where do you feel you could improve?</label>
    <span class="form-prepopped" id="question2Pre">I could improve</span>
  </div>
  <div class="form-group">
    <label for="question3" class="form-label">What are your hobbies/interests?</label>
    <span class="form-prepopped" id="question3Pre">My hobbies and interests are</span>
  </div>
  <div class="form-group">
    <label for="question4" class="form-label">Is there anything we can do to support your interview?</label>
    <span class="form-prepopped" id="question4Pre">I need a signer</span>
  </div>
</fieldset>

<div class="form-group">
  <a href="apply-happens.html" class="button">Apply</a>
  <p>
    <a href="apply-index.html" class="button-link">Back</a>
  </p>
</div>

