---
headerTitle: Find an Apprenticeship
---

<div class="success-banner">
  <h1 class="heading-large"><i class="fa fa-check"></i>Vacancy application submitted</h1>
  <div>
    You have submitted your application for
    <h2 class="heading-medium">Mechnical Engineer (VAC000409315)</h2>
  </div>
</div>
<section class="section-border">
  <p><i class="fa fa-envelope-o"></i>We have sent you an email confirming receipt of your application.</p>
</section>
<h2 class="heading-medium">What happens next</h2>
<div class="text">
  <p>Check your email for details of the next steps, should you be shortlisted for an interview.</p>
  <p>You can also track the progress of your application at any time by visiting your dashboard.</p>
  <p>If you need to contact us, you can quote the vacancy reference number. This will help us more easily find the vacancy you've applied for.</p>
</div>
<div class="form-group get-started">
  <a href="search-results.html" class="button">Apply for another vacancy</a>
</div>
