---
headerTitle: Find an Apprenticeship
---

<h1 class="heading-xlarge">Apply for a vacancy</h1>
<fieldset class="fieldset-with-border">
  <legend class="heading-large">Your details</legend>
  <div class="form-group">
    <label for="full-name" class="form-label">Full name</label>
    <input id="full-name" type="text" class="form-control">
  </div>
  <div class="form-group date-input">
    <p class="form-label">Date of birth</p>
    <div class="form-group form-group-compound">
      <label class="form-hint" for="date-day2">Day</label>
      <input type="tel" class="form-control" maxlength="2" id="date-day2">
    </div>
    <div class="form-group form-group-compound">
      <label class="form-hint" for="date-month2">Month</label>
      <input type="tel" class="form-control" maxlength="2" id="date-month2">
    </div>
    <div class="form-group form-group-compound form-group-year">
      <label class="form-hint" for="date-year2">Year</label>
      <input type="tel" class="form-control" maxlength="4" id="date-year2">
    </div>
  </div>
  <div class="form-group">
    <label for="address" class="form-label">Address</label>
    <input id="address" type="text" class="form-control form-control-1-4">
  </div>
</fieldset>

<fieldset class="">
  <legend class="heading-large">Qualifications</legend>
  <!-- <div class="form-group">
    <label for="school-college" class="form-label">Name of school/college</label>
    <span class="form-hint">Including the town</span>
    <input type="text" class="form-control" id="school-college">
  </div> -->
  <div class="form-group">
    <label for="qual-type" class="form-label">Type of qualification</label>
    <select id="qual-type">
      <option value="">Select from list</option>
      <option value="">GCSE</option>
    </select>
  </div>
  <div class="form-group form-group-compound">
    <label for="subject-name" class="form-label">Subject</label>
    <input type="text" class="form-control" id="subject-name">
  </div>
  <fieldset class="inline-fixed">
    <div class="form-group">
      <label for="subject-grade" class="form-label">Grade</label>
      <input type="text" class="form-control form-control-medium" id="subject-grade">
    </div>
    <div class="form-group">
      <input id="predicted" type="checkbox">
      <label for="predicted">Predicted?</label>
    </div>
  </fieldset>
  <div class="form-group">
    <a href="#">Save qualification</a>
  </div>
  <h3 class="heading-small">GCSE</h3>
  <table class="grid-3-4">
    <colgroup>
      <col class="t55">
      <col class="t35">
      <col class="t10">
      <col>
    </colgroup>
    <thead>
      <tr>
        <th>Subject</th>
        <th>Grade</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Maths</td>
        <td>B</td>
        <td><a href="#">Edit</a></td>
      </tr>
      <tr>
        <td>Science</td>
        <td>CC (Predicted)</td>
        <td><a href="#">Edit</a></td>
      </tr>
    </tbody>
  </table>
</fieldset>
<fieldset>
  <div class="form-group"></div>
</fieldset>
<div class="form-group">
  <a href="apply-preview.html" class="button">Save and continue</a>
  <p>
    <a href="#" class="button-link">Back</a>
  </p>
</div>

