---
headerTitle: Apprenticeships
---

<fieldset class="inner-block-padr">
  <legend class="heading-large">Password reset</legend>
  <p class="text">Enter your 6-digit code and you can then reset your password</p>
  <div class="form-group">
    <p class="form-label">Email address</p>
    <span class="form-prepopped">henrycharge@gmail.com</span>
  </div>
  <div class="form-group">
    <label class="form-label" for="enter-code">Enter code</label>
    <input type="text" class="form-control" id="enter-code"/>
  </div>
  <div class="form-group">
    <a class="button" href="forgottenpassword-reset.html">Verify code</a>
  </div>
</fieldset>
