---
headerTitle: Apprenticeships
---

<h1 class="heading-xlarge">
  Find an apprenticeship
</h1>


<section class="grid-wrapper section-border">
  <div class="grid grid-2-3">
    <div class="inner-block-padr">
      <h2 class="heading-large">Use the new service </h2>
      <p>We've introduced a new way for you to find an apprenticeship</p>

      <div class="form-group get-started">
        <a href="search-index.html" class="button">Find an apprenticeship</a>
      </div>
    </div>
  </div>
  <div class="grid grid-1-3">
    <div class="inner-block">
      <ul class="list-text">
        <li>
          <a href="#">About apprenticeships</a>
        </li>
        <li>
          <a href="#">Introducing the new 'beta' service</a>
        </li>
        <li>
          <a href="#">National careers website</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="grid-wrapper section-border">
  <div class="grid grid-2-3">
    <div class="inner-block-padr">
      <h2 class="heading-medium">If you've applied through the original service</h2>
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo officiis natus sapiente. Quas labore eius nemo officiis perferendis iure commodi dolorem aliquid.</p>
      <p>
        <a href="#" rel="external" target="_blank">Track on the apprenticeship website</a>
      </p>
    </div>
  </div>
  <div class="grid grid-1-3">
    <div class="inner-block">
      <p>
        <a href="#" target="_blank">
          <img src="{{assets}}/img/av-screenshot.png" alt="">
        </a>
      </p>
    </div>
  </div>
</section>

<section class="section-border">
  <p>You can also search and apply for apprenticeships in other parts of the UK.</p>
  <p><a rel="external" href="http://www.nidirect.gov.uk/apprenticeshipsni" title="Apprenticeships in Northern Ireland (nidirect website)">Apprenticeships in Northern Ireland (nidirect website)</a><br><a rel="external" href="http://www.mappit.org.uk/" title="Apply for an apprenticeship in Scotland (MappIT website)">Apply for an apprenticeship in Scotland (MappIT website)</a><br><a rel="external" href="https://ams.careerswales.com/Public/Default.aspx?mode=vacancy&amp;timenow=164517" title="Apply for an apprenticeship in Wales (careerswales website)">Apply for an apprenticeship in Wales (careerswales website)</a>  </p>
</section>

<section>
  <p>Contact</p>
</section>