---
headerTitle: Apprenticeships
---
<div class="hgroup">
  <h1 class="heading-large">I can't access my account</h1>
</div>
<div class="grid-wrapper">
  <section class="grid grid-1-2">
    <div class="inner-block-padr">
      <h2 class="heading-small">I've forgotten my password</h2>
      <p>If you can’t remember your password we need to send you a code so you can create a new one. </p>
      <p><a href="forgottenpassword.html">Reset password</a></p>
    </div>
  </section>
  <section class="grid grid-1-2">
    <h2 class="heading-small">My account is locked</h2>
    <p>If you can't sign in to your account because it’s locked, we need to send you a code to unlock it.</p>
    <p><a href="blocked-email.html">Unlock account</a></p>
  </section>
</div>

