---
headerTitle: Find an Apprenticeship
---

<h1 class="heading-xlarge">Create an account</h1>

<fieldset class="fieldset-with-border">
  <legend class="heading-large">Your details</legend>
  <div class="form-group form-group-compound">
    <label for="first-name" class="form-label">First name</label>
    <input id="first-name" type="text" class="form-control" autocapitalize="words" autocorrect="off" value="" >
  </div>
  <div class="form-group form-group-compound">
    <label for="middle-name" class="form-label">Middle name (optional)</label>
    <input id="middle-name" type="text" class="form-control" autocapitalize="words" autocorrect="off" value="" >
  </div>
  <div class="form-group">
    <label for="last-name" class="form-label">Last name</label>
    <input id="last-name" type="text" class="form-control" autocapitalize="words" autocorrect="off" value="" >
  </div>
  <div class="form-group date-input">
    <p class="form-label">Date of birth</p>
    <div class="form-group form-group-compound">
      <label class="form-hint" for="date-day2">Day</label>
      <input type="tel" class="form-control" maxlength="2" pattern="[0-9*]" id="date-day2">
    </div>
    <div class="form-group form-group-compound">
      <label class="form-hint" for="date-month2">Month</label>
      <input type="tel" class="form-control" maxlength="2" id="date-month2">
    </div>
    <div class="form-group form-group-compound form-group-year">
      <label class="form-hint" for="date-year2">Year</label>
      <input type="tel" class="form-control" maxlength="4" id="date-year2">
    </div>
  </div>
  <div class="form-group toggle-content">
    <label for="understand-age" class="block-label">
      <input type="checkbox" id="understand-age">I understand that I may have to fund all or part of the training myself
    </label>
  </div>
</fieldset>

<fieldset class="fieldset-with-border">
  <legend class="heading-large">Contact details</legend>
  <div class="form-group">
    <div class="inline-fixed">
      <div class="form-group form-group-compound">
        <label for="post-code" class="form-label">Post code</label>
        <input id="post-code" type="text" class="form-control form-control-large " autocapitalize="characters" autocorrect="off" value="">
      </div>
      <div class="form-group form-group-compound">
        <a href="#" class="button address-find-btn">Find address</a>
      </div>
    </div>
    <div class="address-find-select form-group toggle-content">
      <label for="address-select" class="form-label">Select your address</label>
      <select name="" id="address-select">
        <option value="void">-- 5 found --</option>
        <option class="address-select-option" value="36 Bolton Road">36 Bolton Road</option>
        <option class="address-select-option" value="37 Bolton Road">37 Bolton Road</option>
        <option class="address-select-option" value="38 Bolton Road">38 Bolton Road</option>
        <option class="address-select-option" value="39 Bolton Road">39 Bolton Road</option>
        <option class="address-select-option" value="40 Bolton Road">40 Bolton Road</option>
      </select>
    </div>
    <div class="form-group">
      Or you can <a href="#" class="address-manual-btn">enter address manually</a>
    </div>
    <div class="address-manual-input panel-indent toggle-content">
      <div class="form-group form-group-compound">
        <label for="address1" class="form-label">First line of address</label>
        <input id="address1" type="text" class="form-control" autocorrect="off" value="">
      </div>
      <div class="form-group form-group-compound">
        <label for="address2" class="form-label">Second line (optional)</label>
        <input id="address2" type="text" class="form-control" autocorrect="off">
      </div>
      <div class="form-group form-group-compound">
        <label for="address3" class="form-label">Town or city</label>
        <input id="address3" type="text" class="form-control" autocorrect="off" value="">
      </div>
      <div class="form-group form-group-compound">
        <label for="address3b" class="form-label">County</label>
        <input id="address3b" type="text" class="form-control" autocorrect="off" value="">
      </div>
      <div class="form-group form-group-compound">
        <label for="address4" class="form-label">Post code</label>
        <input id="address4" type="text" class="form-control form-control-large" autocapitalize="characters" autocorrect="off" value="">
      </div>
    </div>

  <div class="form-group">
    <label for="email-input" class="form-label" id="emailInput">Enter email</label>
    <span class="form-hint">This will also be your username</span>
    <input type="email" class="form-control linked-input-master" id="email-input" spellcheck="false">
  </div>
  <div class="form-group">
    <label for="telephone-num1" class="form-label">Phone</label>
    <input type="tel" class="form-control form-control-1-3" id="telephone-num1">
  </div>

  <div class="form-group inline">
    <p class="form-label">I prefer to be contacted by</p>
    <label for="pref-email" class="block-label">
      <input checked name="preference" type="radio" id="pref-email">Email
    </label>
    <label for="pref-tel" class="block-label">
      <input name="preference" type="radio" id="pref-tel">Phone
    </label>
  </div>
</fieldset>
<fieldset class="fieldset-with-border">
  <legend class="heading-large">Sign in details</legend>
  <div class="form-group">
    <p class="form-label">Username is your email address</p>
    <span class="form-prepopped hidden linked-input-slave"></span>
    <a href="#emailInput">Edit your email</a>
  </div>
  <div class="form-group">
    <label for="password-input" class="form-label">Create password</label>
    <span class="form-hint">This must be at least 8 characters long</span>
    <div class="password-wrapper">
      <input type="password" class="form-control" id="password-input">
      <span class="pw-masktoggle button-link">Show</span>
    </div>
    <p class="form-hint strength-indicator">Password strength: <span id="pass_meter" class=""></span></p>
  </div>
</fieldset>
<fieldset>
  <details>
    <summary role="button">Read our terms &amp; conditions</summary>
    <div class="max-height-15 scrolling-panel text copy-16">
      {{> terms }}
    </div>
  </details>
  <div class="form-group">
    <label for="accept-terms" class="block-label">
      <input type="checkbox" id="accept-terms">I accept the terms &amp; conditions
    </label>
  </div>
</fieldset>

<div class="form-group">
  <a class="button" href="profile-complete.html">Create account</a>
  <p><a class="button-link" href="index.html">Back</a></p>
</div>

<script src="{{assets}}/js/vendor/zxcvbn-async.js"></script>