---
headerTitle: Apprenticeships
---
<div class="hgroup">
  <h1 class="heading-large">I can't access my account</h1>
</div>
<!-- <div class="grid-wrapper">
  <section class="grid grid-1-2">
    <div class="inner-block-padr">
      <h2 class="heading-small">I've forgotten my password</h2>
      <p>If you can’t remember your password we need to send you a code so you can create a new one. </p>
      <p><a href="forgottenpassword.html">Reset password</a></p>
    </div>
  </section>
  <section class="grid grid-1-2">
    <h2 class="heading-small">My account is locked</h2>
    <p>If you can't sign in to your account because it’s locked, we need to send you a code to unlock it.</p>
    <p><a href="blocked-email.html">Unlock account</a></p>
  </section>
</div> -->
<div class="text">
  <h2 class="heading-medium">Forgotten password?</h2>
  <p>To reset your password we need to send you a 6-character code to your email address. </p>
</div>
  <div class="form-group">
    <label class="form-label" for="forgottenEmail">Enter email</label>
    <input type="email" class="form-control" id="forgottenEmail"/>
  </div>
  <div class="form-group">
    <a class="button" href="forgottenpassword-entercode.html">Send code</a>
  </div>
<div class="text">
  <h2 class="heading-medium">Account locked?</h2>
  <p>If you've locked your account, and you have a valid account unlock code, you can <a href="blocked-entercode.html">enter it here</a>. Alternatively, resetting your password will also unlock your account.</p>
</div>
