---
headerTitle: Apprenticeships
---
<div class="hgroup">
  <h1 class="heading-large">I can't access my account</h1>
</div>
<div class="grid-wrapper">
  <section class="grid grid-1-2">
    <div class="inner-block-padr">
      <h2 class="heading-small">I've forgotten my password</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo necessitatibus illum.</p>
      <p><a href="forgottenpassword.html">Reset password</a></p>
    </div>
  </section>
  <section class="grid grid-1-2">
    <h2 class="heading-small">My account is locked</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo necessitatibus illum mollitia expedita ea.</p>
    <p><a href="blocked-email.html">Unlock account</a></p>
  </section>
</div>

