---
headerTitle: Find an Apprenticeship
---

<h1 class="heading-xlarge">Account created</h1>

<fieldset>
  <legend class="heading-large">Confirmation email sent</legend>
  <div class="form-group text">
    <p>Your confirmation email has been sent to <strong>name@email.com</strong></p>
  </div>
  <div class="form-group">
    <a href="index.html" class="button">Return to dashboard</a>
    <p>
      <a href="profile-create.html" class="button-link">Back</a>
    </p>
  </div>
</fieldset>