---
headerTitle: Apprenticeships
---

<h1 class="heading-xlarge">Settings</h1>

<div class="grid-wrapper">
  <div class="grid grid-1-4">
    <div class="inner-block-padr">
      <nav class="title-toggler">
        <p class="bold-medium mob-collpanel-trigger hide-tablet chosen-selection">Personal details</p>
        <div class="mob-collpanel toggle-content--mob">
          <a class="block-link active" href="#">Personal details</a>
          <a class="block-link" href="#">Account</a>
        </div>
      </nav>
    </div>
  </div>

  <div class="grid grid-3-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et veritatis ipsa illo atque molestiae, neque quas vero id, commodi quia pariatur placeat, amet consequatur quo laboriosam perferendis eum, dolor nemo.
  </div>
</div>