<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<div class="search-results">
  <div class="search-results__item">
    <a href="" data-vac-lat="52.31506" data-vac-long="-1.499383" class="vacancy-link">Map</a>
    <div class="map-container">
      <div class="map" id="map-canvas1"></div>
    </div>
  </div>
</div>