---
headerTitle: Find an apprenticeship
---
<div class="hgroup">
    <h1 class="heading-xlarge">Verify your mobile number</h1>
</div>

<p class="text">To receive notifications via text message, you'll need to verify your mobile number by entering the code that was sent to your mobile phone.</p>

<div class="form-group">
  <label for="enterNumber" class="form-label">Mobile number</label>
  <input type="text" class="form-control" id="enterNumber">
</div>

<div class="form-group form-group-withlink">
  <label for="enterCode" class="form-label">Enter code</label>
  <input type="text" class="form-control" id="enterCode">
</div>
<div class="form-group">
  <p>
    <a href="">Resend code</a>
  </p>
</div>

<div class="form-group">
  <a href="settings.html" class="button" id="numberVerified">Verify number</a>
</div>
