@import "variables/_colours";
@import "variables/_font-stack";


//********** Pallete

$colorPrimary: #da337d;
$colorWhite: white;
$colorBlack: black;

$colorTransparent: transparent;

// Assetpath variables

$assetPath: "../assets/";
            
// Breakpoint variables
$breakpoint1: 320px;
$breakpoint2: 575px;
$breakpoint3: 815px;
$breakpoint4: 972px;
$breakpoint5: 1100px;



