//********** Pallete
$colorRed: #990000;
$colorWhite: white;
$colorBlack: black;

$colorTransparent: transparent;

// Assetpath variables
$assetPathWWW: "";
$assetPathShared: ""; 

// Font variables 
            
// Breakpoint variables
$breakpoint1: 320px;
$breakpoint2: 575px;
$breakpoint3: 815px;
$breakpoint4: 972px;
$breakpoint5: 1100px;
