.date-input {
  @extend %clearfix;
  margin-top: 0;
  .form-control {
    width: 100%;
  }
  .form-label {
    margin: 0;
  }
  .form-group {
    clear: none;
    float: left;
    margin-right: 20px;
    width: 50px;
  }
  .form-group-year {
    width: 70px;
  }
  &.toggle-content {
    display: none;
  }
}