
// Validation summary box
.validation-summary {
  @extend %clearfix;
  background: $error-background;
  border-left: 3px solid $error-colour;
  box-sizing: content-box;
  margin-bottom: $gutter;
  margin-left: -13px;
  padding: $gutter-half 0 $gutter 10px;
  ul {
    margin-top: 10px;
  }
  li, p {
    @include core-16;
  }
  p {
    margin-top: $gutter-half;
    margin-bottom: 5px;
  }
  .heading-small {
    color: $error-colour;
    margin-top: $gutter-half;
  }
}

// Validation error message box
.validation-error {
  border-left: 3px solid $error-colour;
  box-sizing: content-box;
  color: $error-colour;
  margin-left: -13px;
  padding: 0 0 0 10px;
  .form-hint {
    color: $error-colour;
  }
  @include media(tablet) {
    margin-left: -18px;
    padding-left: $gutter-half;
  }
}

// Validation message
.validation-message {
  display: block;
  @include core-16;
  // color: $error-colour;
}