---
headerTitle: Apprenticeships
---
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js">
</script>
<script type="text/javascript">
  function gup( name )
    {
      name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
      var regexS = "[\\?&]"+name+"=([^&#]*)";
      var regex = new RegExp( regexS );
      var results = regex.exec( window.location.href );
      if( results == null )
        return null;
      else
        return results[1];
    }

  var latitude   = Number(gup( 'Latitude' )),
      longitude  = Number(gup( 'Longitude' )),
      miles      = Number(gup( 'WithinDistance' )),
      zoom       = 9,
      radiusCircle;

  if(miles <= 40) {
    zoom = 7
  }

  if(miles <= 30) {
    zoom = 8
  }

  if(miles < 20) {
    zoom = 9
  }

  if(miles < 10) {
    zoom = 10
  }

  if(miles < 5) {
    zoom = 11
  }



  function initialize() {

    var mapOptions = {
      center: { lat: latitude, lng: longitude},
      zoom: zoom,
      panControl: false,
      zoomControl: true,
      mapTypeControl: false,
      scaleControl: false,
      streetViewControl: false,
      overviewMapControl: false,
      scrollwheel: false
    };

    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    var distanceCircle = {
      strokeColor: '#005ea5',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#005ea5',
      fillOpacity: 0.25,
      map: map,
      center: mapOptions.center,
      radius: miles * 1609.344
    }

    radiusCircle = new google.maps.Circle(distanceCircle);

  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div class="search-results-wrapper grid-wrapper">
  <div class="hgroup">
    <h1 class="heading-xlarge">Search results</h1>
    <p class="small-btm-margin">We've found <b class="bold-medium">84</b> apprenticeships in your selected apprenticeship sector</p>
  </div>
  <section class="grid grid-1-3">
    <fieldset class="search-filter">
      <legend class="hide-tablet heading-medium mob-collpanel-trigger">Edit search</legend>
      <div class="toggle-content--mob mob-collpanel">
        <nav class="tabbed-nav">
          <a href="#tab1" class="tabbed-tab">Search</a>
          <a href="#tab2" class="tabbed-tab active">Browse</a>
        </nav>
        <div class="tabbed-content" id="tab1">
          <div class="form-group">
            <label for="keywords" class="form-label">Keywords (optional)</label>
            <span class="form-hint">Can include job title, reference number or keyword</span>
            <input id="keywords" type="text" class="form-control form-control-3-4 search-proto-input search-proto-input-1">
          </div>
          <div class="form-group">
            <label for="location" class="form-label">Apprenticeship location</label>
            <span class="form-hint">Enter postcode, town or city</span>
            <input id="location" type="text" class="form-control form-control-3-4 search-proto-input search-proto-input-2">
          </div>
          <div class="form-group">
            <label for="loc-within" class="form-label">Within</label>
            <select id="loc-within">
              <option value="">2 miles</option>
              <option value="">5 miles</option>
              <option value="">10 miles</option>
              <option value="">15 miles</option>
              <option value="">20 miles</option>
              <option value="">30 miles</option>
              <option value="">40 miles</option>
            </select>
          </div>
          <div class="form-group">
            <a class="button" href="search-results.html?Keywords=&Location=Coventry+%28West+Midlands%29&WithinDistance=10&Latitude=52.4035&Longitude=-1.50901&Hash=0&LocationType=NonNational&ResultsPerPage=5">Update results</a>
          </div>
          <!-- <div class="form-group">
            <div id="map-canvas" class="map-container" style="width: 100%; height: 250px"></div>
          </div> -->
          <div class="form-group">
            <details>
              <summary>Filter results</summary>
              <div class="detail-content">
                <div class="form-group">
                  <label for="wageFilter" class="form-label">Minimum wage (per hour)</label>
                  <input id="wageFilter" type="text" class="form-control width-all-1-2" value="£2.73">
                </div>
                <div class="form-group">
                  <label for="apprType" class="form-label">Apprenticeship level</label>
                  <select name="" id="apprType">
                    <option value="">Select level</option>
                    <option value="">Intermediate (level 2)</option>
                    <option value="">Advanced (level 3)</option>
                    <option value="">Higher (level 4 or above)</option>
                  </select>
                </div>
                <div>
                  <button class="button">Apply filters</button>
                </div>
              </div>
            </details>
          </div>
        </div>
        <div class="tabbed-content active" id="tab2">
          <div class="form-group form-group-compound">
            <label for="location" class="form-label">Apprenticeship location</label>
            <input id="location" type="text" class="form-control search-proto-result-input search-proto-result-input-2" value="coventry">
          </div>
          <div class="form-group">
            <label for="loc-within" class="form-label">Within</label>
            <select id="loc-within">
              <option value="">2 miles</option>
              <option value="">5 miles</option>
              <option value="">10 miles</option>
              <option value="">15 miles</option>
              <option selected value="">20 miles</option>
              <option value="">30 miles</option>
              <option value="">40 miles</option>
            </select>
          </div>
          <div class="form-group">
            <details open>
              <summary>Show/hide sectors</summary>
              <ul class="copy-16 list-text list-checkradio details-content">
                <li>
                  <input checked type="radio" name="parentSectors" id="parentInput0"><label for="parentInput0">Agriculture, Horticulture and Animal Care</label>
                  <ul class="copy-16 list-text list-checkradio">
                    <li><input type="checkbox" id="childInput1"><label for="childInput1">Agriculture</label></li>
                    <li><input type="checkbox" id="childInput2"><label for="childInput2">Animal Care</label></li>
                    <li><input type="checkbox" id="childInput3"><label for="childInput3">Animal Technology</label></li>
                    <li><input type="checkbox" id="childInput4"><label for="childInput4">Environmental Conservation</label></li>
                    <li><input type="checkbox" id="childInput5"><label for="childInput5">Equine</label></li>
                    <li><input type="checkbox" id="childInput6"><label for="childInput6">Farriery</label></li>
                    <li><input type="checkbox" id="childInput7"><label for="childInput7">Fencing</label></li>
                    <li><input type="checkbox" id="childInput8"><label for="childInput8">Fish Husbandry and Fisheries Management</label></li>
                    <li><input type="checkbox" id="childInput9"><label for="childInput9">Floristry</label></li>
                    <li><input type="checkbox" id="childInput10"><label for="childInput10">Game and Wildlife Management</label></li>
                    <li><input type="checkbox" id="childInput11"><label for="childInput11">Horticulture</label></li>
                    <li><input type="checkbox" id="childInput12"><label for="childInput12">Land-based Engineering</label></li>
                    <li><input type="checkbox" id="childInput13"><label for="childInput13">Nursing Assistant in a Veterinary Environment</label></li>
                    <li><input type="checkbox" id="childInput14"><label for="childInput14">Trees and Timber</label></li>
                    <li><input type="checkbox" id="childInput15"><label for="childInput15">Veterinary Nursing</label></li>
                  </ul>
                </li>
                <li>
                  <input type="radio" name="parentSectors" id="parentInput1"><label for="parentInput1">Arts, Media and Publishing</label>
                  <ul class="copy-16 list-text list-checkradio">
                    <li><input type="checkbox" id="child2Input1"><label for="child2Input1">Lorem ipsum.</label></li>
                    <li><input type="checkbox" id="child2Input2"><label for="child2Input2">Voluptates, eligendi!</label></li>
                    <li><input type="checkbox" id="child2Input3"><label for="child2Input3">Sunt, numquam.</label></li>
                    <li><input type="checkbox" id="child2Input4"><label for="child2Input4">Voluptas, aspernatur.</label></li>
                    <li><input type="checkbox" id="child2Input5"><label for="child2Input5">Ullam, nam.</label></li>
                    <li><input type="checkbox" id="child2Input6"><label for="child2Input6">Doloribus, tempora.</label></li>
                  </ul>
                </li>
                <li>
                  <input type="radio" name="parentSectors" id="parentInput2"><label for="parentInput2">Business, Administration and Law</label>
                  <ul class="copy-16 list-text list-checkradio">
                    <li><input type="checkbox" id="child3Input1"><label for="child3Input1">Lorem ipsum.</label></li>
                    <li><input type="checkbox" id="child3Input2"><label for="child3Input2">Nemo, dolore.</label></li>
                    <li><input type="checkbox" id="child3Input3"><label for="child3Input3">Et, facere!</label></li>
                    <li><input type="checkbox" id="child3Input4"><label for="child3Input4">Animi, non?</label></li>
                    <li><input type="checkbox" id="child3Input5"><label for="child3Input5">Maiores, debitis.</label></li>
                    <li><input type="checkbox" id="child3Input6"><label for="child3Input6">Officiis, dicta!</label></li>
                    <li><input type="checkbox" id="child3Input7"><label for="child3Input7">Ipsa, ducimus!</label></li>
                    <li><input type="checkbox" id="child3Input8"><label for="child3Input8">Nostrum, tempore.</label></li>
                  </ul>
                </li>
                <li>
                  <input type="radio" name="parentSectors" id="parentInput3"><label for="parentInput3">Construction, Planning and the Built Environment</label>
                  <ul class="copy-16 list-text list-checkradio">
                    <li><input type="checkbox" id="child4Input1"><label for="child4Input1">Lorem ipsum.</label></li>
                    <li><input type="checkbox" id="child4Input2"><label for="child4Input2">Ducimus, inventore.</label></li>
                    <li><input type="checkbox" id="child4Input3"><label for="child4Input3">Porro, eos.</label></li>
                    <li><input type="checkbox" id="child4Input4"><label for="child4Input4">Odio, ipsum.</label></li>
                    <li><input type="checkbox" id="child4Input5"><label for="child4Input5">A, accusantium.</label></li>
                    <li><input type="checkbox" id="child4Input6"><label for="child4Input6">In, doloremque.</label></li>
                    <li><input type="checkbox" id="child4Input7"><label for="child4Input7">Explicabo, minus!</label></li>
                    <li><input type="checkbox" id="child4Input8"><label for="child4Input8">Accusamus, nulla.</label></li>
                    <li><input type="checkbox" id="child4Input9"><label for="child4Input9">Eligendi, at!</label></li>
                  </ul>
                </li>
                <li>
                  <input type="radio" name="parentSectors" id="parentInput4"><label for="parentInput4">Education and Training</label>
                  <ul class="copy-16 list-text list-checkradio">
                    <li><input type="checkbox" id="child5Input1"><label for="child5Input1">Lorem ipsum.</label></li>
                    <li><input type="checkbox" id="child5Input2"><label for="child5Input2">Non, ut.</label></li>
                    <li><input type="checkbox" id="child5Input3"><label for="child5Input3">Culpa, quia.</label></li>
                    <li><input type="checkbox" id="child5Input4"><label for="child5Input4">Veniam, nemo!</label></li>
                    <li><input type="checkbox" id="child5Input5"><label for="child5Input5">Autem, quaerat.</label></li>
                    <li><input type="checkbox" id="child5Input6"><label for="child5Input6">Voluptate, voluptas!</label></li>
                  </ul>
                </li>
                <li>
                  <input type="radio" name="parentSectors" id="parentInput5"><label for="parentInput5">Engineering and Manufacturing Technologies</label>
                  <ul class="copy-16 list-text list-checkradio">
                    <li><input type="checkbox" id="child6Input1"><label for="child6Input1">Lorem ipsum.</label></li>
                    <li><input type="checkbox" id="child6Input2"><label for="child6Input2">Iusto, animi.</label></li>
                    <li><input type="checkbox" id="child6Input3"><label for="child6Input3">Alias, iste.</label></li>
                    <li><input type="checkbox" id="child6Input4"><label for="child6Input4">Totam, molestiae.</label></li>
                    <li><input type="checkbox" id="child6Input5"><label for="child6Input5">Id, possimus?</label></li>
                    <li><input type="checkbox" id="child6Input6"><label for="child6Input6">Temporibus, illum.</label></li>
                    <li><input type="checkbox" id="child6Input7"><label for="child6Input7">Harum, laudantium.</label></li>
                    <li><input type="checkbox" id="child6Input8"><label for="child6Input8">Dolores, vitae.</label></li>
                    <li><input type="checkbox" id="child6Input9"><label for="child6Input9">Ducimus, eos!</label></li>
                    <li><input type="checkbox" id="child6Input10"><label for="child6Input10">Aliquam, numquam.</label></li>
                  </ul>
                </li>
                <li>
                  <input type="radio" name="parentSectors" id="parentInput6"><label for="parentInput6">Health, Public Services and Care</label>
                  <ul class="copy-16 list-text list-checkradio">
                    <li><input type="checkbox" id="child7Input1"><label for="child7Input1">Lorem ipsum.</label></li>
                    <li><input type="checkbox" id="child7Input2"><label for="child7Input2">Cumque, libero?</label></li>
                    <li><input type="checkbox" id="child7Input3"><label for="child7Input3">Dignissimos, aspernatur.</label></li>
                    <li><input type="checkbox" id="child7Input4"><label for="child7Input4">Totam, et.</label></li>
                    <li><input type="checkbox" id="child7Input5"><label for="child7Input5">At, provident!</label></li>
                    <li><input type="checkbox" id="child7Input6"><label for="child7Input6">Odit, quis!</label></li>
                    <li><input type="checkbox" id="child7Input7"><label for="child7Input7">Aliquam, sapiente!</label></li>
                  </ul>
                </li>
                <li>
                  <input type="radio" name="parentSectors" id="parentInput7"><label for="parentInput7">Information and Communication Technology</label>
                  <ul class="copy-16 list-text list-checkradio">
                    <li><input type="checkbox" id="child8Input1"><label for="child8Input1">Lorem ipsum.</label></li>
                    <li><input type="checkbox" id="child8Input2"><label for="child8Input2">Voluptas, voluptatem.</label></li>
                    <li><input type="checkbox" id="child8Input3"><label for="child8Input3">Nemo, veniam!</label></li>
                    <li><input type="checkbox" id="child8Input4"><label for="child8Input4">Non, delectus!</label></li>
                  </ul>
                </li>
                <li>
                  <input type="radio" name="parentSectors" id="parentInput8"><label for="parentInput8">Leisure, Travel and Tourism</label>
                  <ul class="copy-16 list-text list-checkradio">
                    <li><input type="checkbox" id="child9Input1"><label for="child9Input1">Lorem ipsum.</label></li>
                    <li><input type="checkbox" id="child9Input2"><label for="child9Input2">Veritatis, asperiores!</label></li>
                    <li><input type="checkbox" id="child9Input3"><label for="child9Input3">Eaque, fugit?</label></li>
                    <li><input type="checkbox" id="child9Input4"><label for="child9Input4">Placeat, libero.</label></li>
                    <li><input type="checkbox" id="child9Input5"><label for="child9Input5">Culpa, deleniti.</label></li>
                    <li><input type="checkbox" id="child9Input6"><label for="child9Input6">Molestiae, dolores?</label></li>
                    <li><input type="checkbox" id="child9Input7"><label for="child9Input7">Minima, officia!</label></li>
                    <li><input type="checkbox" id="child9Input8"><label for="child9Input8">Numquam, incidunt.</label></li>
                  </ul>
                </li>
                <li>
                  <input type="radio" name="parentSectors" id="parentInput9"><label for="parentInput9">Retail and Commercial Enterprise</label>
                  <ul class="copy-16 list-text list-checkradio">
                    <li><input type="checkbox" id="child10Input1"><label for="child10Input1">Lorem ipsum.</label></li>
                    <li><input type="checkbox" id="child10Input2"><label for="child10Input2">Itaque, illo.</label></li>
                    <li><input type="checkbox" id="child10Input3"><label for="child10Input3">Voluptatem, ut.</label></li>
                    <li><input type="checkbox" id="child10Input4"><label for="child10Input4">Totam, at.</label></li>
                    <li><input type="checkbox" id="child10Input5"><label for="child10Input5">Fugiat, consectetur!</label></li>
                    <li><input type="checkbox" id="child10Input6"><label for="child10Input6">Ratione, harum.</label></li>
                  </ul>
                </li>
              </ul>
            </details>
          </div>
          <div class="form-group">
            <details>
              <summary>Filter by wage/level</summary>
              <div class="detail-content">
                <div class="form-group">
                  <label for="wageFilter" class="form-label">Minimum wage (per hour)</label>
                  <input id="wageFilter" type="text" class="form-control width-all-1-2" value="£2.73">
                </div>
                <div class="form-group">
                  <label for="apprType" class="form-label">Apprenticeship level</label>
                  <select name="" id="apprType">
                    <option value="">Select level</option>
                    <option value="">Intermediate (level 2)</option>
                    <option value="">Advanced (level 3)</option>
                    <option value="">Higher (level 4 or above)</option>
                  </select>
                </div>
              </div>
            </details>
          </div>
          <div class="form-group">
            <a href="#" class="button">Update results</a>
          </div>
          <div class="form-group">
            <div id="map-canvas" class="map-container" style="width: 100%; height: 250px"></div>
          </div>
        </div>
      </div>

    </fieldset>
  </section>
  <section class="grid grid-2-3">
    <fieldset>
      <legend class="visuallyhidden">Search items</legend>
      <div class="float-right-wrap">
        <div class="form-group form-group-compound">
          <label for="sort-results" class="heading-medium inline">Sort results</label>
          <select name="" id="sort-results">
            <option value="sort-distance">Distance</option>
            <option value="sort-closing">Closing date</option>
          </select>
        </div>
      </div>
    </fieldset>
    <ul class="search-results">
      <li class="search-results__item section-border">
        <div class="hgroup-medium">
          <h3 class="heading-medium"><a href="search-details.html">Mechanical Engineer – Precision Toolmaker</a></h3>
          <h4 class="subtitle">R G Engineering</h4>
        </div>
        <p>
          An exciting opportunity has arisen for the right candidate to gain an engineering qualification through an apprenticeship. If you have got drive and want to learn a highly skilled trade then look no further.
        </p>
        <div class="inl-block-wrapper">
          <ul class="list-text btm-align width-all-2-3">
            <li><b>Distance:</b> 5.2 miles</li>
            <li><b>Closing date:</b> 30 Jun 14</li>
          </ul>
          <div class="btm-align width-all-1-3">
<!--             <div class="search-save">
              <input type="checkbox" class="save-trigger" id="save-trigger1">
              <label for="save-trigger1">Save</label>
            </div> -->
          </div>
        </div>
      </li>
      <li class="search-results__item section-border">
        <div class="hgroup-medium">
          <h3 class="heading-medium"><a href="#">Advanced Apprenticeship in Electro-technical Installation/Maintenance</a></h3>
          <h4 class="subtitle">Johnson Controls Ltd</h4>
        </div>
        <p>
          Electro-technical Engineers are responsible for the installation, maintenance, and the diagnosis and repair of faults, for a variety of Electrical Services and Equipment in commercial, industrial and retail buildings.
        </p>
        <div class="inl-block-wrapper">
          <ul class="list-text btm-align width-all-2-3">
            <li><b>Distance:</b> 5.2 miles</li>
            <li><b>Closing date:</b> 14 Jun 14</li>
          </ul>
          <div class="btm-align width-all-1-3">
<!--             <div class="search-save">
              <input type="checkbox" class="save-trigger" id="save-trigger2">
              <label for="save-trigger2">Save</label>
            </div> -->
          </div>
        </div>
      </li>
      <li class="search-results__item section-border">
        <div class="hgroup-medium">
          <h3 class="heading-medium"><a href="#">Engineering Compressed Air Service Apprentice</a></h3>
          <h4 class="subtitle">Direct Air &amp; Pipe Work Ltd</h4>
        </div>
        <p>
          Training to become a Compressed Air Service Engineer Once qualified working at Customers Premises around the Midlands and UK with company vehicle carrying out routine servicing/repairs of compressed air equipment.
        </p>
        <div class="inl-block-wrapper">
          <ul class="list-text btm-align width-all-2-3">
            <li><b>Distance:</b> 5.2 miles</li>
            <li><b>Closing date:</b> 18 Jun 14</li>
          </ul>
          <div class="btm-align width-all-1-3">
<!--             <div class="search-save">
              <input type="checkbox" class="save-trigger" id="save-trigger3">
              <label for="save-trigger3">Save</label>
            </div> -->
          </div>
        </div>
      </li>
    </ul>
    <div class="page-navigation">
      <a href="#" class="page-navigation__btn previous">
        <i class="arrow-button fa fa-angle-left"></i>
        <span class="description">Previous <span class="hide-mob">page</span></span>
        <span class="counter">1 of 6</span>
      </a>
      <a href="#" class="page-navigation__btn next">
        <i class="arrow-button fa fa-angle-right"></i>
        <span class="description">Next <span class="hide-mob">page</span></span>
        <span class="counter">2 of 6</span>
      </a>
    </div>
    <div class="form-group">
    <label for="results-per-page" class="heading-small inline">Display results</label>
      <select id="results-per-page" name="resultsPerPage"><option selected="selected" value="5">5 per page</option>
        <option value="10">10 per page</option>
        <option value="25">25 per page</option>
        <option value="50">50 per page</option>
      </select>
    </div>
  </section>
</div>


