@import "_base.scss";
@import "_components.scss";
@import "_modules.scss";

h1 {
  @include heading-48;
}

h1.page-title {
  @include heading-24;
}

ul {
  padding-left: 20px;
}

#phase-notice {
  background: $colorPrimary;
  p {
    margin: 0 auto;
    max-width: 980px;
    padding: 8px 32px;
    font-size: 1.9rem;
    line-height: 1.31579;
    color: $colorBlack;
  }
  a {
    color: #0B0C0C;
  }
  strong {
    text-transform: uppercase;
  }
}

#main {
  background: #FFF;
  border-top: 10px solid $govuk-blue;
  display: block;
  max-width: 980px;
  margin: 0 auto;
  padding-top: 1.5em;
}

.get-started {
  margin: 1.5em 0 0 0;
  .button {
    padding: 0.60em 1.7em 0.45em 0.67em;
    background-image: url(../img/icon-pointer.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    font-size: 24px;
    line-height: 0.66667;
    text-transform: none;
    font-weight: 700;
    display: inline-block;
  }
  .destination {
    font-size: 14px;
    line-height: 1.42857;
    font-weight: 400;
    text-transform: none;
    color: #2E3133;
    display: block;
    margin-top: 0.5em;
    max-width: 13em;
  }
}

.review-vacancy {
  fieldset {
    overflow: hidden;
  }
  .amend-answers {
    float: right;
    margin-top: -19px;
  }
}

.h-startdate {
  display: none;
}

.h-startdate-radio:checked + .h-startdate {
  display: block;
}

#content-wrapper {
  background: #fff;
  padding: 0 0 4em 0;
  margin: 0 auto;
  max-width: 980px;
  section p {
      margin: 0;
      font-size: 1.9rem;
      font-weight: 400;
      line-height: 1.4em;
  }
  .help-container {
    width: 100%;
    clear: both;
    margin-bottom: 2em;
    ul {
      margin-top: 1.5em;
      list-style: none;
      display: inline;
      float: right;
      li {
        float: left;
        margin-right: 20px;
      }
    }
  }
}