@import "base.scss";
@import "components.scss";
@import "modules.scss";


main {
    background: #fff;
    border-bottom: 10px solid $colorPrimary;
    display: block;
}

.skiplink-container {
    text-align: center;
    background: #0b0c0c;
}

.skiplink-container div {
    text-align: left;
    margin: 0 auto;
    max-width: 1020px;
}

.skiplink-container div .skiplink {
    position: absolute;
    left: -9999em;
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0.75em 0 0 30px;
}

.skiplink-container div .skiplink:focus {
    position: static;
}



h1 {
    @include core-24;
    margin-bottom:1em;
}



#content-wrapper {
    background: #fff;
    padding: 0 1em 4em 1em; 
    margin: 0 auto;
    max-width: 980px;
    section p {
        margin: 0;
        font-size: 1.9rem;
        font-weight: 400;
        line-height: 1.4em;
    }
    .help-container {
        width: 100%;
        clear:both;
        border-top: 10px solid $colorPrimary;
        margin-bottom:20px;
        ul {
            list-style: none;
            display: inline;
            float: right;
            li {
                float: left;
                margin-right: 20px;
            }
        }
    }

}