@import "base.scss";
@import "components.scss";
@import "modules.scss";


main {
    background: #fff;
    border-bottom: 10px solid #9325B2;
    display: block;
}

.content-wrapper {
    background: #fff;
    padding: 0 1em 4em 1em;
    margin: 0 auto;
    max-width: 980px;

    section p {
        margin: 0;
        font-size: 1.9rem;
        font-weight: 400;
        line-height: 1.4em;
    }

    h1 {
      font-size: $h1-font-size;
    }


}


.content-wrapper section p.mandatory {
    margin-top: 1.6em;
    font-size: 1.6rem;
}

.ie .content-wrapper section p.mandatory {
    font-size: 16px;
}

.content-wrapper section p.mandatory em {
    font-style: normal;
    font-size: 1.9rem;
}

.ie .content-wrapper section p.mandatory em {
    font-size: 19px;
}

.content-wrapper section p.security-message {
    margin-bottom: 1em;
    font-size: 1.6rem;
}

.ie .content-wrapper section p.security-message {
    font-size: 16px;
}

.content-wrapper section p.security-message strong {
    font-weight: 600;
    text-decoration: underline;
}

.content-wrapper section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content-wrapper .completed {
    margin-top: 1.4em;
    margin-left: -1em;
}

@media screen and (max-width: 640px) {
    .content-wrapper .completed {
        margin-left: 0;
    }
}

.content-wrapper .completed .start-again {
    text-align: right;
}

.content-wrapper .completed .start-again a {
    display: inline-block;
    background: #006435;
    font-size: 1.9rem;
    padding: .7em 1.75em;
    color: #fff;
    line-height: 1em;
    text-decoration: none;
}

.ie .content-wrapper .completed .start-again a {
    font-size: 19px;
}

.content-wrapper .completed .start-again a:hover {
    background: #004b27;
}

.content-wrapper .completed ul li {
    background: #d5e8f3 url("../images/progress-tick.png") 1.2em 1.3em no-repeat;
    border-bottom: 1px solid #b6d6d2;
    padding: 1em 11em 1em 2.9em;
    position: relative;
}

@media screen and (max-width: 760px) {
    .content-wrapper .completed ul li {
        padding-right: 1em;
    }
}

.content-wrapper .completed ul li h3 {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.25;
}

.ie .content-wrapper .completed ul li h3 {
    font-size: 16px;
}

.content-wrapper .completed ul li p {
    font-size: 1.6rem;
    font-weight: 700;
    color: #315843;
    line-height: 1em;
    margin-top: .4em;
}

.ie .content-wrapper .completed ul li p {
    font-size: 16px;
}

.content-wrapper .completed ul li a {
    position: absolute;
    right: 1.2em;
    top: 1.95em;
    margin-top: -10px;
    color: inherit;
    font-size: 1.4rem;
    font-weight: 300;
}

.ie .content-wrapper .completed ul li a {
    font-size: 14px;
}

.ie6 .content-wrapper .completed ul li a {
    right: auto;
    top: auto;
    position: relative;
    margin-top: 10px;
    display: inline-block;
}

.content-wrapper .completed ul li a:hover {
    color: #315843;
}

@media screen and (max-width: 760px) {
    .content-wrapper .completed ul li a {
        position: relative;
        right: auto;
        top: auto;
        margin-top: 1em;
        display: inline-block;
    }
}

.content-wrapper .completed.eligibility-completed li {
    background-color: #D5ECEA;
}

.content-wrapper .validation-summary {
    background: #fef7f7;
    border: 3px solid #df3034;
    padding: 1em .7em;
    margin: 1em 18% 1em -1em;
}

@media screen and (max-width: 640px) {
    .content-wrapper .validation-summary {
        margin-left: 0;
    }
}

@media screen and (max-width: 780px) {
    .content-wrapper .validation-summary {
        margin-right: 0;
    }
}

.content-wrapper .validation-summary h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2em;
}

.ie .content-wrapper .validation-summary h2 {
    font-size: 24px;
}

@media screen and (max-width: 500px) {
    .content-wrapper .validation-summary h2 {
        font-size: 2rem;
    }
    .ie .content-wrapper .validation-summary h2 {
        font-size: 20px;
    }
}

.content-wrapper .validation-summary p {
    margin-top: .75em;
}

.content-wrapper .validation-summary ol {
    list-style: disc;
    padding-left: 1.25em;
    margin: .75em 0 0 0;
    color: #df3034;
}

.content-wrapper .validation-summary ol a {
    color: #df3034;
    text-decoration: none;
}

.content-wrapper .validation-summary ol a:hover {
    text-decoration: underline;
}

.content-wrapper .form-elements {
    margin: 2em 18% 0 0;
    /* form list start */
    /* info panel */
    /* declaration */
    /* table styling */
}

@media screen and (max-width: 780px) {
    .content-wrapper .form-elements {
        margin-right: 0;
    }
}

@media screen and (max-width: 500px) {
    .content-wrapper .form-elements {
        padding-left: 0;
    }
}

.content-wrapper .form-elements.form-eligibility {
    padding-left: 1.9em;
}

@media screen and (max-width: 640px) {
    .content-wrapper .form-elements.form-eligibility {
        padding-left: 2.6em;
    }
}

.content-wrapper .form-elements.form-eligibility legend {
    padding: .12em 0 1em 1.56em;
    margin-left: -1.64em;
    color: inherit;
}

.ie7 .content-wrapper .form-elements.form-eligibility legend {
    display: block;
    line-height: 1.1em;
    margin-left: -48px;
}

.ie6 .content-wrapper .form-elements.form-eligibility legend {
    padding-left: 40px;
    margin-left: -50px;
}

.content-wrapper .form-elements.form-eligibility li.validation {
    margin-top: 1em;
}

.content-wrapper .form-elements.nested-fieldset {
    margin-top: 1em;
}

.content-wrapper .form-elements.q1 p {
    padding-right: 2em;
}

@media screen and (max-width: 750px) {
    .content-wrapper .form-elements.q1 p {
        padding-right: 0;
    }
}

.content-wrapper .form-elements.q1 p.helper-message {
    margin: 0 0 1em 0;
}

.content-wrapper .form-elements.results-detail {
    margin-right: 0;
    padding-left: 0;
    position: relative;
}

.content-wrapper .form-elements.results-detail legend {
    padding-bottom: .8em;
}

@media screen and (max-width: 750px) {
    .content-wrapper .form-elements.results-detail {
        margin-right: 0;
    }
}

.content-wrapper .form-elements legend {
    font-weight: 600;
    font-size: 2.4rem;
    padding: .12em 0 .5em 0;
    position: relative;
    line-height: 1.2em;
    color: #333399;
}

.ie .content-wrapper .form-elements legend {
    font-size: 24px;
}

.ie7 .content-wrapper .form-elements legend {
    margin-left: -10px;
}

.content-wrapper .form-elements legend span {
    background: #000;
    display: block;
    border-radius: 100px;
    width: 30px;
    height: 22px;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 8px;
    line-height: 1em;
    position: absolute;
    top: 1px;
    left: 1px;
}

.ie .content-wrapper .form-elements legend span {
    font-size: 15px;
}

.content-wrapper .form-elements legend div {
    width: 100%;
}

.content-wrapper .form-elements h2, .content-wrapper .form-elements p.title {
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 1.4em;
    padding-top: 1em;
}

.ie .content-wrapper .form-elements h2, .ie .content-wrapper .form-elements p.title {
    font-size: 19px;
}

.content-wrapper .form-elements h2:first-child, .content-wrapper .form-elements p.title:first-child {
    padding-top: 0;
}

.content-wrapper .form-elements ul {
    margin-top: 0;
    zoom: 1;
    /* radio list - includes hit areas */
    /* Address stack */
    /* list display - fully inline with label */
    /* list display - stacked list with label inline */
    /* list display - date format layout */
    /* sort code */
    /* list display - inline with labels stripped */
    /* list display - national insurance number */
}

.content-wrapper .form-elements ul li {
    display: block;
    margin-top: .4rem;
    padding: .8em 0;
    position: relative;
}

.content-wrapper .form-elements ul li:first-child {
    margin: 0;
}

.ie .content-wrapper .form-elements ul li {
    margin-top: 4px;
}

.content-wrapper .form-elements ul li.other-detail {
    margin: 0;
    padding-top: 0;
}

.ie7 .content-wrapper .form-elements ul li.other-detail {
    zoom: 1;
}

.content-wrapper .form-elements ul li.other-detail .strip {
    position: absolute;
    left: -9999px;
}

.content-wrapper .form-elements ul li.validation {
    background: #fef7f7;
    padding: .7em;
    margin-left: -1.5rem;
    border-left: 3px solid #df3034;
    position: relative;
    overflow: hidden;
}

.ie7 .content-wrapper .form-elements ul li.validation, .ie8 .content-wrapper .form-elements ul li.validation {
    margin-left: -15px;
}

.ie6 .content-wrapper .form-elements ul li.validation {
    zoom: 1;
}

@media screen and (max-width: 640px) {
    .content-wrapper .form-elements ul li.validation {
        margin-left: 0;
        padding-top: 1em;
        padding-bottom: 1em;
        width: auto;
    }
}

.content-wrapper .form-elements ul li.validation .error {
    color: #de3134;
    font-weight: 300;
    font-size: 1.6rem;
    padding-bottom: .6em;
}

.ie .content-wrapper .form-elements ul li.validation .error {
    font-size: 16px;
}

.ie6 .content-wrapper .form-elements ul li.validation .error {
    background: transparent;
}

.content-wrapper .form-elements ul li.validation .inline-stack {
    border-left: none;
    padding-left: 0;
}

.content-wrapper .form-elements ul li.date-time {
    padding-top: 0;
    padding-bottom: 0;
}

.content-wrapper .form-elements ul li.short-field input[type="text"], .content-wrapper .form-elements ul li.short-field input[type="tel"] {
    width: 13rem;
}

.ie .content-wrapper .form-elements ul li.short-field input[type="text"], .ie .content-wrapper .form-elements ul li.short-field input[type="tel"] {
    width: 130px;
}

@media screen and (max-width: 500px) {
    .content-wrapper .form-elements ul li.short-field input[type="text"], .content-wrapper .form-elements ul li.short-field input[type="tel"] {
        width: 12.8rem;
    }
    .ie .content-wrapper .form-elements ul li.short-field input[type="text"], .ie .content-wrapper .form-elements ul li.short-field input[type="tel"] {
        width: 128px;
    }
}

.content-wrapper .form-elements ul li.date-picker input[type="tel"] {
    cursor: pointer;
    position: relative;
}

.content-wrapper .form-elements ul li.date-picker input[type="tel"]:before {
    content: "\f073";
    font-size: 16px;
    position: absolute;
    top: 5px;
    right: 6px;
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}

.ie7 .content-wrapper .form-elements ul li.date-picker input[type="tel"] {
    background: url("../images/date.png") 97% center no-repeat;
}

.content-wrapper .form-elements ul li.currency {
    position: relative;
}

.content-wrapper .form-elements ul li.currency input[type="text"], .content-wrapper .form-elements ul li.currency input[type="tel"] {
    width: 11.8rem;
    position: relative;
}

.ie .content-wrapper .form-elements ul li.currency input[type="text"], .ie .content-wrapper .form-elements ul li.currency input[type="tel"] {
    width: 118px;
}

@media screen and (max-width: 500px) {
    .content-wrapper .form-elements ul li.currency input[type="text"], .content-wrapper .form-elements ul li.currency input[type="tel"] {
        width: 11.6rem;
    }
    .ie .content-wrapper .form-elements ul li.currency input[type="text"], .ie .content-wrapper .form-elements ul li.currency input[type="tel"] {
        width: 116px;
    }
}

.content-wrapper .form-elements ul li.validation:before {
    left: 18px;
    bottom: 19px;
}

.content-wrapper .form-elements ul li .helper {
    font-size: 1.6rem;
    margin-top: .4em;
    font-weight: 300;
}

.ie .content-wrapper .form-elements ul li .helper {
    font-size: 16px;
}

.content-wrapper .form-elements ul li .helper.above {
    margin-top: 0;
}

.content-wrapper .form-elements ul li .specific-help {
    display: none;
}

.ie7 .content-wrapper .form-elements ul li .specific-help {
    display: block;
}

.content-wrapper .form-elements ul li .helper-more {
    cursor: pointer;
    display: block;
    font-size: 1.6rem;
    margin: .6em 0 0 0;
    font-weight: 500;
    overflow: hidden;
    line-height: 1em;
    padding: .35em .7em;
    border-left: 3px solid #006435;
    text-decoration: underline;
}

.ie .content-wrapper .form-elements ul li .helper-more {
    font-size: 16px;
}

.content-wrapper .form-elements ul li .helper-info {
    display: none;
    padding: .7em;
    background: #d5ecea;
    border-left: 3px solid #006435;
}

.content-wrapper .form-elements ul li .helper-info p {
    font-size: 1.6rem;
}

.ie .content-wrapper .form-elements ul li .helper-info p {
    font-size: 16px;
}

.content-wrapper .form-elements ul li label, .content-wrapper .form-elements ul li p {
    display: block;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.3em;
    padding-bottom: .3em;
}

@media screen and (max-width: 600px) {
    .content-wrapper .form-elements ul li label, .content-wrapper .form-elements ul li p {
        line-height: 1.2em;
    }
}

.ie .content-wrapper .form-elements ul li label, .ie .content-wrapper .form-elements ul li p {
    font-size: 19px;
}

.content-wrapper .form-elements ul li label em, .content-wrapper .form-elements ul li p em {
    display: inline;
    font-size: 1.8rem;
    margin-right: .4rem;
    font-style: normal;
}

.ie .content-wrapper .form-elements ul li label em, .ie .content-wrapper .form-elements ul li p em {
    font-size: 18px;
    margin-right: 4px;
}

.content-wrapper .form-elements ul li input[type="text"], .content-wrapper .form-elements ul li input[type="number"], .content-wrapper .form-elements ul li input[type="tel"], .content-wrapper .form-elements ul li textarea {
    background: #f9f9f9;
    border: 1px solid #a2a2a2;
    font-size: 1.9rem;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    padding: 0.25em 0 0.1em 0.4em;
    width: 28.3rem;
}

@media screen and (max-width: 500px) {
    .content-wrapper .form-elements ul li input[type="text"], .content-wrapper .form-elements ul li input[type="number"], .content-wrapper .form-elements ul li input[type="tel"], .content-wrapper .form-elements ul li textarea {
        width: 96%;
    }
}

.ie .content-wrapper .form-elements ul li input[type="text"], .ie .content-wrapper .form-elements ul li input[type="number"], .ie .content-wrapper .form-elements ul li input[type="tel"], .ie .content-wrapper .form-elements ul li textarea {
    font-size: 19px;
    width: 283px;
}

.content-wrapper .form-elements ul li input[type="text"].postcode, .content-wrapper .form-elements ul li input[type="number"].postcode, .content-wrapper .form-elements ul li input[type="tel"].postcode, .content-wrapper .form-elements ul li textarea.postcode {
    text-transform: uppercase;
}

.ie7 .content-wrapper .form-elements ul li input[type="text"], .ie8 .content-wrapper .form-elements ul li input[type="text"], .ie7 .content-wrapper .form-elements ul li input[type="number"], .ie8 .content-wrapper .form-elements ul li input[type="number"], .ie7 .content-wrapper .form-elements ul li input[type="tel"], .ie8 .content-wrapper .form-elements ul li input[type="tel"], .ie7 .content-wrapper .form-elements ul li textarea, .ie8 .content-wrapper .form-elements ul li textarea {
    padding: 0.2em 0 0.4em 0.4em;
}

.content-wrapper .form-elements ul li input[type="text"].datepicker, .content-wrapper .form-elements ul li input[type="number"].datepicker, .content-wrapper .form-elements ul li input[type="tel"].datepicker, .content-wrapper .form-elements ul li textarea.datepicker {
    cursor: pointer;
    background: #f9f9f9 url("images/calendar-icon.png") 97% 50% no-repeat;
    position: relative;
    z-index: 20;
}

.ie7 .content-wrapper .form-elements ul li input[type="text"].datepicker, .ie7 .content-wrapper .form-elements ul li input[type="number"].datepicker, .ie7 .content-wrapper .form-elements ul li input[type="tel"].datepicker, .ie7 .content-wrapper .form-elements ul li textarea.datepicker {
    cursor: auto;
    background: #f9f9f9;
}

.content-wrapper .form-elements ul li input[type="radio"] {
    width: auto;
    vertical-align: top;
}

.content-wrapper .form-elements ul li input[type="radio"][type=radio]:checked + label {
    color: #0b0c0c;
}

.ie7 .content-wrapper .form-elements ul li input[type="radio"] {
    margin-top: 0;
}

.ie8 .content-wrapper .form-elements ul li input[type="radio"] {
    margin-top: 1px;
}

.content-wrapper .form-elements ul li textarea {
    height: 6em;
    width: 56.6rem;
    background: #f9f9f9;
}

@media screen and (max-width: 620px) {
    .content-wrapper .form-elements ul li textarea {
        width: 96%;
    }
}

.ie .content-wrapper .form-elements ul li textarea {
    width: 566px;
}

.content-wrapper .form-elements ul li select {
    padding: 2px;
    min-width: 15rem;
    max-width: 29.3rem;
    position: relative;
    font-size: 13px;
    height: 30px;
    top: 2px;
    background: #fafafa;
    border: 1px solid #a2a2a2;
}

.ie .content-wrapper .form-elements ul li select {
    min-width: 150px;
    max-width: 293px;
    height: auto;
    padding: 5px;
}

.ie8 .content-wrapper .form-elements ul li select {
    min-width: 0;
}

.content-wrapper .form-elements ul li .warning-text {
    color: #df3034;
}

.content-wrapper .form-elements ul li .stacked {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

.ie .content-wrapper .form-elements ul li .stacked {
    font-size: 16px;
}

.content-wrapper .form-elements ul.radio {
    margin-top: 3px;
    overflow: hidden;
}

.content-wrapper .form-elements ul.radio li {
    position: relative;
    float: left;
    margin: 0 0 0 1px;
    padding: 0;
}

.content-wrapper .form-elements ul.radio li:first-child {
    margin-left: 0;
}

.content-wrapper .form-elements ul.radio li input[type="radio"] {
    position: absolute;
    top: 13px;
    left: 14px;
    margin: 0;
    cursor: pointer;
    line-height: 1em;
}

.ie .content-wrapper .form-elements ul.radio li input[type="radio"] {
    top: 10px;
    left: 10px;
}

.ie10 .content-wrapper .form-elements ul.radio li input[type="radio"] {
    top: 10px;
    left: 10px;
}

.ie8 .content-wrapper .form-elements ul.radio li input[type="radio"] {
    top: 11px;
}

.ie6 .content-wrapper .form-elements ul.radio li input[type="radio"] {
    position: relative;
    top: auto;
    left: auto;
    display: inline;
}

.content-wrapper .form-elements ul.radio li label {
    display: block;
    background: #eee;
    padding: 12px 14px 10px 34px;
    font-size: 1.7rem;
    cursor: pointer;
    line-height: 1em;
    border: 1px solid #fff;
    font-weight: 500;
}

.ie .content-wrapper .form-elements ul.radio li label {
    font-size: 17px;
}

.ie7 .content-wrapper .form-elements ul.radio li label:hover, .ie8 .content-wrapper .form-elements ul.radio li label:hover {
    background: #fff;
    border: 1px solid #a2a2a2;
}

.ie6 .content-wrapper .form-elements ul.radio li label {
    display: inline;
    padding-left: 0;
    background: transparent;
}

.content-wrapper .form-elements ul.radio li input[type="radio"]:checked + label {
    background: #fff;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    border: 1px solid #a2a2a2;
}

.content-wrapper .form-elements ul.address-stack label {
    position: absolute;
    left: -9999px;
}

.content-wrapper .form-elements ul.address-stack li {
    margin-top: .4em;
    padding: 0 0 0 0;
}

.content-wrapper .form-elements ul.address-stack li:first-child {
    margin: 0;
}

.content-wrapper .form-elements ul.inline li {
    display: inline;
    margin: 0 0 0 1.2em;
}

.content-wrapper .form-elements ul.inline li:first-child {
    margin-left: 0;
}

.content-wrapper .form-elements ul.inline li label {
    padding-left: 0.25em;
    display: inline-block;
    line-height: 1.2em;
    font-size: 1.7rem;
    color: #555;
}

.content-wrapper .form-elements ul.inline li label:hover {
    color: #0b0c0c;
}

.ie .content-wrapper .form-elements ul.inline li label {
    font-size: 17px;
}

.content-wrapper .form-elements ul.inline li select {
    top: -3px;
}

.content-wrapper .form-elements ul.inline-stack {
    border-left: 5px solid #eee;
    padding-left: .5em;
    margin-bottom: .75em;
}

.content-wrapper .form-elements ul.inline-stack li {
    display: block;
    margin: 0;
    padding: .4em 0;
}

.content-wrapper .form-elements ul.inline-stack li input {
    width: auto;
    vertical-align: top;
    margin-top: .38rem;
}

.ie .content-wrapper .form-elements ul.inline-stack li input {
    margin-top: 0;
}

.content-wrapper .form-elements ul.inline-stack li input[type=checkbox] {
    float: left;
}

.content-wrapper .form-elements ul.inline-stack li input[type=checkbox]:checked + label, .content-wrapper .form-elements ul.inline-stack li input[type=radio]:checked + label {
    color: #000;
}

.content-wrapper .form-elements ul.inline-stack li label {
    width: auto;
    max-width: 90%;
    margin-left: .25em;
    line-height: 1.4em;
    padding: 0;
    font-size: 1.7rem;
    color: #555;
    cursor: pointer;
}

.ie .content-wrapper .form-elements ul.inline-stack li label {
    font-size: 17px;
    width: 90%;
}

.content-wrapper .form-elements ul.year li {
    margin-left: .5em;
}

.content-wrapper .form-elements ul.year li:first-child {
    margin-left: 0;
}

.content-wrapper .form-elements ul.year li label {
    position: absolute;
    left: -9999px;
}

.content-wrapper .form-elements ul.year li select {
    margin: 0;
    min-width: 8.6rem;
    top: -2px;
}

@media screen and (max-width: 500px) {
    .content-wrapper .form-elements ul.year li select {
        width: auto;
        min-width: 1rem;
    }
}

.ie .content-wrapper .form-elements ul.year li select {
    width: 86px;
    min-width: 86px;
    top: 2px;
}

.content-wrapper .form-elements ul.year li input {
    width: 7.6rem;
    background: #f9f9f9;
    position: relative;
}

.ie9 .content-wrapper .form-elements ul.year li input {
    width: 76px;
    top: 3px;
}

.ie8 .content-wrapper .form-elements ul.year li input, .ie7 .content-wrapper .form-elements ul.year li input {
    top: 3px;
    width: 60px;
    font-size: 14px;
    padding: 5px 8px;
}

.content-wrapper .form-elements ul.sort-code li {
    margin-left: .5em;
}

.content-wrapper .form-elements ul.sort-code li:first-child {
    margin-left: 0;
}

.content-wrapper .form-elements ul.sort-code label {
    position: absolute;
    left: -9999px;
}

.content-wrapper .form-elements ul.sort-code input[type="tel"], .content-wrapper .form-elements ul.sort-code input[type="text"] {
    width: 8.1rem;
}

.ie .content-wrapper .form-elements ul.sort-code input[type="tel"], .ie .content-wrapper .form-elements ul.sort-code input[type="text"] {
    width: 81px;
}

.content-wrapper .form-elements ul.label-strip li {
    margin-left: .5em;
}

.content-wrapper .form-elements ul.label-strip li:first-child {
    margin-left: 0;
}

.content-wrapper .form-elements ul.label-strip label {
    position: absolute;
    left: -9999px;
}

.content-wrapper .form-elements ul.ni-number li {
    margin-left: .5em;
}

.content-wrapper .form-elements ul.ni-number li:first-child {
    margin-left: 0;
}

.ie7 .content-wrapper .form-elements ul.ni-number li {
    margin-left: 0.15em;
}

.content-wrapper .form-elements ul.ni-number label {
    position: absolute;
    left: -9999px;
}

.content-wrapper .form-elements ul.ni-number input[type="text"], .content-wrapper .form-elements ul.ni-number input[type="tel"] {
    width: 4.4rem;
    text-transform: uppercase;
}

.ie .content-wrapper .form-elements ul.ni-number input[type="text"], .ie .content-wrapper .form-elements ul.ni-number input[type="tel"] {
    width: 44px;
}

.ie7 .content-wrapper .form-elements ul.ni-number input[type="text"], .ie7 .content-wrapper .form-elements ul.ni-number input[type="tel"] {
    width: 43px;
}

.content-wrapper .form-elements ul.ni-number input[type="text"].single, .content-wrapper .form-elements ul.ni-number input[type="tel"].single {
    width: 2.7rem;
}

.ie .content-wrapper .form-elements ul.ni-number input[type="text"].single, .ie .content-wrapper .form-elements ul.ni-number input[type="tel"].single {
    width: 27px;
}

@media screen and (max-width: 750px) {
    .content-wrapper .form-elements ul.ni-number input[type="text"], .content-wrapper .form-elements ul.ni-number input[type="tel"] {
        width: 4.2rem;
    }
    .ie .content-wrapper .form-elements ul.ni-number input[type="text"], .ie .content-wrapper .form-elements ul.ni-number input[type="tel"] {
        width: 42px;
    }
}

.content-wrapper .form-elements .info {
    background: #bde4f6;
    border: 1px solid #015399;
    padding: 1em 1.25em;
    margin-top: 1.2em;
}

.content-wrapper .form-elements .info p {
    font-size: 1.6rem;
    margin-top: 1em;
}

.content-wrapper .form-elements .info p:first-child {
    margin: 0;
}

.ie .content-wrapper .form-elements .info p {
    font-size: 16px;
}

.content-wrapper .form-elements .declaration {
    border: 1px solid #a2a2a2;
    padding: 1em 1.5em 1em 1em;
}

.content-wrapper .form-elements .declaration p {
    font-size: 1.7rem;
    line-height: 1.25em;
    margin-top: 1em;
}

.content-wrapper .form-elements .declaration p:first-child {
    margin-top: 0;
}

.ie .content-wrapper .form-elements .declaration p {
    font-size: 16px;
}

.content-wrapper .form-elements article {
    margin-top: 2em;
    line-height: 1em;
}

.content-wrapper .form-elements article p, .content-wrapper .form-elements article h3 {
    display: inline;
    font-size: 1.9rem;
    line-height: 1.25em;
}

.ie .content-wrapper .form-elements article p, .ie .content-wrapper .form-elements article h3 {
    font-size: 19px;
}

.ie .content-wrapper .form-elements article h3 {
    margin-right: .25em;
}

.content-wrapper .form-elements .declare {
    margin-top: 2em;
    position: relative;
}

.content-wrapper .form-elements .declare label {
    display: block;
    padding: 1em 1em 1em 2.3em;
    background: #eee;
    font-size: 1.7rem;
    line-height: 1.25em;
    cursor: pointer;
    border: 1px solid #a2a2a2;
}

.ie .content-wrapper .form-elements .declare label {
    font-size: 17px;
}

.content-wrapper .form-elements .declare input {
    position: absolute;
    top: 17px;
    left: 1.1em;
}

.content-wrapper .form-elements .declare input[type=checkbox]:checked + label {
    background: #fff;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.ie .content-wrapper .form-elements .declare input {
    left: .8em;
}

.content-wrapper .form-elements .declare.secondary {
    margin-top: 1em;
}

.content-wrapper .form-elements .declare.validation-check {
    border-left: 3px solid #df3034;
    background: #fef7f7;
}

.content-wrapper .form-elements .declare.validation-check label {
    border: 0;
    background: #fef7f7;
    padding-top: 0;
}

.content-wrapper .form-elements .declare.validation-check input {
    top: 45px;
}

.content-wrapper .form-elements .declare.validation-check input[type=checkbox]:checked + label {
    background: #fef7f7;
}

.content-wrapper .form-elements .declare.validation-check .error {
    font-size: 1.6rem;
    color: #df3034;
    padding: 1em 0 .5em .8em;
}

.ie .content-wrapper .form-elements .declare.validation-check .error {
    font-size: 16px;
}

.content-wrapper .form-elements .dec ul {
    margin: 0 0 0 1.3em;
    list-style: disc;
}

.content-wrapper .form-elements .dec ul li {
    line-height: 1.4em;
    padding: 0;
    margin: 1em 0 0 0;
    font-size: 1.7rem;
    display: list-item;
}

.content-wrapper .form-elements .dec ul li:first-child {
    margin-top: 1em;
}

.content-wrapper .form-elements table {
    text-align: left;
    border-collapse: collapse;
    width: 98%;
}

@media screen and (max-width: 640px) {
    .content-wrapper .form-elements table {
        width: 100%;
    }
}

.content-wrapper .form-elements table thead {
    border: 1px solid #bfc1c3;
}

.content-wrapper .form-elements table tbody {
    border: 1px dotted #bfc1c3;
}

.content-wrapper .form-elements table tr {
    border-top: 1px dotted #bfc1c3;
}

.content-wrapper .form-elements table tr:first-child {
    border-top: 0;
}

.content-wrapper .form-elements table tr:nth-child(odd) {
    background: #f8f8f8;
}

.content-wrapper .form-elements table th {
    font-size: 1.6rem;
    font-weight: 600;
    background: #dee0e2;
    padding: .8em;
    vertical-align: middle;
    border-left: 1px solid #bfc1c3;
    line-height: 1.4em;
}

.content-wrapper .form-elements table th:first-child {
    width: 18%;
    border-left: 0;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .content-wrapper .form-elements table th:first-child {
        width: auto;
    }
}

.ie .content-wrapper .form-elements table th {
    font-size: 16px;
}

.ie7 .content-wrapper .form-elements table th {
    border-top: 1px solid #bfc1c3;
    border-bottom: 1px solid #bfc1c3;
    border-left: 0;
    border-right: 1px solid #bec0c2;
}

.ie7 .content-wrapper .form-elements table th:first-child {
    border-left: 1px solid #bec0c2;
}

.content-wrapper .form-elements table td {
    font-size: 1.6rem;
    padding: .8em;
    border-left: 1px dotted #bfc1c3;
    line-height: 1em;
}

.content-wrapper .form-elements table td span {
    display: block;
    padding: .35em 0;
}

.content-wrapper .form-elements table td:first-child {
    border-left: 0;
    text-align: center;
}

.ie .content-wrapper .form-elements table td {
    font-size: 16px;
}

.ie7 .content-wrapper .form-elements table td {
    border-left: 0;
    border-bottom: 1px dotted #bfc1c3;
    border-right: 1px dotted #bfc1c3;
}

.ie7 .content-wrapper .form-elements table td:first-child {
    border-left: 1px dotted #bfc1c3;
}

@media screen and (max-width: 660px) {
    .content-wrapper .form-elements table .desc {
        display: none;
    }
}

.content-wrapper .form-elements table caption {
    text-indent: -9999px;
    font-size: 0;
}

.content-wrapper .form-elements table.employment th, .content-wrapper .form-elements table.employment td {
    text-align: left;
}

.content-wrapper .form-elements table.employment th:first-child, .content-wrapper .form-elements table.employment td:first-child {
    width: 65%;
}

.content-wrapper .form-elements table.employment th.desc, .content-wrapper .form-elements table.employment td.desc {
    width: 40%;
}

.content-wrapper .prompt {
    background: #d5e8f3;
    padding: 1.4em 1em;
    margin: 1em 0 0 -1em;
}

@media screen and (max-width: 640px) {
    .content-wrapper .prompt {
        margin-left: 0;
    }
}

.content-wrapper .prompt p {
    margin-top: .25em;
}

.content-wrapper .prompt p:first-child {
    margin-top: 0;
}

.content-wrapper .prompt.error {
    background: #f2f2f2;
}

.content-wrapper .prompt.submitting {
    position: relative;
}

@media screen and (max-width: 660px) {
    .content-wrapper .prompt.submitting {
        padding-right: 4em;
    }
}

.content-wrapper .prompt.submitting p {
    margin: .5em 0 0 0;
    font-weight: 600;
    font-size: 1.7rem;
}

.content-wrapper .prompt.submitting p:first-child {
    margin: 0;
}

@media screen and (max-width: 660px) {
    .content-wrapper .prompt.submitting p {
        margin-top: 1em;
    }
}

.content-wrapper .prompt.submitting span {
    position: absolute;
    top: 1.4em;
    right: .8em;
    width: 36px;
    height: 36px;
    margin-top: -18px;
    border-radius: 100px;
    background: #008bc2;
    color: #fff;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 700;
}

.ie .content-wrapper .prompt.submitting span {
    font-size: 26px;
}

@media screen and (max-width: 660px) {
    .content-wrapper .prompt.submitting span {
        width: 50px;
        height: 50px;
        font-size: 3.8rem;
        top: 1em;
        right: .5em;
    }
    .ie .content-wrapper .prompt.submitting span {
        font-size: 38px;
    }
}

.content-wrapper .prompt.entitlement {
    background: #fff;
    border: 1px solid #a2a2a2;
}

.content-wrapper .prompt.entitlement p {
    font-weight: 600;
}

.content-wrapper .prompt.entitlement-error {
    background: #fef7f7;
    border: 3px solid #df3034;
}

.content-wrapper .prompt.breaks-prompt {
    background: #fef7f7;
    border: 3px solid #df3034;
    position: relative;
    display: none;
}

.ie7 .content-wrapper .prompt.breaks-prompt {
    overflow: hidden;
}

.content-wrapper .prompt.breaks-prompt p {
    padding-right: 5em;
    margin-bottom: .35em;
}

@media screen and (max-width: 500px) {
    .content-wrapper .prompt.breaks-prompt p {
        line-height: 1.2em;
    }
}

.content-wrapper .prompt.breaks-prompt span {
    position: absolute;
    top: 50%;
    right: 16px;
    width: 36px;
    height: 36px;
    margin-top: -18px;
    border-radius: 100px;
    background: #990c1a;
    color: #fff;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 700;
}

.ie .content-wrapper .prompt.breaks-prompt span {
    font-size: 26px;
}

@media screen and (max-width: 660px) {
    .content-wrapper .prompt.breaks-prompt span {
        width: 50px;
        height: 50px;
        margin-top: -25px;
        font-size: 3.8rem;
    }
    .ie .content-wrapper .prompt.breaks-prompt span {
        font-size: 38px;
    }
}

.content-wrapper .prompt.breaks-error-prompt {
    margin: 0;
}

.content-wrapper .prompt.eligibility-prompt {
    margin-left: 0;
}

.content-wrapper .prompt.eligibility-prompt p {
    font-size: 1.6rem;
    margin: .75em 0 0 0;
}

.content-wrapper .prompt.eligibility-prompt p:first-child {
    margin: 0;
}

.ie .content-wrapper .prompt.eligibility-prompt p {
    font-size: 16px;
}

@media screen and (max-width: 480px) {
    .content-wrapper .prompt.eligibility-prompt {
        margin-left: -2.5em;
    }
    .content-wrapper .prompt.eligibility-prompt span {
        display: none;
    }
    .content-wrapper .prompt.eligibility-prompt p {
        padding-right: 0;
        margin-top: 20px;
    }
}

.content-wrapper .prompt.question-prompt {
    margin: .5em 0 0 0;
    border: 1px solid #a2a2a2;
    background: #fff;
}

.content-wrapper .prompt.helper-prompt {
    margin: .5em 0 1em 0;
    border: 1px solid #a2a2a2;
    background: #fff;
}

.ie7 .content-wrapper .prompt.helper-prompt {
    zoom: 1;
}

.content-wrapper .prompt.helper-prompt p {
    font-size: 1.6rem;
    margin-top: 1em;
}

.content-wrapper .prompt.helper-prompt p:first-child {
    margin: 0;
}

.content-wrapper .prompt.helper-prompt p.intro {
    font-weight: 600;
}

.ie .content-wrapper .prompt.helper-prompt p {
    font-size: 16px;
}

.content-wrapper .prompt.helper-prompt ul {
    margin-top: 1em;
    padding-left: 1.4em;
    list-style: disc;
}

.content-wrapper .prompt.helper-prompt ul li {
    display: list-item;
    padding: 0;
    margin: 0;
}

.content-wrapper .form-steps {
    margin-top: 1.2em;
    clear: both;
}

@media screen and (max-width: 500px) {
    .content-wrapper .form-steps {
        padding-left: 0;
    }
}

.content-wrapper .form-steps p {
    padding-bottom: 0.2em;
    clear: both;
}

.content-wrapper .form-steps a {
    font-weight: 500;
}

.ie7 .content-wrapper .form-steps a {
    width: auto;
    display: block;
    padding: .4em 1em;
}

.content-wrapper .button {
    font-size: 1.9rem;
    line-height: 1em;
    color: #fff;
    box-shadow: 0 3px 0 #000;
    border: 0;
    padding: 0.4em 1em 0.25em 1em;
    cursor: pointer;
    -webkit-appearance: none;
    display: inline-block;
    margin: .8em .25em 0 0;
    background: #006435;
    font-weight: 500;
    text-decoration: none;
    top: 0;
    position: relative;
    overflow: visible;
}

.content-wrapper .button:focus {
    outline: 3px solid #ffbf47;
}

.content-wrapper .button:before {
    content: "";
    background: transparent;
    width: 100%;
    height: 40px;
    display: block;
    position: absolute;
    top: -3px;
    left: 0;
}

.ie .content-wrapper .button {
    font-size: 19px;
}

.ie7 .content-wrapper .button {
    padding: .2em 1em;
    float: left;
}

.ie8 .content-wrapper .button {
    padding: .4em 1em;
}

.content-wrapper .button:hover {
    background: #004b27;
}

.content-wrapper .button:active {
    top: 3px;
    background: #004b27;
    box-shadow: 0 0 0 transparent;
}

.ie7 .content-wrapper .button:active, .ie8 .content-wrapper .button:active {
    top: 0;
}

.content-wrapper .button.secondary {
    background: #dee0e2;
    color: #0b0c0c;
}

.content-wrapper .button.secondary:hover {
    background: #d0d3d6;
}

.content-wrapper .button.warning {
    background: #b10e1e;
}

.content-wrapper .button.warning:hover {
    background: #990c1a;
}

.content-wrapper .button.disabled {
    opacity: .3;
}

.content-wrapper .button.row {
    font-size: 1.6rem;
    margin: 0;
}

.ie .content-wrapper .button.row {
    font-size: 16px;
}

@media screen and (max-width: 350px) {
    .content-wrapper .button.row {
        font-size: 14px;
        padding-left: .75em;
        padding-right: .75em;
    }
}

.content-wrapper .send-info {
    margin: 2em 0 0 -1em;
    padding: 1em;
    border: 1px solid #a2a2a2;
}

@media screen and (max-width: 640px) {
    .content-wrapper .send-info {
        margin-left: 0;
    }
}

.content-wrapper .send-info article {
    margin-top: 1.25em;
}

.content-wrapper .send-info article:first-child {
    margin: 0;
}

.content-wrapper .send-info article p {
    font-size: 1.7rem;
}

.content-wrapper .send-info article h2 {
    line-height: 1.2em;
}

.content-wrapper .send-info article ul {
    margin-top: .35em;
}

.content-wrapper .send-info article ul li {
    color: #555;
    padding: 0 0 2px 20px;
    line-height: 1.4em;
    font-size: 1.7rem;
    background: url("images/progress-tick.png") 0 3px no-repeat;
}

.content-wrapper .send-info article.address {
    margin-top: 1.25em;
}

.content-wrapper .send-info article.address span {
    display: block;
    font-size: 1.7rem;
    color: #555;
}

.content-wrapper .send-info article.address p {
    margin-top: 1.25em;
}



.content-panel {
    margin-top: 2em;
}

.coc-layout li label {
    padding-right: 12em;
}

@media screen and (max-width: 760px) {
    .coc-layout li label {
        padding-right: 0;
    }
}

.question-group {
    margin-top: 0;
}

.question-group legend {
    font-size: 1.9rem !important;
    font-weight: 400 !important;
    color: black !important;
}

.question-group ul li {
    padding-top: 0;
}


