---
headerTitle: Traineeships
---
<h1 class="heading-xlarge">Interested in traineeships?</h1>

<div class="text" id="tshipAbout">
  <section>
    <p>A traineeship is a course designed to prepare someone for an apprenticeship or get them ready for work. They can take up to 6 months. <a href="search-index.html">Find a traineeship</a>.</p>
    <p>Answer the following questions to see if you'd be suitable for a traineeship.</p>
  </section>
  <div class="form-group inline">
    <h2 class="heading-medium">Are you eligible to work in England?</h2>
    <label for="england-yes" class="block-label">
      <input name="england" type="radio" id="england-yes">Yes
    </label>
    <label for="england-no" class="block-label">
      <input name="england" type="radio" id="england-no">No
    </label>
  </div>
  <div class="form-group inline">
    <h2 class="heading-medium">Unemployed with little or no work experience</h2>
    <label for="unemployed-yes" class="block-label">
      <input name="unemployed" type="radio" id="unemployed-yes">Yes
    </label>
    <label for="unemployed-no" class="block-label">
      <input name="unemployed" type="radio" id="unemployed-no">No
    </label>
  </div>
  <div class="form-group">
    <h2 class="heading-medium">Choose one of the following</h2>
    <div>
      <label for="age16" class="block-label">
        <input name="age" type="radio" id="age16">
        Aged 16-18 and qualified below Level 3
      </label>
    </div>
    <div>
      <label for="age19" class="block-label">
        <input name="age" type="radio" id="age19">
        Aged 19-23 and qualified below Level 2
      </label>
    </div>
    <div>
      <label for="neither" class="block-label">
        <input name="age" type="radio" id="neither">
        Neither
      </label>
    </div>
  </div>
  <div class="panel-indent">
    <p>Traineeships are unpaid, although employers are encouraged to support trainees with expenses such as travel and meals. </p>
    <p>If you're unsure then contact the <a href="https://nationalcareersservice.direct.gov.uk">National Careers Service</a>, or <a href="/apprentice/helpdesk.html">contact us</a> for help.</p>
  </div>
  <div class="form-group toggle-content" id="tshipSearch">
    <p>It looks like you're eligible for a traineesip.</p>
    <div class="get-started">
      <a href="search-index.html" class="button">Find a traineeship</a>
    </div>
  </div>
  <div class="form-group toggle-content" id="tshipNotRight">
    <p>It doesn't look like a traineeship would be suitable for you, if you're unsure of what the correct option for you would be, contact the <a href="https://nationalcareersservice.direct.gov.uk">National Careers Service</a>.</p>
    <p>Alternatively, if you think you'd be eligible for an apprenticeship, use the <a href="/apprentice/search-index.html">find an apprenticeship</a> service instead.</p>
  </div>
    <!--
  <section>
    <h2 class="heading-large">Get advice</h2>
    <p>If you’re thinking of applying for a traineeship, or are unsure whether it’s the right option for you, contact the National Careers Service website for advice.</p>
  </section> -->
</div>