---
headerTitle: Traineeships
---

<div class="success-banner">
  <h1 class="heading-large"><i class="fa fa-check"></i>Traineeship application submitted</h1>
  <div>
    You've applied for:
    <h2 class="heading-medium">Traineeship in Business Administration</h2>
  </div>
</div>
<section class="section-border">
  <p><i class="fa fa-envelope-o"></i>We have sent you an email confirming your application</p>
</section>
<h2 class="heading-medium">What happens next</h2>
<div class="text form-group">
  <p>You’ll be contacted if you’re eligible for a traineeship. You can see the applications you've made by visiting <a href="/apprentice/dashboard.html?Traineeships=submitted">my applications</a>.</p>
  <p>If you'd like to contact the provider, their details are:</p>
  <p>Adrian Hunt | Business Development Manager | 0121 236 2634 ahunt@protocolgroup.co.uk</p>
</div>
<div class="form-group get-started">
  <a href="search-index.html" class="button">Find a traineeship</a>
</div>
