---
headerTitle: Find a Traineeship
---

<h1 class="heading-xlarge">Apply for a vacancy</h1>
<nav class="progress-indicator progress-indicator-horizontal">
  <ol aria-label="Progress Steps">
    <li>
      <span>Step 1</span>
    </li>
    <li>
      <span>Step 2</span>
    </li>
    <li>
      <span>Step 3</span>
    </li>
    <li>
      <span>Step 4</span>
    </li>
    <li class="active">
      <span>Preview &amp; Submit</span>
    </li>
  </ol>
</nav>
<br>
<h2 class="heading-large">5. Preview before submitting</h2>

<div class="form-group">
  <a href="apply-complete.html" class="button" >Submit application</a>
  <p><a class="button-link" href="apply-index.html">Back</a></p>
</div>

