---
headerTitle: Traineeships
---

<div class="success-banner">
  <h1 class="heading-large"><i class="fa fa-check"></i>Traineeship enquiry submitted</h1>
  <div>
    You've sent an enquiry for:
    <h2 class="heading-medium">Traineeship in Business Administration</h2>
  </div>
</div>
<section class="section-border">
  <p><i class="fa fa-envelope-o"></i>We have sent you an email confirming your enquiry</p>
</section>
<h2 class="heading-medium">What happens next</h2>
<div class="text form-group">
  <p>You’ll be contacted if you’ve been shortlisted for an interview. If you haven’t been successful the training provider will let you know and give you feedback.</p>
</div>
<div class="form-group get-started">
  <a href="search-index.html" class="button">Find a traineeship</a>
</div>
