---
headerTitle: Traineeships
---

<h1 class="heading-xlarge">
  Find a traineeship
</h1>


<section class="grid-wrapper section-border">
  <div class="grid grid-2-3">
    <div class="inner-block-padr">
      <h2 class="heading-large">Use the new service </h2>
      <p>We’ve introduced a new way to find and apply for a traineeship in England.</p>

      <div class="form-group get-started">
        <a href="search-index.html" class="button">Find a traineeship</a>
      </div>
    </div>
  </div>
  <div class="grid grid-1-3">
    <div class="inner-block">
      <ul class="list-text">
        <li>Related links</li>
        <li>
          <a href="#">About the new service</a>
        </li>
        <li>
          <a href="#">Traineeships in England</a>
        </li>
        <li>
          <a href="#">Careers helpline for teenagers</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="grid-wrapper section-border">
  <div class="grid grid-2-3">
    <div class="inner-block-padr">
      <h2 class="heading-medium">Using the original service</h2>
      <p class="text">The original service will continue to work for a limited time.</p>
      <p class="text">If you’ve applied for a traineeship before, you’ll only be able to view your application history using the original service.</p>
      <p>
        <a href="#" rel="external" target="_blank">Sign in to original service</a>
      </p>
    </div>
  </div>
  <div class="grid grid-1-3">
    <div class="inner-block">
      <p>
        <a href="#" target="_blank">
          <img src="{{assets}}/img/av-screenshot.png" alt="">
        </a>
      </p>
    </div>
  </div>
</section>

<section>
  <p>You can also search and apply for traineeships in other parts of the UK.</p>
  <p><a rel="external" href="http://www.nidirect.gov.uk/traineeshipsni" title="Traineeships in Northern Ireland (nidirect website)">Traineeships in Northern Ireland (nidirect website)</a><br><a rel="external" href="http://www.mappit.org.uk/" title="Apply for a traineeship in Scotland (MappIT website)">Apply for a traineeship in Scotland (MappIT website)</a><br><a rel="external" href="https://ams.careerswales.com/Public/Default.aspx?mode=vacancy&amp;timenow=164517" title="Apply for a traineeship in Wales (careerswales website)">Apply for a traineeship in Wales (careerswales website)</a>  </p>
</section>

<!-- <section>
  <p>Contact</p>
</section> -->