---
headerTitle: Traineeships
---
<h1 class="heading-xlarge">Traineeships</h1>

<div class="text">
  <section>
    <p>A traineeship is a course designed to prepare someone for an apprenticeship or get them ready for work. They can take up to 6 months.</p>
    <p>A traineeship includes:</p>
    <ul>
      <li>help with English and maths (if needed)</li>
      <li>a work experience placement (lasting at least 6 weeks)</li>
    </ul>
    <p>Traineeships are unpaid, although employers are encouraged to support trainees with expenses such as travel and meals.</p>
  </section>
  <section>
    <h2 class="heading-large">How to apply</h2>
    <p>Anyone can <a href="search-index.html">apply for a traineeship</a> if they’re:</p>
    <ul>
      <li>eligible to work in England</li>
      <li>unemployed and have little or no work experience</li>
      <li>aged 16-18 and qualified below Level 3 or aged 19-23 and qualified below Level 2</li>
    </ul>
    <div class="form-group">
        <div class="get-started">
          <a href="search-index.html" class="button">Find a traineeship</a>
        </div>
    </div>
  </section>
  <section>
    <h2 class="heading-large">Get advice</h2>
    <p>If you’re thinking of applying for a traineeship, or are unsure whether it’s the right option for you, contact the National Careers Service website for advice.</p>
  </section>
</div>