---
headerTitle: Find a Traineeship
---
<div class="search-results-wrapper grid-wrapper">
  <div class="hgroup">
    <h1 class="heading-xlarge">Search results</h1>
    <p>There are <b class="bold-medium">11</b> Traineeships that closely match your search.</p>
  </div>
  <section class="grid grid-1-3">
    <fieldset class="search-filter">
      <legend class="heading-medium mob-collpanel-trigger">Filter results</legend>
      <div class="mob-collpanel toggle-content--mob">
        <div class="form-group">
          <label for="job-title" class="form-label">Job title (optional)</label>
          <input id="job-title" type="text" class="form-control trainee-result-input-1" value="">
        </div>
        <div class="form-group">
          <label for="keywords" class="form-label">Keyword (optional)</label>
          <input id="keywords" type="text" class="form-control trainee-result-input-2" value="">
        </div>
        <div class="form-group">
          <label for="location" class="form-label">Traineeship location</label>
          <input id="location" type="text" class="form-control trainee-result-input-3" value="">
        </div>
        <div class="form-group">
          <label for="loc-within" class="form-label">Within</label>
          <select id="loc-within">
            <option value="">This area only</option>
            <option value="">5 miles</option>
            <option value="" selected>10 miles</option>
            <option value="">15 miles</option>
            <option value="">20 miles</option>
            <option value="">30 miles</option>
            <option value="">40 miles</option>
            <option value="">Nationwide</option>
          </select>
        </div>
        <div class="form-group">
          <a href="#" class="button">Update results</a>
        </div>
      </div>
    </fieldset>
  </section>
  <section class="grid grid-2-3">
    <fieldset>
      <legend class="visuallyhidden">Search items</legend>
      <div class="float-right-wrap">
        <div class="form-group form-group-compound">
          <label for="sort-results" class="heading-medium inline">Sort results</label>
          <select name="" id="sort-results">
            <option value="sort-distance">Distance</option>
            <option value="sort-closing">Closing date</option>
          </select>
        </div>
      </div>
    </fieldset>
    <ul class="search-results">
      <li class="search-results__item section-border">
        <div class="hgroup-medium">
          <h3 class="heading-medium"><a href="search-details-customer1.html">Traineeship Fitness</a></h3>
          <h4 class="subtitle">Tiverton Pool &amp; Fitness Centre</h4>
        </div>
        <p class="search-shortdesc">
          Traineeship - We are currently seeking a 16-23 year old person wishing to gain valuable work experience with in the leisure industry free training is given to enable you to develop your skills with some opportunities a chance of an interview for a position
        </p>
        <p>
          <a href="search-details-customer1.html">Read more</a>
        </p>
        <div class="inl-block-wrapper">
          <ul class="list-text btm-align width-all-3-4">
            <li><b>Distance:</b> 3 miles</li>
            <li><b>Closing date:</b> 12 Jun 14</li>
          </ul>
          <div class="btm-align width-all-1-4">
            <div class="search-save">
              <input type="checkbox" class="save-trigger" id="save-trigger1">
              <label for="save-trigger1">Save</label>
            </div>
          </div>
        </div>
      </li>
      <li class="search-results__item section-border">
        <div class="hgroup-medium">
          <h3 class="heading-medium"><a href="#">Traineeship in Hospitality</a></h3>
          <h4 class="subtitle">Harbone Stores</h4>
        </div>
        <p class="search-shortdesc">
          Are you looking for experience in Hospitality? A Fantastic opportunity has arisen at Stonegate pub company. Duties to include • Helping with Customer Enquiries • Bar Service • Waitressing • General Cleaning Duties • Cash Handling &amp; Till Work
        </p>
        <p>
          <a href="#">Read more</a>
        </p>
        <div class="inl-block-wrapper">
          <ul class="list-text btm-align width-all-3-4">
            <li><b>Distance:</b> 3 miles</li>
            <li><b>Closing date:</b> 27 Jun 14</li>
          </ul>
          <div class="btm-align width-all-1-4">
            <div class="search-save">
              <input type="checkbox" class="save-trigger" id="save-trigger2">
              <label for="save-trigger2">Save</label>
            </div>
          </div>
        </div>
      </li>
      <li class="search-results__item section-border">
        <div class="hgroup-medium">
          <h3 class="heading-medium"><a href="#">Retail traineeship with The Entertainer</a></h3>
          <h4 class="subtitle">The Entertainer</h4>
        </div>
        <p class="search-shortdesc">
          Are you looking for an exciting career in retail with one of the most established toy retailers in the UK? Then this is the opportunity for you! The Entertainer are seeking enthusiastic candidates to join their West Midlands Traineeship programme.
        </p>
        <p>
          <a href="#">Read more</a>
        </p>
        <div class="inl-block-wrapper">
          <ul class="list-text btm-align width-all-3-4">
            <li><b>Distance:</b> 3 miles</li>
            <li><b>Closing date:</b> 15 Jun 14</li>
          </ul>
          <div class="btm-align width-all-1-4">
            <div class="search-save">
              <input type="checkbox" class="save-trigger" id="save-trigger3">
              <label for="save-trigger3">Save</label>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="page-navigation">
      <a href="#" class="page-navigation__btn previous">
        <!-- <i class="arrow-button"></i>
        <span class="description">Previous <span class="hide-mob">page</span></span>
        <span class="counter">1 of 6</span> -->
      </a>
      <a href="#" class="page-navigation__btn next">
        <i class="arrow-button"></i>
        <span class="description">Next <span class="hide-mob">page</span></span>
        <span class="counter">2 of 4</span>
      </a>
    </div>
  </section>
</div>
