---
headerTitle: Traineeships
---
<div class="search-results-wrapper grid-wrapper">
  <div class="hgroup">
    <h1 class="heading-xlarge">Search results</h1>
    <p class="small-btm-margin">We've found <b class="bold-medium">18</b> traineeships in your selected area.</p>
  </div>
  <section class="grid grid-1-3">
    <fieldset class="search-filter">
      <legend class="heading-medium mob-collpanel-trigger">Edit search</legend>
      <div class="mob-collpanel toggle-content--mob">
        <div class="form-group">
          <label for="keywords" class="form-label">Keywords (optional)</label>
          <input id="keywords" type="text" class="form-control search-proto-result-input search-proto-result-input-1">
        </div>
        <div class="form-group">
          <label for="location" class="form-label">Traineeship location</label>
          <input id="location" type="text" class="form-control search-proto-result-input search-proto-result-input-2">
        </div>
        <div class="form-group">
          <label for="loc-within" class="form-label">Within</label>
          <select id="loc-within">
            <option value="">This area only</option>
            <option value="">5 miles</option>
            <option value="">10 miles</option>
            <option value="">15 miles</option>
            <option value="">20 miles</option>
            <option value="">30 miles</option>
            <option value="">40 miles</option>
          </select>
        </div>
        <div class="form-group">
          <a href="#" class="button">Update results</a>
        </div>
      </div>
    </fieldset>
  </section>
  <section class="grid grid-2-3">
    <fieldset>
      <legend class="visuallyhidden">Search items</legend>
      <div class="float-right-wrap">
        <div class="form-group form-group-compound">
          <label for="sort-results" class="heading-medium inline">Sort results</label>
          <select name="" id="sort-results">
            <option value="sort-distance">Distance</option>
            <option value="sort-closing">Closing date</option>
          </select>
        </div>
      </div>
    </fieldset>
    <ul class="search-results">
      <li class="search-results__item section-border">
        <div class="hgroup-medium">
          <h3 class="heading-medium">Traineeship in Business Administration</h3>
          <h4 class="subtitle">Prolink Associates Ltd - Distance: 3 miles</h4>
        </div>
        <p>
          Valuable work experience within the field of Business Admin. You will working with Admin team to support them doing basic admin duties. This Traineeship Opportunity is Work Experience as part of an entry to work course.
        </p>
        <details>
          <summary role="button">Expand for more details</summary>
          <section class="grid-wrapper" id="employerPanel">
            <div class="grid grid-1-2">
              <div class="inner-block-padr">
                <h3 class="heading-small">Employer</h3>
                <ul class="list-text">
                  <li>Prolink Associates Ltd</li>
                  <li>New Market St </li>
                  <li>Birmingham</li>
                  <li>West Midlands</li>
                  <li>B3 2NH</li>
                </ul>
                <a href="#" id="viewTrainingProvider">View training provider</a>
              </div>
            </div>
            <div class="grid-1-2 grid">
              <div class="ad-details__map no-btm-margin">
                <div class="map-overlay" onclick="style.pointerEvents='none'"></div>
                <iframe width="700" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=B3+2NH,+United+Kingdom&amp;key=AIzaSyCusA_0x4bJEjU-_gLOFiXMSBXKZYtvHz8">
                </iframe>
                <p class="nojs-notice">You must have JavaScript enabled to view a map of the location</p>
              </div>
            </div>

          </section>
          <section class="grid-wrapper toggle-content" id="trainingProviderPanel">
            <div class="grid grid-1-2">
              <div class="inner-block-padr">
                <h3 class="heading-small">Training provider</h3>
                <ul class="list-text">
                  <li>Protocol Consultancy Services</li>
                  <li>2 New Market St </li>
                  <li>Birmingham</li>
                  <li>West Midlands</li>
                  <li>B3 2NH</li>
                </ul>
                <a href="#" id="viewEmployer">View employer</a>
              </div>
            </div>
            <div class="grid-1-2 grid">
              <div class="ad-details__map no-btm-margin">
                <div class="map-overlay" onclick="style.pointerEvents='none'"></div>
                <iframe width="700" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=B3+2NH,+United+Kingdom&amp;key=AIzaSyCusA_0x4bJEjU-_gLOFiXMSBXKZYtvHz8">
                </iframe>
                <p class="nojs-notice">You must have JavaScript enabled to view a map of the location</p>
              </div>
            </div>

          </section>
          <div class="form-group">
            <p>In order to undertake a traineeship opportunity, you must be:</p>
            <ul>
              <li>Between 16 and 24 years old</li>
              <li>Unemployed (or work less than 16 hours per week)</li>
            </ul>
          </div>
          <div class="form-group">
            <a href="enquire.html" class="button button-with-hint">Submit an enquiry</a>
            <p class="copy-16">Closing date: 29 Nov 14</p>
          </div>
        </details>

      </li>
      <li class="search-results__item section-border">
        <div class="hgroup-medium">
          <h3 class="heading-medium">Traineeship in Customer Service</h3>
          <h4 class="subtitle">Halls Garden Supplies - Distance: 4 miles</h4>
        </div>
        <p>
          This Traineeship Opportunity is UNWAGED Work Experience as part of an entry to work course. You will be doing general customer services duties.
        </p>
        <details>
          <summary role="button">Expand for more details</summary>
          <section class="grid-wrapper" id="employerPanel">
            <div class="grid grid-1-2">
              <div class="inner-block-padr">
                <h3 class="heading-small">Employer</h3>
                <ul class="list-text">
                  <li>Prolink Associates Ltd</li>
                  <li>New Market St </li>
                  <li>Birmingham</li>
                  <li>West Midlands</li>
                  <li>B3 2NH</li>
                </ul>
                <a href="#" id="viewTrainingProvider">View training provider</a>
              </div>
            </div>
            <div class="grid-1-2 grid">
              <div class="ad-details__map no-btm-margin">
                <div class="map-overlay" onclick="style.pointerEvents='none'"></div>
                <iframe width="700" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=B3+2NH,+United+Kingdom&amp;key=AIzaSyCusA_0x4bJEjU-_gLOFiXMSBXKZYtvHz8">
                </iframe>
                <p class="nojs-notice">You must have JavaScript enabled to view a map of the location</p>
              </div>
            </div>

          </section>
          <section class="grid-wrapper toggle-content" id="trainingProviderPanel">
            <div class="grid grid-1-2">
              <div class="inner-block-padr">
                <h3 class="heading-small">Training provider</h3>
                <ul class="list-text">
                  <li>Protocol Consultancy Services</li>
                  <li>2 New Market St </li>
                  <li>Birmingham</li>
                  <li>West Midlands</li>
                  <li>B3 2NH</li>
                </ul>
                <a href="#" id="viewEmployer">View employer</a>
              </div>
            </div>
            <div class="grid-1-2 grid">
              <div class="ad-details__map no-btm-margin">
                <div class="map-overlay" onclick="style.pointerEvents='none'"></div>
                <iframe width="700" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=B3+2NH,+United+Kingdom&amp;key=AIzaSyCusA_0x4bJEjU-_gLOFiXMSBXKZYtvHz8">
                </iframe>
                <p class="nojs-notice">You must have JavaScript enabled to view a map of the location</p>
              </div>
            </div>

          </section>
          <div class="form-group">
            <p>In order to undertake a traineeship opportunity, you must be:</p>
            <ul>
              <li>Between 16 and 24 years old</li>
              <li>Unemployed (or work less than 16 hours per week)</li>
            </ul>
          </div>
          <div class="form-group">
            <a href="enquire.html" class="button button-with-hint">Submit an enquiry</a>
            <p class="copy-16">Closing date: 29 Nov 14</p>
          </div>
        </details>
      </li>
      <li class="search-results__item section-border">
        <div class="hgroup-medium">
          <h3 class="heading-medium">Traineeship Inspiring Tomorrows Workforce Programme Traineeship</h3>
          <h4 class="subtitle">Jaguar Land Rover - Distance: 5 miles</h4>
        </div>
        <p>
          Exciting New Programme to gain work experience and skills in manufacturing and engineering
        </p>
        <details>
          <summary role="button">Expand for more details</summary>
          <section class="grid-wrapper" id="employerPanel">
            <div class="grid grid-1-2">
              <div class="inner-block-padr">
                <h3 class="heading-small">Employer</h3>
                <ul class="list-text">
                  <li>Prolink Associates Ltd</li>
                  <li>New Market St </li>
                  <li>Birmingham</li>
                  <li>West Midlands</li>
                  <li>B3 2NH</li>
                </ul>
                <a href="#" id="viewTrainingProvider">View training provider</a>
              </div>
            </div>
            <div class="grid-1-2 grid">
              <div class="ad-details__map no-btm-margin">
                <div class="map-overlay" onclick="style.pointerEvents='none'"></div>
                <iframe width="700" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=B3+2NH,+United+Kingdom&amp;key=AIzaSyCusA_0x4bJEjU-_gLOFiXMSBXKZYtvHz8">
                </iframe>
                <p class="nojs-notice">You must have JavaScript enabled to view a map of the location</p>
              </div>
            </div>

          </section>
          <section class="grid-wrapper toggle-content" id="trainingProviderPanel">
            <div class="grid grid-1-2">
              <div class="inner-block-padr">
                <h3 class="heading-small">Training provider</h3>
                <ul class="list-text">
                  <li>Protocol Consultancy Services</li>
                  <li>2 New Market St </li>
                  <li>Birmingham</li>
                  <li>West Midlands</li>
                  <li>B3 2NH</li>
                </ul>
                <a href="#" id="viewEmployer">View employer</a>
              </div>
            </div>
            <div class="grid-1-2 grid">
              <div class="ad-details__map no-btm-margin">
                <div class="map-overlay" onclick="style.pointerEvents='none'"></div>
                <iframe width="700" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=B3+2NH,+United+Kingdom&amp;key=AIzaSyCusA_0x4bJEjU-_gLOFiXMSBXKZYtvHz8">
                </iframe>
                <p class="nojs-notice">You must have JavaScript enabled to view a map of the location</p>
              </div>
            </div>

          </section>
          <div class="form-group">
            <p>In order to undertake a traineeship opportunity, you must be:</p>
            <ul>
              <li>Between 16 and 24 years old</li>
              <li>Unemployed (or work less than 16 hours per week)</li>
            </ul>
          </div>
          <div class="form-group">
            <a href="enquire.html" class="button button-with-hint">Submit an enquiry</a>
            <p class="copy-16">Closing date: 29 Nov 14</p>
          </div>
        </details>
      </li>
    </ul>
    <div class="page-navigation">
      <a href="#" class="page-navigation__btn previous invisible">
        <i class="arrow-button"></i>
        <span class="description">Previous <span class="hide-mob">page</span></span>
        <span class="counter">1 of 6</span>
      </a>
      <a href="#" class="page-navigation__btn next">
        <i class="arrow-button fa fa-angle-right"></i>
        <span class="description">Next <span class="hide-mob">page</span></span>
        <span class="counter">2 of 6</span>
      </a>
    </div>
    <div class="form-group">
      <label for="results-per-page" class="heading-small inline">Display results</label>
      <select id="results-per-page" name="resultsPerPage"><option selected="selected" value="5">5 per page</option>
        <option value="10">10 per page</option>
        <option value="25">25 per page</option>
        <option value="50">50 per page</option>
      </select>
    </div>
  </section>
</div>


