---
headerTitle: Traineeships
---
<div class="hgroup">
  <h1 class="heading-xlarge">Find a traineeship</h1>
  <span class="subtitle">Search and apply for a traineeship in England</span>
</div>
<div class="grid-wrapper">
  <section class="grid grid-2-3">
    <div class="form-group">
      <label for="location" class="form-label">Your location</label>
      <span class="form-hint">Enter postcode, town or city</span>
      <input id="location" type="text" class="form-control form-control-3-4 search-proto-input search-proto-input-2">
    </div>
<!--     <div class="form-group">
      <label for="loc-within" class="form-label">Within</label>
      <select id="loc-within">
        <option value="">This area only</option>
        <option value="">5 miles</option>
        <option value="">10 miles</option>
        <option value="">15 miles</option>
        <option value="">20 miles</option>
        <option value="">30 miles</option>
        <option value="">40 miles</option>
      </select>
    </div> -->
<!--
    <h2 class="heading-medium">Is a traineeship right for me?</h2>
    <div class="text">
      <p>In order to undertake a traineeship opportunity, you must be:</p>
      <ul>
        <li>Between 16 and 24 years old</li>
        <li>Unemployed (or work less than 16 hours per week)</li>
      </ul>
    </div>
 -->

    <div class="form-group">
      <a class="button" href="search-results.html">Search</a>
    </div>
  </section>
  <aside class="grid grid-1-3">
    <div class="inner-block">
      <div class="gov-border">
        <h2 class="heading-medium">Contact us</h2>
        <ul class="list-text">
          <li>0800 015 0400</li>
          <li><a href="mailto:nationalhelpdesk@apprenticeships.gov.uk">Send us an email</a></li>
        </ul>
        <ul class="list-text">
          <li>
            <a href="overview.html">About traineeships</a>
          </li>
        </ul>

      </div>
    </div>
  </aside>
</div>

