---
headerTitle: Find a Traineeship
---
<div class="hgroup text">
  <h1 class="heading-xlarge">Traineeship Fitness</h1>
  <h2 class="subtitle">Tiverton Pool &amp; Fitness Centre</h2>
</div>

<section class="grid-wrapper">
  <div class="grid grid-2-3">
    <div class="inner-block-padr">
      <div class="text">
        <p>
          Traineeship - We are currently seeking a 16-23 year old person wishing to gain valuable work experience with in the leisure industry free training is given to enable you to develop your skills with some opportunities a chance of an interview for a position
        </p>
      </div>
    </div>
  </div>
  <div class="grid grid-1-3">
    <a href="https://apprenticeshipvacancymatchingservice.lsc.gov.uk/Navms/Forms/Candidate/CandidatesLogin.aspx" class="button button-with-hint">Apply</a>
    <p class="copy-16">Closing date: 12 Jun 14</p>
  </div>
</section>

{{> trainee-index }}

<section class="section-border grid-wrapper" id="vacancy-info">
  <h2 class="heading-large">1. Summary of role</h2>
  <div class="grid grid-2-3">
    <div class="inner-block-padr">
      <div class="text">
        <p>This traineeship is unpaid work experience as part of an entry to work course.</p>

        <p>Tiverton Pool &amp; Fitness Centre and Lifetime Training are looking for enthusiastic and friendly 16-23 year olds, who want to break into the fitness industry, to join them on a Traineeship. Traineeships are a new government programme designed to give young people the skills and experience needed to secure a job or apprenticeship.</p>

        <p>The Lifetime Training Fitness Traineeship contains three core elements:</p>
        <ul>
          <li>Work preparation training (CV writing and interview techniques)</li>
          <li>Work placement (at Tiverton Pool &amp; Fitness Centre) where you’ll gain Industry knowledge and skills specific to the fitness industry</li>
        </ul>

        <p>As part of this traineeship you will be working in all areas of the gym, including gaining experience with customers in reception.</p>

      </div>
    </div>
  </div>
  <div class="grid grid-1-3">
    <ul class="list-text">
      <li><h3 class="bold-medium">Working week</h3></li>
      <li>30 hours a week Monday - Friday</li>
    </ul>
    <ul class="list-text">
      <li><h3 class="bold-medium">Expected duration</h3></li>
      <li>12 - 15 Months</li>
    </ul>
    <ul class="list-text">
      <li class="bold-medium">Distance</li>
      <li>2.4 miles</li>
    </ul>
    <ul class="list-text">
      <li class="bold-medium">Reference number</li>
      <li>VAC000409315</li>
    </ul>
  </div>
  <p class="text-attribution">Content provided by Tiverton Pool &amp; Fitness Centre - 20 May 14</p>
</section>

<section class="section-border" id="eligible">
  <div class="text">
    {{> trainee-eligible }}
  </div>
</section>

<section class="section-border grid-wrapper" id="course-info">
  <h2 class="heading-large">3. Information for candidate</h2>
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <div class="text">
        <h3 class="heading-medium">Desired skills &amp; qualities</h3>
        <ul>
          <li>Good communication and personal skills.</li>
          <li>Have a keen interest in the health and fitness industry.</li>
          <li>Enthusiastic and able to work well in a team.</li>
        </ul>
        <h3 class="heading-medium">Other information</h3>
        <p>Consisting of a 12 week programme, the first week is totally guided learning with one of our tutors, weeks 2-7 will you be attending the placement work place 3 days a week full time and an additional 2 days a week will be with the tutor, weeks 8-12 will be full time in the placement supported with a visit from a lifetime tutor.</p>
      </div>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="text">
      <h3 class="heading-medium">Future prospects</h3>
      <p>Gain the skills and experience needed to secure a job or apprenticeship.</p>
      <p>We will help you with this by providing you with an exit interview, as well as a letter of reference and a certificate of completion.</p>
      <h3 class="heading-medium">Reality check</h3>
      <p>The opportunity will give you some experience in the workplace, and training to support your job search and applications.</p>
    </div>
  </div>
  <p class="text-attribution">Content provided by Tiverton Pool &amp; Fitness Centre - 20 May 14</p>
</section>

<section class="section-border grid-wrapper" id="provider-info">
  <h2 class="heading-large">4. Learning provider</h2>
  <div class="grid grid-2-3">
    <div class="inner-block-padr">
      <div class="text">
        <div class="panel-indent">
          <p>A learning provider is usually a local college or training organisation responsible for an apprentice's off-the-job training.</p>
          <p><a href="" target="_blank">Get more information</a> on learning providers</p>
        </div>
        <p>This will be a 12 week traineeship where you will gain quality work experience in Fitness Instructing.
          The Traineeship program will also include off the job training in English, Maths and job search activity.
          Your first week will consist of guided learning with one of our tutors (Monday –Friday) weeks 2-7 will consist of you attending the placement work place 3 days a week full time and an additional 2 days a week will be back in the classroom with the tutor, weeks 8-12 will the totally full time in the placement supported with a visit from a lifetime tutor.</p>
          <p>Apprenticeships are a fantastic way to gain qualifications and relevant skills whilst earning money. </p>
          <p>Lifetime are different, we really care about you and your development and our visits to your workplace throughout your Apprenticeship are designed to make sure you’re getting everything you need to qualify with success.  You will also have access to a range of learner materials and a team of friendly advisors who you can call five days a week to ask any questions about your studies as you’re working through them.</p>
      </div>
    </div>
  </div>
  <div class="grid grid-1-3">
    <ul class="list-text">
      <li><h3 class="bold-medium">Learning provider</h3></li>
      <li>Lifetime Training Ltd</li>
    </ul>
    <ul class="list-text">
      <li><h3 class="bold-medium">Contact</h3></li>
      <li>Matthew Banfield</li>
      <li>0117 314 3095</li>
      <li>Rhiannon Webb</li>
      <li>0117 314 3047</li>
    </ul>
    <div class="ad-details__map">
      <iframe width="700" height="250" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?q=B3+2NH,+United+Kingdom&key=AIzaSyCusA_0x4bJEjU-_gLOFiXMSBXKZYtvHz8">
      </iframe>
      <p class="nojs-notice">You must have JavaScript enabled to view a map of the location</p>
    </div>
  </div>
  <p class="text-attribution">Content provided by Lifetime Training Ltd - 01 May 14</p>
</section>

<section id="before-apply">
  {{> trainee-beforeapply }}
  <div class="form-group">
    <a class="button button-with-hint" href="https://apprenticeshipvacancymatchingservice.lsc.gov.uk/Navms/Forms/Candidate/CandidatesLogin.aspx">Apply</a>
    <p class="copy-16">Closing date: 12 Jun 14</p>
    <a class="button-link" href="search-results-customer.html">Back</a>
  </div>
</section>



