---
headerTitle: Traineeships
---
<div class="hgroup text">
  <h1 class="heading-xlarge">Traineeship in Business Administration</h1>
  <h2 class="subtitle">Prolink Associates Ltd</h2>
</div>

<section class="section-border grid-wrapper">
  <!-- <h2 class="heading-large">Training you'll receive</h2> -->
  <div class="grid grid-2-3">
    <div class="inner-block-padr">
      <!-- <div class="text">
        <p>
          Valuable work experience within the field of Business Admin. You will working with Admin team to support them doing basic admin duties. This Traineeship Opportunity is Work Experience as part of an entry to work course.
        </p>
      </div> -->
      <div class="text">
        <p>The Traineeship programme will include High Quality work experience, Job Search/employability skills and English and Math (where required)</p>
        <p>Courses we provide:</p>
        <ul>
          <li>Business Administration</li>
          <li>ECDL ITQ</li>
          <li>ILM Team leading</li>
          <li>Functional Skills</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grid grid-1-3">
    <h3 class="bold-small">Training provider</h3>
    <p>Protocol Consultancy Services</p>
    <h3 class="bold-small">Contact</h3>
    <p>Adrian Hunt | Business Development Manager | 0121 236 2634 <a href="mailto:ahunt@protocolgroup.co.uk">ahunt@protocolgroup.co.uk</a></p>
    <h3 class="bold-small">Expected duration</h3>
    <p>Up to 12 weeks</p>
    <h3 class="bold-small">Distance</h3>
    <p>5.2 miles</p>
    <h3 class="bold-small">Reference number</h3>
    <p>VAC000123456</p>
    <!-- <div class="ad-details__map">
      <div class="map-overlay" onClick="style.pointerEvents='none'"></div>
      <iframe width="700" height="250" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?q=B3+2NH,+United+Kingdom&key=AIzaSyCusA_0x4bJEjU-_gLOFiXMSBXKZYtvHz8">
      </iframe>
      <p class="nojs-notice">You must have JavaScript enabled to view a map of the location</p>
    </div> -->
    <a href="profile-signin.html" class="button button-with-hint details-signIn">Sign in to apply</a>
    <a href="enquire.html" class="button button-with-hint details-apply">Apply</a>
    <p class="copy-16">Closing date: 29 Jan 15</p>
  </div>
</section>
<section class="section-border grid-wrapper" id="vacancy-info">
  <h2 class="heading-large">Work experience</h2>
      <div class="text">

        <p>This traineeship work experience is part of an education and training programme that is focused on giving young people the skills and experience that employers are looking for. At its core is work preparation training, English and maths for those who need it, and a high quality work experience placement.</p>
      </div>
<div class="grid-wrapper">
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <h3 class="bold-small">Employer</h3>
      <p class="small-btm-margin">Prolink Associates Ltd</p>
      <p><a href="#">www.prolink.co.uk</a></p>

      <h3 class="heading-small">Address</h3>
      <ul class="list-text">
        <li>New Market St </li>
        <li>Birmingham</li>
        <li>West Midlands</li>
        <li>B3 2NH</li>
      </ul>
    </div>
  </div>
    <div class="grid grid-1-2">
      <div class="ad-details__map">
      <div class="map-overlay" onClick="style.pointerEvents='none'"></div>
      <iframe width="700" height="250" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?q=B3+2NH,+United+Kingdom&key=AIzaSyCusA_0x4bJEjU-_gLOFiXMSBXKZYtvHz8">
      </iframe>
      <p class="nojs-notice">You must have JavaScript enabled to view a map of the location</p>
    </div>
    </div>
  </div>


</section>
<section class="section-border grid-wrapper" id="course-info">
  <h2 class="heading-large">Desired skills and what this will lead to</h2>
    <div class="text">
      <h3 class="heading-small">Desired skills</h3>
      <ul class="list-text">
        <li>Good communication and listening skills.</li>
        <li>Positive attitude.</li>
        <li>Smart appearance.</li>
        <li>Enjoy working with IT.</li>
      </ul>
      <h3 class="heading-small">What this will lead to</h3>
      <p>After successful completion of the Traineeship course, you will receive a certificate of completion and an f reference as a minimum, to support future job applications. There may also be the possible progression onto an apprenticeship within the company.</p>
    </div>
</section>
<section class="section-border grid-wrapper">
  <h2 class="heading-large">Other information</h2>
    <div class="text">
      <p>This is UNPAID work experience. You will be required to attend 30 hours per week Monday to Friday 7am to 5 pm. The first week will be off the job classroom training. This TRAINEESHIP work experience is part of an education and training programme that is focused on giving young people the skills and experience that employers are looking for. At its core is work preparation training, English and Maths for those who need it, and a high quality work experience placement.</p>
    </div>
</section>
<!--
<section class="section-border grid-wrapper" id="provider-info">

  <div class="grid-wrapper">
    <div class="grid grid-1-2">
      <div class="inner-block-padr">
      </div>
    </div>
    <div class="grid grid-1-2">
    </div>
  </div>
</section>
 -->



<!--
<section id="before-apply">
  <h2 class="heading-large">Enquire for opportunity</h2>
  <div class="form-group">
    <a href="enquire.html" class="button button-with-hint">Submit an enquiry</a>
    <p class="copy-16">Closing date: 29 Jan 15</p>
  </div>
</section>
 -->


