---
headerTitle: Find a Traineeship
---
<div class="hgroup text">
  <h1 class="heading-xlarge">Traineeship Fitness</h1>
  <h2 class="subtitle">Tiverton Pool &amp; Fitness Centre</h2>
</div>

<section class="grid-wrapper">
  <div class="grid grid-2-3">
    <div class="inner-block-padr">
      <div class="text">
        <p>
          Traineeship - We are currently seeking a 16-23 year old person wishing to gain valuable work experience with in the leisure industry free training is given to enable you to develop your skills with some opportunities a chance of an interview for a position
        </p>
      </div>
    </div>
  </div>
  <div class="grid grid-1-3">
    <a href="https://apprenticeshipvacancymatchingservice.lsc.gov.uk/Navms/Forms/Candidate/CandidatesLogin.aspx" class="button button-with-hint">Apply for opportunity</a>
    <p class="copy-16">Closing date: 12 Jun 14</p>
  </div>
</section>

<section class="section-border">
  <ul class="list-flowing-3cols">
    <li class="inner-block-padr">
      <h2 class="heading-small">
        <a href="#vacancy-info">1. Opportunity summary</a>
      </h2>
      <p>
        Information about responsibilities and working hours
      </p>
    </li>

    <li class="inner-block-padr">
      <h2 class="heading-small">
        <a href="#eligible">2. Are you eligible?</a>
      </h2>
      <p>
        Check through this to ensure you qualify for a Traineeship
      </p>
    </li>

    <li class="inner-block-padr">
      <h2 class="heading-small">
        <a href="#course-info">3. Information for candidate</a>
      </h2>
      <p>
        Includes qualifications, skills and personal qualities required for role
      </p>
    </li>

    <li class="inner-block-padr">
      <h2 class="heading-small">
        <a href="#provider-info">4. Learning provider</a>
      </h2>
      <p>
        Details of training plans and role of learning provider
      </p>
    </li>

    <li class="inner-block-padr">
      <h2 class="heading-small">
        <a href="#before-apply">5. Before you apply</a>
      </h2>
      <p>
        What you must do before you apply for the vacancy
      </p>
    </li>
  </ul>
</section>

<section class="section-border grid-wrapper" id="vacancy-info">
  <h2 class="heading-large">1. Opportunity summary</h2>
  <div class="grid grid-2-3">
    <div class="inner-block-padr">
      <div class="text">
        <p>This Traineeship Opportunity, is unwaged Work Experience as part of an entry to work course</p>

        <p>Tiverton Pool &amp; Fitness Centre and Lifetime Training are looking for enthusiastic and friendly 16-23 year olds, who want to break into the fitness industry, to join them on a Traineeship. Traineeships are a new government programme designed to give young people the skills and experience needed to secure a job or apprenticeship.</p>

        <p>The Lifetime Training Fitness Traineeship contains three core elements:</p>
        <ul>
          <li>Work preparation training (CV writing and interview techniques)</li>
          <li>Work placement (at Tiverton Pool &amp; Fitness Centre) where you’ll gain Industry knowledge and skills specific to the fitness industry</li>
        </ul>

       <p> It’s a great opportunity to get your foot in the door, learn some great skills to help spruce up your CV and impress an employer.</p>

        <p>As part of this traineeship you will be working in all areas of the gym, including gaining experience with customers in reception.</p>

        <p>Apply now, to find out more about working in one of the most exciting industries.</p>

        <p>This traineeship work experience is part of an education and training programme that is focused on giving young people the skills and experience that employers are looking for. At its core is work preparation training, English and maths for those who need it, and a high quality work experience placement. </p>

      </div>
    </div>
  </div>
  <div class="grid grid-1-3">
    <!-- <ul class="list-text">
      <li class="bold-medium">Weekly wage</li>
      <li>&pound;107.20</li>
    </ul> -->
    <ul class="list-text">
      <li><h3 class="bold-medium">Working week</h3></li>
      <li>30 hours a week Monday - Friday</li>
      <!-- <li>Fri: 07:30 - 12:30</li>
      <li>Total hours per week: 38</li> -->
    </ul>
    <ul class="list-text">
      <li><h3 class="bold-medium">Expected duration</h3></li>
      <li>12 - 15 Months</li>
    </ul>
    <ul class="list-text">
      <li class="bold-medium">Distance</li>
      <li>3 miles</li>
    </ul>
      <ul class="list-text">
        <li>
          <h3 class="bold-medium">Vacancy type</h3>
        </li>
        <li>Traineeship</li>
      </ul>
    <ul class="list-text">
      <li class="bold-medium">Reference number</li>
      <li>VAC000409315</li>
    </ul>
  </div>
  <p class="text-attribution">Content provided by Tiverton Pool &amp; Fitness Centre - 20 May 14</p>
</section>

<section class="section-border" id="eligible">
  <div class="text">
    <h2 class="heading-large">2. Are you eligible?</h2>
    <ol class="list-number">
      <li>Are you currently not in a job and have little or no relevant Work Experience </li>
      <li>Are you aged 16-18 and qualified below Level 3 (A level) or 19 to 23 and not yet achieved a Full Level 2 (5 GCSE’s at grade C or above inclusive of Math and English) </li>
      <li>Think you could be ready for employment or an apprenticeship within 6 months </li>
    </ol>
  </div>
</section>

<section class="section-border grid-wrapper" id="course-info">
  <h2 class="heading-large">3. Information for candidate</h2>
  <div class="grid grid-1-2">
    <div class="inner-block-padr">
      <div class="text">
        <h3 class="heading-medium">Desired skills &amp; qualities</h3>
        <p>You need to have a keen interest in the health and fitness industry.</p>
        <p>You must be enthusiastic and able to work well in a team.</p>
        <h3 class="heading-medium">Other information</h3>
        <p>Consisting of a 12 week programme, the first week is totally guided learning with one of our tutors (Monday –Friday) weeks 2-7 will consist of the student attending the placement work place 3 days a week full time and an additional 2 days a week will be back in the classroom with the tutor, weeks 8-12 will the totally full time in the placement supported with a visit from a lifetime tutor.</p>
      </div>
    </div>
  </div>
  <div class="grid grid-1-2">
    <div class="text">
      <h3 class="heading-medium">Future prospects</h3>
      <p>Gain the skills and experience needed to secure a job or apprenticeship.</p>
      <p>We will help you with this by providing you with an exit interview, as well as a letter of reference and a certificate of completion.</p>
      <h3 class="heading-medium">Reality check</h3>
      <p>The opportunity will give you some experience in the workplace, and training to support your job search and applications.</p>
    </div>
  </div>
  <p class="text-attribution">Content provided by Tiverton Pool &amp; Fitness Centre - 20 May 14</p>
</section>

<section class="section-border grid-wrapper" id="provider-info">
  <h2 class="heading-large">4. Learning provider</h2>
  <div class="grid grid-2-3">
    <div class="inner-block-padr">
      <div class="text">
        <div class="panel-indent">
          <p>A learning provider is usually a local college or training organisation responsible for an apprentice's off-the-job training.</p>
          <p><a href="" target="_blank">Get more information</a> on learning providers</p>
        </div>
        <p>This will be a 12 week traineeship where you will gain quality work experience in Fitness Instructing.
          The Traineeship program will also include off the job training in English, Maths and job search activity.
          Your first week will consist of guided learning with one of our tutors (Monday –Friday) weeks 2-7 will consist of you attending the placement work place 3 days a week full time and an additional 2 days a week will be back in the classroom with the tutor, weeks 8-12 will the totally full time in the placement supported with a visit from a lifetime tutor.</p>
          <p>Apprenticeships are a fantastic way to gain qualifications and relevant skills whilst earning money. </p>
          <p>Lifetime are different, we really care about you and your development and our visits to your workplace throughout your Apprenticeship are designed to make sure you’re getting everything you need to qualify with success.  You will also have access to a range of learner materials and a team of friendly advisors who you can call five days a week to ask any questions about your studies as you’re working through them.</p>
      </div>
    </div>
  </div>
  <div class="grid grid-1-3">
    <ul class="list-text">
      <li><h3 class="bold-medium">Learning provider</h3></li>
      <li>Lifetime Training Ltd</li>
    </ul>
    <ul class="list-text">
      <li><h3 class="bold-medium">Contact</h3></li>
      <li>Matthew Banfield</li>
      <li>0117 314 3095</li>
      <li>Rhiannon Webb</li>
      <li>0117 314 3047</li>
    </ul>
    <div class="ad-details__map">
      <iframe width="700" height="250" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?q=B3+2NH,+United+Kingdom&key=AIzaSyCusA_0x4bJEjU-_gLOFiXMSBXKZYtvHz8">
      </iframe>
      <p class="nojs-notice">You must have JavaScript enabled to view a map of the location</p>
    </div>
  </div>
  <p class="text-attribution">Content provided by Lifetime Training Ltd - 01 May 14</p>
</section>

<section id="before-apply">
  <h2 class="heading-large">5. Before you apply</h2>
  <div class="text">
    <p>You will need to:</p>
    <ul>
      <li>complete an application form</li>
      <li>write a personal statement</li>
      <li>provide details of your qualifications</li>
    </ul>
  </div>
  <div class="form-group">
    <a class="button button-with-hint" href="https://apprenticeshipvacancymatchingservice.lsc.gov.uk/Navms/Forms/Candidate/CandidatesLogin.aspx">Apply for opportunity</a>
    <p class="copy-16">Closing date: 12 Jun 14</p>
    <a class="button-link" href="search-results-admin.html">Back</a>
  </div>
</section>



