---
headerTitle: Apprenticeship Applications
---
    <div id="main">
        <section>
            <div id="content-wrapper">
                <fieldset>
                    <legend class="heading-36">Authentication for user</legend>
                    <div>
                        <label>Login</label>
                        <p>
                            <label>Email address</label><input type="text" />
                            <label>Password</label><input type="password" />
                        </p>
                        <a href="#">Forgotten password</a>
                        <p>
                            <label>Before you can post a vacancy you need to :</label>
                            <div>
                                <a href="employer-role-submission/EmployerRegistration.html">Register your organisation</a>
                            </div>
                            <div>
                                <a href="employer-role-submission/training-provider.html">Choose a learning provider</a>
                            </div>
                        </p>
                        <p class="action group">
                            <a class="button-link" href="employer.html">Back</a>
                        </p>
                    </div>
                </fieldset>
            </div>
        </section>
    </div>
