---
headerTitle: Apprenticeship Applications
---
<h1 class="heading-48">Apprenticeships</h1>
<h2 class="heading-36">Employer Role Submission - Complete</h2>
<p class="text">
    Your vacancy has been submitted.
</p>
<p class="text">
    Your reference for this vacancy is: <b>VE1234556</b>
</p>
<div class="form-group">
  <a class="button" href="employer-role-submission/training-provider.html">Submit another role</a>
  <a class="button-link" href="employer.html">Finished</a>
</div>

