
    <main role="main" id="main">


        <section>


            <div id="content-wrapper">



                <div class="help-container">

                </div>





                <h1>Apprenticeships</h1>







                <h2>Employer Role Submission - Complete</h2>



                <p>

                    Your vacancy has been submitted.


                </p>


                <p>

                    Your reference for this vacancy is: <b>VE1234556</b>


                </p>


                <p class="action group">
                    <a class="button" href="employer.html">Finished</a>
                    <a class="button secondary" href="employer-role-submission/training-provider.html">Submit another role</a>
                </p>

            </div>




        </section>


    </main>


