
    <div id="main">
        <section>
            <div id="content-wrapper">
                <h1>Employer</h1>
                <h3>What would you like to do?</h3>
                <ul>
                    <li>
                        <a href="employer-role-submission/EmployerRegistration.html">Register</a>
                    </li>
                    <li>
                        <a href="http://www.apprenticeships.org.uk/employers/find-an-apprenticeship-training-organisation.aspx">Find Learning Provider</a>
                    </li>
                    <li>
                        <a href="StartPage.html">Post a Vacancy</a>
                    </li>
                </ul>
            </div>
        </section>
    </div>




