---
previousPage: Have you had an injury to your head in the last 7 days?
previousPageURL: #
showPreviousNav:
---

<div class="nhs-body-container">

  <div class="nhs-countdown-container">
    <div class="nhs-countdown font-medium">
      <span class="nhs-the-count">3:00</span>
    </div>
  </div>

  <div class="nhs-question-container">
    <h2 class="font-large nhs-the-question">Have you had an injury to your head in the last 7 days?</h2>
  </div>

  <div class="nhs-answer-container">
    <div class="nhs-the-answer nhs-radiobtn inline">

      <input name="answerRadio" type="radio" id="answerYes" class="nhs-radiobtn__input"/>
      <label for="answerYes" class="nhs-radiobtn__label">Yes</label>

      <input checked name="answerRadio" type="radio" id="answerNo" class="nhs-radiobtn__input"/>
      <label for="answerNo" class="nhs-radiobtn__label">No</label>

    </div>
  </div>

  <div class="nhs-button-container">
    <a href="" class="button">Next question</a>
  </div>

</div>