---
previousPage: Have you ever had a stroke or mini-stroke (TIA)?
previousPageURL: next-question-01.html
showPreviousNav: nhs-show-nav
htmlAnimate: nhs-animatehtml
---

<div class="nhs-body-container nhs-animate-inout">
  <span class="nhs-navtriangle"></span>

  <div class="nhs-countdown-container">
    <div class="nhs-countdown font-medium">
      <span class="nhs-the-count">3:00</span>
    </div>
  </div>

  <div class="nhs-question-container">
    <h2 class="font-large nhs-the-question">Do you have, or have you had, any of these symptoms?</h2>
    <ol class="list-number font-medium ta-left nhs-question-secondary">
      <li>You've suddenly become unable to raise both arms and keep them there</li>
      <li>You've sudden difficulty speaking</li>
      <li>You've suddenly developed a lopsided-looking face</li>
    </ol>
  </div>

  <div class="nhs-answer-container">
    <div class="nhs-the-answer nhs-radiobtn inline">

      <input name="answerRadio" type="radio" id="answerYes" class="nhs-radiobtn__input"/>
      <label for="answerYes" class="nhs-radiobtn__label">Yes</label>

      <input checked name="answerRadio" type="radio" id="answerNo" class="nhs-radiobtn__input"/>
      <label for="answerNo" class="nhs-radiobtn__label">No</label>

    </div>
  </div>

  <div class="nhs-button-container">
    <a href="next-question-02.html" class="button nhs-nav-btn">Next question</a>
  </div>

</div>
