---
previousPage: Have you had an injury to your head in the last 7 days?
previousPageURL: index.html
showPreviousNav: nhs-show-nav
htmlAnimate: nhs-animatehtml
---

<div class="nhs-body-container nhs-animate-inout">
  <span class="nhs-navtriangle"></span>

  <div class="nhs-countdown-container">
    <div class="progress-pie-02">
    </div>
    <div class="nhs-countdown font-medium">
      <span class="nhs-the-count">2:30</span>
    </div>
  </div>

  <div class="nhs-question-container">
    <h2 class="font-large nhs-the-question">Have you fainted or passed out in the last 24 hours?</h2>
  </div>

  <div class="nhs-answer-container">
    <div class="nhs-the-answer nhs-radiobtn inline">

      <input name="answerRadio" type="radio" id="answerYes" class="nhs-radiobtn__input"/>
      <label for="answerYes" class="nhs-radiobtn__label">Yes</label>

      <input checked name="answerRadio" type="radio" id="answerNo" class="nhs-radiobtn__input"/>
      <label for="answerNo" class="nhs-radiobtn__label">No</label>

    </div>
  </div>

  <div class="nhs-button-container">
    <a href="next-question-01.html" class="button nhs-nav-btn">Next question</a>
  </div>

</div>