---
previousPage: Have you fainted or passed out in the last 24 hours?
previousPageURL: next-question.html
showPreviousNav: nhs-show-nav
htmlAnimate: nhs-animatehtml
---

<div class="nhs-body-container nhs-animate-inout">
  <span class="nhs-navtriangle"></span>

  <div class="nhs-countdown-container">
  <div class="progress-pie-04">
    </div>
    <div class="nhs-countdown font-medium">
      <span class="nhs-the-count">2:00</span>
    </div>
  </div>

  <div class="nhs-question-container">
    <h2 class="font-large nhs-the-question">Have you ever had a stroke or mini-stroke (TIA)?</h2>
  </div>

  <div class="nhs-answer-container">
    <div class="nhs-the-answer nhs-radiobtn inline ta-left">

      <div class="grid-wrapper">
        <div class="grid-1-2 grid para-btm-margin"><input name="answerRadio" type="radio" id="answerYes01" class="nhs-radiobtn__input"/>
          <label for="answerYes01" class="nhs-radiobtn__label">Less than 24 hours</label>
          </div>
        <div class="grid grid-1-2 para-btm-margin">
          <input name="answerRadio" type="radio" id="answerYes02" class="nhs-radiobtn__input"/>
          <label for="answerYes02" class="nhs-radiobtn__label">2-7 Days</label>
        </div>
      </div>

      <div class="grid-wrapper">
        <div class="grid grid-1-2 para-btm-margin">
          <input name="answerRadio" type="radio" id="answerYes03" class="nhs-radiobtn__input"/>
          <label for="answerYes03" class="nhs-radiobtn__label">More than 1 week ago</label>
        </div>

        <div class="grid grid-1-2 para-btm-margin">
          <input checked name="answerRadio" type="radio" id="answerNo" class="nhs-radiobtn__input"/>
          <label for="answerNo" class="nhs-radiobtn__label">No</label>
        </div>
      </div>

    </div>
  </div>

  <div class="nhs-button-container">
    <a href="next-question-02.html" class="button nhs-nav-btn">Next question</a>
  </div>

</div>