---
headerTitle: Advertising an Apprenticeship
---

<h1 class="heading-48">Post a vacancy</h1>
<fieldset>
  <legend class="heading-36">Authentication for user</legend>
  <div>
    <h3 class="heading-24">Login</h3>
    <div class="form-group form-group--compound">
      <label class="form-label" for="email-add">Email address</label>
      <input type="email" class="form-control" id="email-add"/>
    </div>
    <div class="form-group">
      <label class="form-label" for="password">Password</label>
      <input type="password" class="form-control" id="password" />
      <a class="form-hint" href="#">Forgotten password?</a>
    </div>
    <div class="form-group">
      <a class="button" href="employer-role-submission/ReviewDetails.html">Continue</a>
      <a class="button-link" href="StartPage.html">Back</a>
    </div>
  </div>
</fieldset>




