---
headerTitle: Advertising an Apprenticeship
---
    <div id="main">
        <section>
            <div id="content-wrapper">
              <h1>Post a vacancy</h1>
                <fieldset class="separator">
                    <legend>Authentication for user</legend>
                    <div>
                        <h2>Login</h2>
                        <p>
                            <label>Email address<input type="email" class="email"/></label>
                            <label>Password<input type="password" class="password" /></label>
                        </p>
                        <a href="#">Forgotten password</a>
                        <p class="action group">
                            <a class="button secondary" href="StartPage.html">Back</a>
                            <a class="button" href="employer-role-submission/ReviewDetails.html">Continue</a>
                        </p>
                    </div>
                </fieldset>
            </div>
        </section>
    </div>




