---
headerTitle: Apprenticeships
---
    <div id="main">
        <section>
            <div id="content-wrapper">
                <h1>Post a vacancy</h1>
                <h3>Before you start</h3>
                <p>To post a vacancy you'll need:</p>
                <ul>
                  <li>To know that your vacancy is suitable to be advertised as an Apprenticeship</li>
                  <li>To be clear on the role you want to advertise and be able to describe this</li>
                  <li>To be clear on the type of candidate you are looking to recruit</li>
                </ul>
                <p id="get-started" class="get-started group">
                  <a href="PostVacancyAuthenticateUser.html" rel="" data-transaction-slug="" class="button">Start now</a>
                    <span class="destination"> to post a vacancy</span>
                </p>
                <br>
                <br>
                <a href="employer.html">Back</a>
            </div>
        </section>
    </div>


