---
bgColor: color-pink
twoColumn: two-columnlayout
---

<div class="left50pc">
  <span class="right-triangle"></span>
</div>

<div class="grid-wrapper grid-above-halfbg">
    <div class="grid grid-1-2 coloredbg">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ducimus natus quas error eos voluptatibus distinctio praesentium, necessitatibus! Alias eaque nostrum impedit nesciunt dolorem aspernatur, delectus quaerat fugit est non.</p>
      <span class="down-triangle"></span>
    </div>
    <div class="grid grid-1-2 twocol-second"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ducimus natus quas error eos voluptatibus distinctio praesentium, necessitatibus! Alias eaque nostrum impedit nesciunt dolorem aspernatur, delectus quaerat fugit est non.</p></div>

  </div>

