---
headerTitle: UI Components
---
<div id="main">
  <section>
    <div id="content-wrapper" class="components-used">
      <h1>UI Components</h1>
      <fieldset>
        <legend>
          Form components
        </legend>
        <div class="group">
          <h2>Buttons</h2>
          <button class="button">Primary</button>
          <button class="button secondary">Secondary</button>
          <button class="button warning">Warning</button>
          <div id="get-started" class="get-started">
            <a href="#" rel="" data-transaction-slug="" class="button">Start now</a>
              <span class="destination"> to do something</span>
          </div>
        </div>
        <div class="group">
          <h2>Inputs</h2>
          <label><input type="text" class="name" placeholder="Name input"></label>
          <label><input type="email" class="email" placeholder="email@email.com"></label>
          <label><input type="password" class="password" placeholder="Password"></label>
          <label><input type="text" class="x-large" placeholder="X Large input"></label>
          <label><textarea class="short" placeholder="Text area (short)"></textarea></label>
          <label><textarea class="tall" placeholder="Text area (tall)"></textarea></label>
        </div>
        <div class="group">
          <h2>Radios, Checkboxes, Selects</h2>
          <ul class="option group inline">
              <li>
                  <label><input type="radio" checked="checked" name="show-logo">Yes</label>
              </li>
              <li>
                  <label><input type="radio" name="show-logo">No</label>
              </li>
          </ul>
          <label><input type="checkbox">Checkbox</label>
          <label><input type="radio" checked="checked" name="hide-show">Hide something</label>
          <label>
            <input type="radio" class="check-to-show-trigger" name="hide-show">Show something
            <input type="date" class="check-to-show">
          </label>
          <label>
            <select name="" id="">
              <option value="">Option 1</option>
              <option value="">Option 2</option>
              <option value="">Option 3</option>
            </select>
          </label>
        </div>
      </fieldset>
      <fieldset>
        <legend>Navigation</legend>
        <h2>Responsive navigation</h2>
        <header>
            <a class="global-header__logo" href="/" title="Go to the GOV.UK homepage">
              <img src="{{assets}}/img/logos/logo.png" alt="GOV.UK">
            </a>
          <nav role="navigation" class="responsive-nav">
            <h2 class="heading"><a href="#">A title that links somewhere</a></h2>
            <a href="#" class="responsive-nav__trigger">Menu</a>
            <ul class="responsive-nav__links">
              <li><a href="#">First link</a></li>
              <li><a href="#">Second link</a></li>
              <li><a href="#">Third link</a></li>
            </ul>
          </nav>
        </header>
        <h2>Breadcrumbs</h2>
        <nav role="navigation" class="breadcrumbs">
          <ul>
            <li class="breadcrumbs__item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumbs__item">
              <a href="#">Somewhere</a>
            </li>
            <li class="breadcrumbs__item">
              <a href="#">Somewhere else</a>
            </li>
          </ul>
        </nav>
        <h2>Bottom of page navigation</h2>
        <nav role="navigation" class="page-navigation">
          <a class="page-navigation__btn previous" href="#" rel="previous">
            <i class="arrow-button"></i>
            Previous page
          </a>
          <a class="page-navigation__btn next" href="#" rel="next">
            <i class="arrow-button"></i>
            Next page
          </a>
        </nav>
      </fieldset>
      <fieldset>
        <legend>Textual</legend>
        <h2>Explanation box</h2>
        <div class="explanation-box">
          <p>Some useful information can go here: <a href="#">Perhaps with a link?</a></p>
        </div>
      </fieldset>
    </div>
  </section>
</div>