---
headerTitle: Advertising an Apprenticeship
---
<h1 class="heading-xlarge">About the Apprentice</h1>
<fieldset class="fieldset-with-border">
  <legend class="heading-large">What you want from an Apprentice</legend>
  <div class="form-group form-group-compound">
    <label for="skill1" class="form-label">Skills desired</label>
    <input type="text" class="form-control" id="skill1">
  </div>
  <div class="form-group form-group-compound">
    <label for="skill2" class="visuallyhidden">Second skill</label>
    <input type="text" class="form-control" id="skill2">
  </div>
  <div class="form-group form-group">
    <label for="skill3" class="visuallyhidden">Third skill</label>
    <input type="text" class="form-control" id="skill3">
    <a class="form-hint" href="#">+ Add a new skill</a>
  </div>
  <div class="form-group">
    <label for="pers-quals" class="form-label">Personal qualities desired</label>
    <textarea id="pers-quals" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="req-quals" class="form-label">Required qualifications</label>
    <textarea id="req-quals" class="form-control"></textarea>
  </div>
</fieldset>

<fieldset>
  <legend class="heading-large">Your extra questions for the application form</legend>
  <div class="form-group form-group-compound">
    <label class="form-label" for="ques-1">Question 1</label>
    <input id="ques-1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label class="form-label" for="ques-2">Question 2</label>
    <input id="ques-2" type="text" class="form-control">
    <a class="form-hint" href="#">+ Add another question</a>
  </div>
</fieldset>

<div class="form-group">
  <a class="button" href="advert-details.html">Save and continue</a>
</div>
