---
headerTitle: Register you organisation
---

<h1 class="heading-xlarge">Registration Details Submitted.</h1>
<h2 class="heading-large">What happens next</h2>
<p class="text">We’ll check the details you’ve provided and get in touch if we have any questions.</p>
<p class="text">If there are no problems, we’ll send you an email to say that your registration has been accepted. (We usually do this within 5 working days)</p>
<p class="text">Once your registration has been accepted, you’ll be able to post vacancies and search our database of candidates.</p>
<p class="text">If you have a question about your registration, call 08000 150 600.</p>
<div class="form-group">
  <a class="button" href="index.html">Finish</a>
</div>
