---
headerTitle: Advertising an Apprenticeship
---
<h1 class="heading-xlarge">Review organisation details</h1>
<fieldset class="fieldset-with-border">
  <legend class="heading-large">Organisation details</legend>
  <div class="form-group">
    <label class="form-label" for="businessOrganDetails">Name of organisation</label>
    <input class="form-control" type="text" id="businessOrganDetails" />
  </div>
  <div class="form-group">
    <label for="select-org-type" class="form-label">Organisation type or sector</label>
    <select id="select-org-type">
        <option value="Please select ">Please select </option>
        <option value="Administration &amp; Human Resources">Administration &amp; Human Resources</option>
        <option value="Agriculture &amp; Land Based Services">Agriculture &amp; Land Based Services</option>
        <option value="Arts, Creative &amp; Cultural Industries">Arts, Creative &amp; Cultural Industries</option>
        <option value="Automotive Industry &amp; Passenger Transport">Automotive Industry &amp; Passenger Transport</option>
        <option value="Broadcast, Film &amp; Multimedia">Broadcast, Film &amp; Multimedia</option>
        <option value="Chemical, Oil &amp; Nuclear Industry">Chemical, Oil &amp; Nuclear Industry</option>
        <option value="Construction">Construction</option>
        <option value="Customer Service &amp; Retail">Customer Service &amp; Retail</option>
        <option value="Energy/Utilities Industry">Energy/Utilities Industry</option>
        <option value="Engineering, Electricians &amp; Building Services">Engineering, Electricians &amp; Building Services</option>
        <option value="Financial Services">Financial Services</option>
        <option value="Food and Drink">Food and Drink</option>
        <option value="Hair &amp; Beauty">Hair &amp; Beauty</option>
        <option value="Hospitality &amp; Travel">Hospitality &amp; Travel</option>
        <option value="Information Technology &amp; Communications">Information Technology &amp; Communications</option>
        <option value="Logistics">Logistics</option>
        <option value="Manufacturing &amp; Processing">Manufacturing &amp; Processing</option>
        <option value="Marine Industry">Marine Industry</option>
        <option value="Property">Property</option>
        <option value="Public Services">Public Services</option>
        <option value="Sports &amp; Fitness">Sports &amp; Fitness</option>
    </select>
  </div>
  <div class="form-group">
    <label class="form-label" for="busWebAddress">Website address</label>
    <input type="text" width="100" id="busWebAddress" class="form-control" />
  </div>
  <div class="form-group">
    <label for="howmany-emp" class="form-label">How many employees does your organisation have in the UK?</label>
    <select id="howmany-emp">
        <option value="Please select ">Please select </option>
        <option value="&lt;9">&lt;9</option>
        <option value="9-49">9-49</option>
        <option value="50-249">50-249</option>
        <option value="250-999">250-999</option>
        <option value="1000-4999">1000-4999</option>
        <option value="5000+">5000+</option>
        <option value="Don't Know">Don't Know</option>
    </select>
  </div>
</fieldset>

<fieldset>
  <legend class="heading-large">Include a logo</legend>
  <div class="form-group form-group-compound inline">
    <p class="form-label">Do you want to include a logo in the advert?</p>
    <label for="radio-inline-1" class="block-label">
      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
      Yes
    </label>
    <label for="radio-inline-2" class="block-label">
      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
      No
    </label>
  </div>
    <div class="form-group form-group-compound">
      <a class="button-link" href="#">Choose file</a>
    </div>
  <div class="form-group">
    <img src="{{assets}}/img/logos/AdultLearningAcad.png" alt="GOV.UK">
  </div>
</fieldset>

<div class="form-group">
  <a class="button" href="vacancy.html">Save and continue</a>
</div>
