---
headerTitle: Advertising an Apprenticeship
---
<h1 class="heading-xlarge">Add vacancy details</h1>
<fieldset class="fieldset-with-border">
  <legend class="heading-large">Vacancy details</legend>
  <div class="form-group">
    <label for="job-title" class="form-label">Job title</label>
    <input id="job-title" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="num-vacancies" class="form-label">No. of vacancies</label>
    <select id="num-vacancies">
        <option value="">1</option>
        <option value="">2</option>
        <option value="">3</option>
        <option value="">4</option>
        <option value="">5</option>
        <option value="">6</option>
        <option value="">7</option>
        <option value="">8</option>
        <option value="">9</option>
        <option value="">10</option>
        <option value="">Multiple</option>
    </select>
  </div>
  <div class="form-group">
    <label for="brief-summ" class="form-label">Brief summary of role</label>
    <input id="brief-summ" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="key-resp" class="form-label">Key responsibilities</label>
    <p class="form-hint">What the duties are?</p>
    <textarea id="key-resp" class="form-control short"></textarea>
  </div>
</fieldset>

<fieldset class="fieldset-with-border">
  <legend class="heading-large">Vacancy Location</legend>
  <div class="form-group form-group-compound">
    <label for="post-code" class="form-label">Postcode</label>
    <input id="post-code" type="text" class="form-control form-control-large " autocapitalize="characters" autocorrect="off" value="">
  </div>
  <div class="form-group form-group-compound">
    <a href="#" class="button address-find-btn">Find address</a>
  </div>
  <div class="address-find-select form-group toggle-content">
    <label for="address-select" class="form-label">Select your address</label>
    <select name="" id="address-select">
      <option value="void">-- 5 found --</option>
      <option class="address-select-option" value="36 Bolton Road">36 Bolton Road</option>
      <option class="address-select-option" value="37 Bolton Road">37 Bolton Road</option>
      <option class="address-select-option" value="38 Bolton Road">38 Bolton Road</option>
      <option class="address-select-option" value="39 Bolton Road">39 Bolton Road</option>
      <option class="address-select-option" value="40 Bolton Road">40 Bolton Road</option>
    </select>
  </div>
  <div class="form-group">
    <a href="#" class="address-manual-btn">I want to enter address manually</a>
  </div>
  <div class="address-manual-input panel-indent toggle-content">
    <div class="form-group form-group-compound">
      <label for="address1" class="form-label">First line of address</label>
      <input id="address1" type="text" class="form-control" autocorrect="off" value="">
    </div>
    <div class="form-group form-group-compound">
      <label for="address2" class="form-label">Second line (optional)</label>
      <input id="address2" type="text" class="form-control" autocorrect="off">
    </div>
    <div class="form-group form-group-compound">
      <label for="address3" class="form-label">Town or city</label>
      <input id="address3" type="text" class="form-control" autocorrect="off" value="">
    </div>
    <div class="form-group form-group-compound">
      <label for="address3b" class="form-label">County</label>
      <input id="address3b" type="text" class="form-control" autocorrect="off" value="">
    </div>
    <div class="form-group form-group-compound">
      <label for="address4" class="form-label">Post code</label>
      <input id="address4" type="text" class="form-control form-control-large" autocapitalize="characters" autocorrect="off" value="">
    </div>
  </div>
</fieldset>

<fieldset class="fieldset-with-border">
  <legend class="heading-large">Working week</legend>
  <div class="form-group">
    <label class="form-label" for="how-many-hours">How many hours a week will the apprentice work?</label>
    <p class="form-hint" >Include time they will spend at college or in training.</p>
    <input id="how-many-hours" type="text" maxlength="2" class="form-control form-control-hours">
  </div>
  <div class="form-group form-group-compound">
    <p class="form-label">Working days (tick all that apply)</p>
    <p class="form-hint">What days might they be expected to work</p>
  </div>
    <div>
      <label for="weekday1" class="block-label"><input id="weekday1" type="checkbox">Monday</label>
    </div>
    <div>
      <label for="weekday2" class="block-label"><input id="weekday2" type="checkbox">Tuesday</label>
    </div>
    <div>
      <label for="weekday3" class="block-label"><input id="weekday3" type="checkbox">Wednesday</label>
    </div>
    <div>
      <label for="weekday4" class="block-label"><input id="weekday4" type="checkbox">Thursday</label>
    </div>
    <div>
      <label for="weekday5" class="block-label"><input id="weekday5" type="checkbox">Friday</label>
    </div>
    <div>
      <label for="weekday6" class="block-label"><input id="weekday6" type="checkbox">Saturday</label>
    </div>
    <div class="form-group">
      <label for="weekday7" class="block-label"><input id="weekday7" type="checkbox">Sunday</label>
    </div>
</fieldset>

<fieldset class="fieldset-with-border">
  <legend class="heading-large">Wage</legend>
  <div class="inline">
    <div class="form-group form-group-compound">
      <label for="wage-amount" class="form-label">Amount</label>
      <input id="wage-amount" type="text" class="form-control form-control-large" value="&pound;">
    </div>
    <div class="form-group form-group-compound">
      <label for="wage-freq" class="form-label">Frequency</label>
      <select id="wage-freq">
        <option value="">Please select</option>
        <option selected="selected" value="">Weekly</option>
        <option value="">Monthly</option>
        <option value="">Yearly</option>
      </select>
    </div>
    <p class="form-hint">eg £100.00</p>
  </div>
</fieldset>

<fieldset>
  <legend class="heading-large">Key dates</legend>
  <div class="form-group date-input">
    <p class="form-label">Closing date for applications</p>
    <div class="form-group form-group-compound">
      <label class="form-hint" for="date-day1">Day</label>
      <input type="tel" class="form-control" maxlength="2" id="date-day1">
    </div>
    <div class="form-group form-group-compound b">
      <label class="form-hint" for="date-month1">Month</label>
      <input type="tel" class="form-control" maxlength="2" id="date-month1">
    </div>
    <div class="form-group form-group-compound form-group-year">
      <label class="form-hint" for="date-year1">Year</label>
      <input type="tel" class="form-control" maxlength="4" id="date-year1">
    </div>
  </div>
  <div class="form-group date-input">
    <p class="form-label">When do you plan to start interviewing? (optional)</p>
    <div class="form-group form-group-compound">
      <label class="form-hint" for="date-day2">Day</label>
      <input type="tel" class="form-control" maxlength="2" id="date-day2">
    </div>
    <div class="form-group form-group-compound">
      <label class="form-hint" for="date-month2">Month</label>
      <input type="tel" class="form-control" maxlength="2" id="date-month2">
    </div>
    <div class="form-group form-group-compound form-group-year">
      <label class="form-hint" for="date-year2">Year</label>
      <input type="tel" class="form-control" maxlength="4" id="date-year2">
    </div>
  </div>
  <div class="form-group">
    <div class="form-group form-group-compound inline">
      <p>When do you want the apprentice to start work?</p>
      <label for="asap-start" class="block-label">
        <input id="asap-start" type="radio" name="h-dates">
        As soon as possible
      </label>
      <label data-target="start-date-panel" for="enter-start" class="block-label">
        <input class="check-to-show-trigger" id="enter-start" type="radio" name="h-dates">
        Enter date
      </label>
    </div>
    <div id="start-date-panel" class="panel-indent toggle-content form-group date-input">
      <p class="form-label">Start date</p>
      <div class="form-group form-group-compound">
        <label class="form-hint" for="date-day3">Day</label>
        <input type="tel" class="form-control" maxlength="2" id="date-day3">
      </div>
      <div class="form-group form-group-compound">
        <label class="form-hint" for="date-month3">Month</label>
        <input type="tel" class="form-control" maxlength="2" id="date-month3">
      </div>
      <div class="form-group form-group-compound form-group-year">
        <label class="form-hint" for="date-year3">Year</label>
        <input type="tel" class="form-control" maxlength="4" id="date-year3">
      </div>
    </div>
  </div>
</fieldset>

<div class="form-group">
  <a class="button" href="training-details.html">Save and continue</a>
</div>
