---
headerTitle: Advertising an Apprenticeship
---
<h1 class="heading-xlarge">Additional information</h1>
<fieldset class="fieldset--with-border">
  <legend class="heading-large">Reality check</legend>
  <div class="form-group">
    <label class="form-label" for="any-unusual">Any unusual working hours or conditions?</label>
    <textarea id="any-unusual" class="form-control"></textarea>
    <p class="form-hint">E.g. Evenings or weekends, heavy physical work</p>
  </div>
</fieldset>

<fieldset class="fieldset--with-border">
  <legend class="heading-large">Future prospects (optional)</legend>
  <div class="form-group">
    <label class="form-label" for="briefly-explain">Briefly explain what the candidate can expect once they have finished  the apprenticeship:</label>
    <p class="form-hint">What are the chances of there being a permanent job on offer?</p>
    <textarea id="briefly-explain" class="form-control"></textarea>
  </div>
</fieldset>

<fieldset>
  <legend class="heading-large">Contact details for further information (optional)</legend>
  <p class="form-hint">These details will appear in the advert.</p>
  <div class="form-group form-group--compound">
    <label class="form-label" for="contact-name">Contact name</label>
    <input id="contact-name" type="text" class="form-control">
  </div>
  <div class="form-group form-group--compound">
    <label class="form-label" for="contact-email">Email address</label>
    <input id="contact-email" type="email" class="form-control">
  </div>
  <div class="form-group">
    <label class="form-label" for="contact-tel">Telephone number</label>
    <input id="contact-tel" type="tel" class="form-control">
  </div>
</fieldset>

<div class="form-group">
  <a class="button" href="VacancyCheckDetails.html">Preview</a>
  <a class="button-link" href="TrainingDetails.html">Back</a>
</div>
