---
headerTitle: Apprenticeship Applications
---
    <main role="main" id="main">
        <section>
            <div id="content-wrapper">
                <div class="help-container">
                </div>
                <h1 class="heading-48">Apprenticeships</h1>
                <h2>Employer Role Submission - Complete</h2>
                <p>
                    Your vacancy has been submitted.
                </p>
                <p>
                    Your reference for this vacancy is: <b>VE1234556</b>
                </p>
                <p class="action group">
                <a class="button-link" href="ReviewDetails.html">Submit another role</a>
                    <a class="button" href="../employer.html">Finished</a>

                </p>
            </div>
        </section>
    </main>





