---
headerTitle: Advertising an Apprenticeship
---
    <main role="main" id="main">
        <section>
            <div id="content-wrapper">
                <h1 class="heading-48">About the Apprentice</h1>
                <fieldset class="separator">
                    <legend class="heading-36">What you want from an Apprentice</legend>
                    <p class="group">
                        <label for="" class="required">Skills desired</label>
                        <p>
                          <input id="" type="text" class="x-large">
                        </p>
                        <p>
                          <input id="" type="text" class="x-large">
                        </p>
                        <p>
                          <input id="" type="text" class="x-large">
                        </p>
                        <p><a href="#">+ Add a new skill</a></p>
                    </p>
                    <p class="group">
                        <label for="" class="required">Personal qualities desired</label>
                        <textarea id="" class="short" placeholder=""></textarea>
                    </p>
                    <p class="group">
                        <label for="">Required qualifications</label>
                        <textarea id="" class="short" placeholder=""></textarea>
                    </p>
                </fieldset>
                <fieldset class="separator">
                    <legend class="heading-36">Your extra questions for the application form</legend>
                    <p class="group">
                        <label for="">Question 1</label>
                        <input id="" type="text" class="x-large" tabindex="0">
                    </p>
                    <p class="group">
                        <label for="">Question 2</label>
                        <input id="" type="text" class="x-large" tabindex="0">
                    </p>
                    <p><a href="#">+ Add another question</a>
                </fieldset>

                <p class="action group">
                    <a class="button secondary" href="TrainingDetails.html">Back</a>
                    <a class="button" href="AdvertDetails.html">Continue</a>
                </p>
            </div>
        </section>
    </main>

