---
headerTitle: Register your organisation
---
    <main role="main" id="main">
        <section>
            <div id="content-wrapper">
                <h1>Register your organisation</h1>
                <fieldset>
                  <legend>Organisation details</legend>
                  <p class="group">
                    <label for="businessOrganDetails">Name of organisation</label><input type="text" width="100" id="businessOrganDetails" />
                  </p>
                  <label>Organisation type or sector</label>
                  <select>
                      <option value="Please select ">Please select </option>
                      <option value="Administration &amp; Human Resources">Administration &amp; Human Resources</option>
                      <option value="Agriculture &amp; Land Based Services">Agriculture &amp; Land Based Services</option>
                      <option value="Arts, Creative &amp; Cultural Industries">Arts, Creative &amp; Cultural Industries</option>
                      <option value="Automotive Industry &amp; Passenger Transport">Automotive Industry &amp; Passenger Transport</option>
                      <option value="Broadcast, Film &amp; Multimedia">Broadcast, Film &amp; Multimedia</option>
                      <option value="Chemical, Oil &amp; Nuclear Industry">Chemical, Oil &amp; Nuclear Industry</option>
                      <option value="Construction">Construction</option>
                      <option value="Customer Service &amp; Retail">Customer Service &amp; Retail</option>
                      <option value="Energy/Utilities Industry">Energy/Utilities Industry</option>
                      <option value="Engineering, Electricians &amp; Building Services">Engineering, Electricians &amp; Building Services</option>
                      <option value="Financial Services">Financial Services</option>
                      <option value="Food and Drink">Food and Drink</option>
                      <option value="Hair &amp; Beauty">Hair &amp; Beauty</option>
                      <option value="Hospitality &amp; Travel">Hospitality &amp; Travel</option>
                      <option value="Information Technology &amp; Communications">Information Technology &amp; Communications</option>
                      <option value="Logistics">Logistics</option>
                      <option value="Manufacturing &amp; Processing">Manufacturing &amp; Processing</option>
                      <option value="Marine Industry">Marine Industry</option>
                      <option value="Property">Property</option>
                      <option value="Public Services">Public Services</option>
                      <option value="Sports &amp; Fitness">Sports &amp; Fitness</option>
                  </select>
                  <p>
                    <label>Website address</label><input type="text" width="100" id="businessOrganDetails" placeholder="http://" />
                  </p>
                  <p>
                      <label>How many employees does your organisation have in the UK?</label>
                      <select>
                          <option value="Please select ">Please select </option>
                          <option value="&lt;9">&lt;9</option>
                          <option value="9-49">9-49</option>
                          <option value="50-249">50-249</option>
                          <option value="250-999">250-999</option>
                          <option value="1000-4999">1000-4999</option>
                          <option value="5000+">5000+</option>
                          <option value="Don't Know">Don't Know</option>
                      </select>
                  </p>
                  <p>
                      <label>Has your organisation recruited a new apprentice in the last 12 months?</label>
                      <ul class="option group inline">
                          <li>
                              <label><input type="radio" checked="checked" name="show-logo">Yes</label>
                          </li>
                          <li>
                              <label><input type="radio" name="show-logo">No</label>
                          </li>
                      </ul>
                  </p>
                </fieldset>


                <fieldset>
                  <legend>Contact details</legend>
                  <div>
                      <label>Who should we contact if we have any questions about your registration?</label>
                      <p>
                      <p>These details are for internal communications only, and will NOT be displayed on the advertisement.</p>
                      <p class="group">
                          <label for="name" class="required">Contact name</label>
                          <input id="name" type="text" class="name">
                      </p>
                      <p class="group">
                          <label for="job-title" class="required">Job title</label>
                          <input id="job-title" type="text" class="name">
                      </p>
                      <p class="group">
                          <label for="email" class="required">Contact email</label>
                          <input id="email" type="email" class="email">
                      </p>
                      <p class="group">
                          <label for="email-confirm" class="required">Re-type contact email</label>
                          <input id="email-confirm" type="email" class="email">
                      </p>
                      <p class="group">
                          <label for="telephone" class="required">Telephone</label>
                          <input id="telephone" type="text" class="small" placeholder="+44">&nbsp;<input id="telephone" type="text" class="telephone">
                      </p>

                  </div>
                </fieldset>
                <p class="action group">
                          <a class="button secondary" href="../employer.html">Back</a>
                          <a class="button" href="RegistrationSubmit.html">Continue</a>
                      </p>
            </div>
        </section>
    </main>
