---
headerTitle: Advertising an Apprenticeship
---
    <main role="main" id="main">
        <section>
            <div id="content-wrapper">

                <h2>Key dates</h2>
                <fieldset>
                    <legend class="hidden">Key dates</legend>
                    <p class="group">
                        <label class="required" for="">Closing date for applications</label>
                        <input id="" type="date" class="date">
                    </p>
                    <p class="group">
                        <label for="">Interview start date</label>
                        <input id="" type="date" class="date">
                    </p>
                    <p class="group">
                        <label class="required" for="">Approximate start date</label>
                        <input id="" type="date" class="date">
                    </p>

                </fieldset>

                <p class="action group">
                    <a class="button-link" href="eligibility-criteria.html">Back</a>
                    <a class="button " href="#">Continue</a>
                </p>
            </div>
        </section>
    </main>

