---
headerTitle: Advertising an Apprenticeship
---
    <main role="main" id="main">
        <section>
            <div id="content-wrapper">

                <h2>Preview before submitting</h2>
                <p class="action group">
                    <img src="../_assets/img/logos/vacancyDetails.png" alt="GOV.UK">
                </p>
                <a class="button secondary" href="VacancyCheckDetails.html">Back</a>
                <a class="button " href="VacancySubmitted.html">Submit vacancy</a>
            </div>
        </section>
    </main>
