
    <main role="main" id="main">
        <section>
            <div id="content-wrapper">
                <h1>Registration Details Submitted.</h1>
                <h2>What happens next</h2>
                <div class="validation-summary hidden">
                    <h3>There was a problem submitting the form</h3>
                    <p>Please try the following:</p>
                    <ol>
                        <li><a href="#error1">Enter your first name</a></li>
                    </ol>
                </div>
                  <p>We’ll check the details you’ve provided and get in touch if we have any questions.</p>
                  <p>If there are no problems, we’ll send you an email to say that your registration has been accepted. (We usually do this within 5 working days)</p>
                  <p>Once your registration has been accepted, you’ll be able to post vacancies and search our database of candidates.</p>
                  <p>If you have a question about your registration, call 08000 150 600.</p>
                <!-- <h2>Next Step: Find a learning Provider</h2>
                <p>
                    Before you can hire an apprentice, you need to choose a learning provider to work with. And the learning provider needs to confirm to us
                    that they’re working with you. This can take time. So you should get started while you’re waiting for us to accept your registration.
                </p> -->
                <p class="action group">
                    <a class="button" href="../employer.html" onclick="">Finish</a>
                </p>
            </div>
        </section>
    </main>

