
    <main role="main" id="main">
        <section>
            <ul id="content-wrapper">
                <li style="list-style:none;">

                    <h2>Find a training provider</h2>
                    <div class="validation-summary hidden">
                        <h3>There was a problem submitting the form</h3>
                        <p>Please try the following:</p>
                        <ol>
                            <li><a href="#error1">Enter your first name</a></li>
                        </ol>
                    </div>
                    <p class="group">
                        <label for="organisation-name" class="required">Postcode, Town or Place:</label>
                        <input id="organisation-name" type="text" class="large" placeholder="">
                    </p>
                    <p class="group">
                        <label for="organisation-name" class="required">Vacancy keyword(s)</label>
                        <input id="organisation-name" type="text" class="large" placeholder="eg. seamstress, dressmaker">
                    </p>
                    <p class="action group">
                        <a class="button secondary" href="../employer.html">Back</a>
                        <a class="button" href="training-provider-results.html">Search</a>
                        <a class="button secondary" href="#">Clear</a>
                    </p>
                </li>
                <p>We have found <b>10</b> training providers that might be suitable:</p>
                <p>Show nearest show </p>
                <p>Show highest rated</p>
                <ul style="list-style:none;">
                    <li style="min-height:150px;clear:both;border-bottom:1px solid #ddd;padding:15px 0;">
                        <img class="" style="float:left;margin-right:20px;" src="../_assets/img/logos/Kaplan.png">
                        <h4><a href="training-provider-details.html">Kaplan</a></h4>
                        <h5>
                            Distance: 10 miles.
                        </h5>
                        <p>
                            Kaplan helps individuals achieve their educational and career goals. We build futures one success story at a time.
                        </p>
                        <p>
                            Our core values define our company culture and provide the framework for what we deliver to our customers and employees each day.
                        </p>
                        <p>
                            Specialises in: <strong>engineering</strong>, Accountancy, Audit & Tax, Leadership & Management, Banking & Financial Services.
                        </p>
                        <p>
                            Rated **** for engineering (7 ratings)
                        </p>
                        <p>
                            Rated *** for all subjects (15 ratings)
                            <a style="float:right;" class="button" href="#">Select provider</a>
                        </p>
                    </li>
                    <li style="min-height:150px;clear:both;border-bottom:1px solid #ddd;padding:15px 0;">
                        <img class="" style="float:left;margin-right:20px;" src="../_assets/img/logos/AdultLearningAcad.png">
                        <h4><a href="#">Enfield Adult Education Centre</a></h4>
                        <h5>10 Old Street, Enfield EN11 6HJ</h5>
                        <h5>
                            Distance: 13 miles
                        </h5>
                        <p>
                            With the Adult Learning Academy, you will succeed in your chosen pathway as we inspire achievement and
                        </p>
                        <p>
                            consistently support all our learners.
                        </p>
                        <p>
                            Specialises in: <strong>engineering</strong>, Accountancy, Child care & Health and social care.
                        </p>
                        <p>
                            Rated **** for engineering (7 ratings)
                        </p>
                        <p>
                            Rated *** for all subjects (15 ratings)
                            <a style="float:right;" class="button" href="#">Select provider</a>
                        </p>
                    </li>
                    <li style="min-height:150px;clear:both;border-bottom:1px solid #ddd;padding:15px 0;">
                        <img class="" style="float: left; margin-right: 20px;" src="../_assets/img/logos/LondonMetroPolyUni.png">
                        <h4><a href="#">London Metropolitan University</a></h4>
                        <h5>166-220 Holloway Rd, London N7 8DB</h5>
                        <h5>
                            Distance: 7 miles
                        </h5>
                        <p>
                            Kaplan helps individuals achieve their educational and career goals. We build futures one success story at a time.
                        </p>
                        <p>
                            Our core values define our company culture and provide the framework for what we deliver to our customers and employees each day.
                        </p>
                        <p>
                            Specialises in: <strong>engineering</strong>, Accountancy, Audit & Tax, Leadership & Management, Banking & Financial Services.
                        </p>
                        <p>
                            Rated **** for engineering (7 ratings)
                        </p>
                        <p>
                            Rated *** for all subjects (15 ratings)
                            <a style="float:right;" class="button" href="#">Select provider</a>
                        </p>
                    </li>
                </ul>
            </ul>
        </section>
    </main>

