---
headerTitle: Advertising an Apprenticeship
---
    <main role="main" id="main">
        <section>
            <div id="content-wrapper">

                <h2>Find a training provider</h2>
                <div class="validation-summary hidden">
                    <h3>There was a problem submitting the form</h3>
                    <p>Please try the following:</p>
                    <ol>
                        <li><a href="#error1">Enter your first name</a></li>
                    </ol>
                </div>
                <p class="group">
                    <label for="organisation-name" class="required">Postcode, Town or Place:</label>
                    <input id="organisation-name" type="text" class="large" placeholder="">
                </p>
                <p class="group">
                    <label for="organisation-name" class="required">Vacancy keyword(s)</label>
                    <input id="organisation-name" type="text" class="large" placeholder="eg. seamstress, dressmaker">
                </p>
                <p class="action group">
                    <a class="button-link" href="../employer.html">Back</a>
                    <a class="button" href="training-provider-results.html">Search</a>
                    <a class="button-link" href="#">Clear</a>
                </p>
            </div>
        </section>
    </main>

