---
headerTitle: Advertising an Apprenticeship
---
    <main role="main" id="main">
        <section>
            <div id="content-wrapper">
                <h1 class="heading-48">Training details</h1>
                <fieldset class="separator">
                    <legend class="">Provider</legend>
                    <p class="group">
                        <h3>
                            Which college or learning provider are you using?
                        </h3>
                        <input id="organisation-name" type="text"  tabindex="0">
                        <a target="_blank" href="http://www.apprenticeships.org.uk/employers/find-an-apprenticeship-training-organisation.aspx">Need to find a training provider?</a>
                    </p>
                    <!-- <p class="group">
                        <h3>Qualifications</h3>
                    </p>
                    <p class="group">
                        <label>Please select from the list of qualifications below</label>
                        <label for="">This will be the qualification your apprentice will work towards during the apprenticeship</label>
                        </p>
                    <p class="group">
                        <select id="title">
                            <option value="">BTEC level 1 (construction and the built environment)</option>
                            <option value="">BTEC level 2 (construction and the built environment)</option>
                            <option value="">BTEC level 3 (construction and the built environment)</option>
                            <option value="">BTEC level 4 (construction and the built environment)</option>
                        </select>
                    </p> -->
                    </p>
                </fieldset>
                <p class="action group">
                    <a class="button-link" href="vacancy.html">Back</a>
                    <a class="button" href="eligibility-criteria.html">Continue</a>
                </p>
            </div>
        </section>
    </main>
