---
headerTitle: Advertising an Apprenticeship
---
<h1 class="heading-48">Training details</h1>
<fieldset>
  <legend class="heading-36">Provider</legend>
  <div class="form-group">
    <label for="organisation-name" class="form-label">Which provider are you using?</label>
    <input class="form-control" id="organisation-name" type="text">
    <p class="form-hint">
      <a rel="external" target="_blank" href="http://www.apprenticeships.org.uk/employers/find-an-apprenticeship-training-organisation.aspx">Need to find a training provider?</a>
    </p>
  </div>
  <div class="form-group">
    <label for="submit-without" class="block-label">
      <input type="checkbox" id="submit-without">
      Submit vacancy without selecting a training provider
    </label>
  </div>
</fieldset>
<div class="form-group">
  <a class="button" href="eligibility-criteria.html">Continue</a>
  <a class="button-link" href="vacancy.html">Back</a>
</div>
