---
headerTitle: Advertising an Apprenticeship
---
<h1 class="heading-48">Review and submit</h1>
<fieldset class="review-vacancy">
  <fieldset class="fieldset--with-border">
    <legend class="heading-36"><span class="vacancy-title">Organisation details</span>
      <a href="#" class="amend-answers">Amend these answers</a>
    </legend>

  </fieldset>
  <fieldset class="fieldset--with-border">
    <legend class="heading-36">Vacancy details
      <a href="#" class="amend-answers">Amend these answers</a>
    </legend>

  </fieldset>
  <fieldset class="fieldset--with-border">
    <legend class="heading-36">Training details
      <a href="#" class="amend-answers">Amend these answers</a>
    </legend>

  </fieldset>
  <fieldset class="fieldset--with-border">
    <legend class="heading-36">About the Apprentice
      <a href="#" class="amend-answers">Amend these answers</a>
    </legend>

  </fieldset>
  <fieldset class="fieldset--with-border">
    <legend class="heading-36">Additional information
      <a href="#" class="amend-answers">Amend these answers</a>
    </legend>

  </fieldset>
</fieldset>

<div class="form-group">
  <a class="button" href="complete.html">Submit</a>
  <a class="button-link" href="AdvertDetails.html">Back</a>
</div>