---
headerTitle: Advertising an Apprenticeship
---
    <main role="main" id="main">
        <section>
            <div id="content-wrapper">

                <h2>Vacancy details submitted</h2>
                <fieldset class="separator">
                    <legend class="heading-36">Your reference: VAC000393742</legend>
                    <img src="../_assets/img/logos/vacancyDetails.png" alt="GOV.UK">
                </fieldset>

                <p class="action group">
                    <a class="button-link" href="VacancyCheckDetails.html">Back</a>
                    <a class="button" href="../employer.html">Continue</a>
                </p>
            </div>
        </section>
    </main>

