
    <main role="main" id="main">
        <section>
            <div id="content-wrapper" class="review-vacancy">
                <h1>Review and submit</h1>
                <fieldset>
                  <legend>Organisation details</legend>
                  <a href="#" class="amend-answers">Amend your answers</a>
                </fieldset>
                <fieldset>
                  <legend>Vacancy details</legend>
                  <a href="#" class="amend-answers">Amend your answers</a>
                </fieldset>
                <fieldset>
                  <legend>Training details</legend>
                  <a href="#" class="amend-answers">Amend your answers</a>
                </fieldset>
                <fieldset>
                  <legend>About the Apprentice</legend>
                  <a href="#" class="amend-answers">Amend your answers</a>
                </fieldset>
                <fieldset>
                  <legend>Additional information</legend>
                  <a href="#" class="amend-answers">Amend your answers</a>
                </fieldset>
                <p class="action group">
                    <a class="button secondary" href="AdvertDetails.html">Back</a>
                    <a class="button" href="complete.html">Submit</a>
                </p>
            </div>
        </section>
    </main>

